{% extends "generalist_template.html"%}
{% load static %}
{% block content %}

<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace"></div>
    </div>
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-5 mx-auto p-2 " action='' enctype="multipart/form-data" method="post" runat="server">
        {% csrf_token %}
        <div class="text-center mx-auto mt-2 p-2 user-main-form">
            <div class="col-12 fieldWrapper">  
                <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
                  <h5 class="p-2 mx-auto"><i>Edition de '{{ old_game_name }}'</i></h5>
                </div>
                {{ gameCreateForm.non_field_error }} 
                <div class="fieldWrapper">
                    <label class="label-style" for="id_name">Nom du jeu: *</label>
                </div>
                <div class="fieldWrapper p-2">
                    <input type="text" name="name" class="form-control text-center col-10 col-sm-8 col-md-8 col-xl-6  mx-auto align-center" maxlength="20" minlength="1" required="" id="id_name" value="{{ old_game_name }}">
                        
                    </input>
                </div>
                <div class="fieldWrapper">
                    <label class="label-style" for="id_file">Selectionnez un fichier seulement si vous voulez la modifier:</label>
                </div>
                <div class="fieldWrapper">
                    <input type="file" name="file" accept=".jpg, .png" id="id_file" style="color: white;">
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <button type="button" class="file-submit submit-button btn btn-success align-center"  id="create-game-button">Enregistrer</button>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <img id="image-preview" class="col-xl-6 col-lg-6 col-md-12 col-xs-12" src="{{ MEDIA_URL }}{{ request.user.id}}/{{ old_game_name }}/{{ old_file_name }} " alt="" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script>
    

    /* FILE UPLOAD PREVIEW PART ; ONLY IMG */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
            }
                
            reader.readAsDataURL(input.files[0]);
        }
    }

    /* FILE LIST VIEW UPDATE CLASS */
    $("#id_file").change(function(){
        readURL(this);
    });

    /* UPLOAD FILE PART */
    $('.file-submit').on('click', function(e){
        let formData = new FormData();
        formData.append('old_game_name', '{{ old_game_name }}')
        formData.append( 'old_file_name', '{{ old_file_name }}')

        if($(this).parents().find('#id_file').prop('files').length > 0){
            let file_data = $('#id_file').prop('files')[0];
            let name = $('#id_name').val();
            formData.append('file', file_data);
            formData.append('name', name)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            formData.append('filename', file_data.name)
        }else{
            let name = $(this).parents().find('#id_name').val();
            formData.append('name', name)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        }
            $.ajax({
                url: '{% url "gestion:update_game" %}',
                type: 'post',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                async: false,
                cache: true,
                processData: false, 
                contentType: false, 
                dataType : 'json',
                data: formData,
                complete: function (){
                    window.location.href = '{% url "gesmjgenerator:update_game_view_success"%}'
                }
            })
    });
</script>
{% endblock%}