{% extends 'generalist_template.html' %}
{% block content %}
    {% if success %}
        <div class="container-fluid">
            <div class="row">
                <div class="col alert alert-success text-center" role="alert">
                    Votre compte a été activé avec succès.
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col alert alert-danger text-center" role="alert">
                    Votre compte n'a pu être activé. Votre compte a déjà été activé, si ce n'est pas le cap
                    veuillez contacter l'administrateur du site.
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
