<nav class="container-fluid navbar navbar-expand-lg navbar-dark top-navbar-background">
  <a class="navbar-brand" href="{% url 'gesmjgenerator:index_view' %}"><i class="fas fa-home navbar-text-color"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-text-color">Options</span>
        </a>
        <div class="dropdown-menu dropdown-option-menu-color" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dropdown-option-menu-color" data-toggle="modal" data-target="#ThemeModal" href=""><i class="fas fa-cogs"><span class="p-2 align-middle navbar-text-color"></i>Themes</span></a>
          <a class="dropdown-item" href=""><i class="fas fa-user-circle"><span class="p-2 align-middle"></i>Mon compte</span></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-option-menu-color" href="https://gesmjbugtracker.000webhostapp.com/bug_report_page.php"><i class="fas fa-bug"><span class="p-2 inside-navbar-text-color"></i>Signaler un bug</span></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item logout" href="{% url 'gestion:user_logout'%}"><i class="fas fa-sign-out-alt"><span class="p-2 align-middle"></i>Deconnexion</span></a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal Theme-->
<div class="modal fade" id="ThemeModal" tabindex="-1" role="dialog" aria-labelledby="ThemeModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="ThemeModalTitle">Themes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-xl-12 col-md-12 col-xs-12 col-sm-12 col-12 d-flex justify-content-center form-group">
            <form action="{% url 'gestion:select_theme' %}" method="post" class="" name="change-theme">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <label for="theme-choices" class="modal-label-text-color">Choisissez votre theme:</label>
                <select class="mdb-select md-form" id="theme-choices" name="theme">
                  <option value="" disabled selected>Votre choix</option>
                  <option value="stylesheet_default_color.css">Defaut</option>
                  <option value="stylesheet_blue.css">Bleu</option>
                </select>
              <div class="modal-footer form-group">
                <button type="submite" class="file-submit submit-button btn btn-success align-center">Enregistrer</button>
                <button type="button" class="btn btn-danger mx-auto" data-dismiss="modal">Fermer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>