{% load static %}
<nav class="container-fluid navbar navbar-expand-lg navbar-dark top-navbar-background">
  <a class="navbar-brand" href="{% url 'gesmjgenerator:index_view' %}"><i class="fas fa-home navbar-text-color"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-icone-color"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-text-color">Options</span>
        </a>
        <div class="dropdown-menu dropdown-option-menu-color" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dropdown-option-menu-color" data-toggle="modal" data-target="#ThemeModal" href=""><i class="fas fa-cogs"><span class="p-2 text-center inside-navbar-text-color"></i>Themes</span></a>
          <a class="dropdown-item dropdown-option-menu-color" href=""><i class="fas fa-user-circle"><span class="p-2 inside-navbar-text-color"></i>Mon compte</span></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-option-menu-color" href="https://gesmjbugtracker.000webhostapp.com/bug_report_page.php"><i class="fas fa-bug"><span class="p-2 inside-navbar-text-color"></i>Signaler un bug</span></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item logout" href="{% url 'gestion:user_logout'%}"><i class="fas fa-sign-out-alt"><span class="p-2 inside-navbar-text-color"></i>Deconnexion</span></a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-item nav-link" data-toggle="modal" data-target="#exampleModalLong" href=""><span class="navbar-text-color">Note rapide</span></a>
      </li>
    </ul>
    <form class="form-inline my-3 my-lg-0">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="dropdown ">
            <i class="form-control search-button-border-style"  id="keyword-select-menu"  data-toggle="dropdown" style="color:white"><i class="fas fa-search "></i></i>
            <ul class="dropdown-menu keyword-menu-dropdown col-4" role="menu" aria-labelledby="keyword-select-menu" >
              <li role="presentation" class="keyword-select search-switch-color" id="scenario">
                <div class="row search-button-cursor">
                  <a role="menuitem" tabindex="-1" href="#">
                    <img src="{% static '/fonts/new_scenario.svg' %}" class="dropdown-search-icon text-center"/>
                  </a>
                  <b class="text-justify">
                    scenario
                  </b>
                </div>
              </li>
              <li role="presentation" class="keyword-select search-switch-color" id="chapter">
                <div class="row search-button-cursor">
                  <a role="menuitem" tabindex="-1" href="#">
                    <img src="{% static '/fonts/new_chapter.svg' %}" class="dropdown-search-icon text-center"/>
                  </a>
                  <b class="text-justify">
                    chapitre
                  </b>
                </div>
              </li>
              <li role="presentation" class="keyword-select search-switch-color" id="scene">
                <div class="row search-button-cursor">
                  <a role="menuitem" tabindex="-1" href="#">
                    <img src="{% static '/fonts/new_scene.svg' %}" class="dropdown-search-icon text-center"/>
                  </a>
                  <b class="text-justify">
                    scène
                  </b>
                </div>
              </li>
              <li role="presentation" class="keyword-select search-switch-color" id="item">
                <div class="row search-button-cursor">
                  <a role="menuitem" tabindex="-1" href="#">
                    <img src="{% static '/fonts/new_item.svg' %}" class="dropdown-search-icon text-center"/>
                  </a>
                  <b class="text-justify">
                    objet
                  </b>
                </div>
              </li>
              <li role="presentation" class="keyword-select search-switch-color" id="npc">
                <div class="row search-button-cursor">
                  <a role="menuitem" tabindex="-1" href="#">
                    <img src="{% static '/fonts/new_npc.svg' %}" class="dropdown-search-icon text-center"/>
                  </a>
                  <b class="text-justify">
                    personnage
                  </b>
                </div>
              </li>
              <li role="presentation" class="keyword-select search-switch-color" id="location">
                <div class="row search-button-cursor">
                  <a role="menuitem" tabindex="-1" href="#">
                    <img src="{% static '/fonts/new_building.svg' %}" class="dropdown-search-icon text-center"/>
                  </a>
                  <b class="text-justify">
                    lieu
                  </b>
                </div>
              </li>
              <li role="presentation" class="keyword-select search-switch-color" id="document">
                <div class="row search-button-cursor">
                  <a role="menuitem" tabindex="-1" href="#">
                    <img src="{% static '/fonts/new_document.svg' %}" class="dropdown-search-icon text-center"/>
                  </a>
                  <b class="text-justify">
                    document
                  </b>
                </div>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <input class="form-control mr-sm-2 search-bar-style search-bar-border-style dropdown-toggle text-left" type="text" data-toggle="dropdown"  id="search-content" aria-haspopup="true" aria-expanded="false" type="search" placeholder="rechercher..." style="width:40vw" value="" aria-label="Search"/>
            <div class="dropdown-menu search-content-result search-bar-border-style result-color-switch" aria-labelledby="search-content" style="z-index:2048">
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>
<!-- Modal Theme-->
<div class="modal fade" id="ThemeModal" tabindex="-1" role="dialog" aria-labelledby="ThemeModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="ThemeModalTitle">Themes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-xl-12 col-md-12 col-xs-12 col-sm-12 col-12 d-flex justify-content-center form-group">
            <form action="{% url 'gestion:select_theme' %}" method="post" class="" name="change-theme">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <label for="theme-choices" class="modal-label-text-color">Choisissez votre theme:</label>
                <select class="mdb-select md-form" id="theme-choices" name="theme">
                  <option value="" disabled selected>Votre choix</option>
                  <option value="stylesheet_default_color.css">Defaut</option>
                  <option value="stylesheet_blue.css">Bleu</option>
                </select>
              <div class="modal-footer form-group">
                <button type="submite" class="file-submit submit-button btn btn-success align-center">Enregistrer</button>
                <button type="button" class="btn btn-danger mx-auto" data-dismiss="modal">Fermer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Notes-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="exampleModalLongTitle">Note rapide</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-xl-12 col-md-12 col-xs-12 col-sm-12 col-12">
              <p class="note-content-response-check"></p>
            </div>
            <div class="col col-xl-12 col-md-12 col-xs-12 col-sm-12 col-12">
              <textarea class="mx-auto col-md-12 col-xl-12 col-sm-12 col-12" id="note-content"  name="note-content"> {{ note }} </textarea>
            </div>
            <div class="col col-xl-12 col-md-12 col-xs-12 col-sm-12 col-12">
              <p class="character-remaining"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<script>
$(document).ready(function(){
  let search_word = '';
  let search_keyword = '';

  $("#search-content").on('click', function(e){
    $(".search-content-result").hide();
  })

  $('#search-content').val('');
  const array_keyword = new Map();
  array_keyword.set('scenario', 'rechercher un scénario...');
  array_keyword.set('chapter', 'rechercher un chapitre...');
  array_keyword.set('scene', 'rechercher une scène...');
  array_keyword.set('item', 'rechercher un objet...');
  array_keyword.set('location', 'rechercher un lieu...');
  array_keyword.set('npc', 'rechercher un PNJ...');
  array_keyword.set('document', 'rechercher un document...');

  $('.keyword-menu-dropdown').mouseleave(function () {
    $(".keyword-menu-dropdown").dropdown('toggle');
  });

  $('.keyword-select').on('click', function(){
    search_keyword = $(this).attr('id');
    $('#search-content').attr('placeholder', array_keyword.get(search_keyword)).focus()
  })
  
  $('#search-content').on('keydown', function(){
    $('.search-content-result').html('')
    search_word = $(this).val();
    $(".search-content-result").show();
    let game_name = "{{ game_name }}";
    let url = '{% url "gestion:search_content" %}';
    let redirect_url = '';
    $.ajax({
      url: url ,
      type: 'POST',
      dataType : 'json',
      headers: { "X-CSRFToken": "{{ csrf_token }}" },
      data: {
        'search_word': search_word,
        'keyword':search_keyword,
        'game_name':game_name
      },
      success: function (response_data) {
        if(response_data.no_result){
          $('.search-content-result').html("<span class='dropdown-item text-center' style='width:40vw'><b>pas de résultat trouvé...</b></span>") 
        }else if(response_data.data_information){ 
          const result = JSON.parse(response_data.data_information);
          let dynamic_url = ''
          let dynamic_id = ''
          for(let i = 0 ; i < result.length ; i++){
            if(i < 5){
              dynamic_id = result[i]['pk']
              console.log(search_keyword)
              switch(search_keyword){
                case 'scenario':
                  dynamic_url = '{% url "gesmjgenerator:display_selected_scenario_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());
                  break;
                case 'chapter':
                  dynamic_url = '{% url "gesmjgenerator:display_selected_chapter_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());
                  break;
                case 'scene':
                  dynamic_url = '{% url "gesmjgenerator:display_selected_scene_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());
                  break;
                case 'npc':
                  dynamic_url = '{% url "gesmjgenerator:display_selected_npc_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());
                  break;
                case 'item':
                  dynamic_url = '{% url "gesmjgenerator:display_selected_item_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());
                  break;
                case 'location':
                  dynamic_url = '{% url "gesmjgenerator:display_selected_location_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());
                  break;
                case 'document':
                  dynamic_url = '{% url "gesmjgenerator:display_selected_document_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());
                  break;
              }
              console.log(dynamic_url)
              $('.search-content-result').append("<a class='dropdown-item text-justify search-result-color-switch' style='width:40vw' href='"+ dynamic_url + "'> " + result[i]['fields']['name'] + "</a>")
              
            }else{
              redirect_url = "{% url 'gesmjgenerator:display_all_research_result_view' game_name=game_name search_word='search_word' search_keyword='search_keyword' %}".replace(/search_word/, search_word.toString()).replace(/search_keyword/, search_keyword.toString());
              $('.search-content-result').append("<a class='dropdown-item text-justify search-result-color-switch' style='width:40vw' href='"+ redirect_url +"'><i class='' style='font-size:0.7em'>Afficher l'entièreté des résultats...</i></a>")
              break;
            }
          } 
        }else if(response_data.bad_or_no_keyword){
          $('.search-content-result').html("<span class='dropdown-item text-center' style='width:40vw'><b class='search-result-color-switch'>veuillez selectionner un mot clé...</b></span>") 
        }
      }
    });
  })
})
</script>
{% endblock %}