<nav class="col-12 navbar navbar-expand-lg navbar-dark top-navbar-background">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "gesmjgenerator:index_view"%}">Présentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nouveautés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </a>
                <div class="dropdown-menu dropdown-menu-right p-3 m-1" style="background-color:rgba(0,0,0,.25)">
                    <div id="dropdown-item card">
                        <div class="card-header">
                            <h3 class="text-center" style="color:white">Connectez vous</h3>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'gestion:login_check' %}" name="login_form" method="post" class="loginForm">
                            {% csrf_token %}
                            {% for field in loginForm %}
                            {% if field.name == "username" %}
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fas fa-user" id="span_username"></span>
                                    </div>
                                    <input type="text" name="username" class="form-control" maxlength="25" id="username"  placeholder="{{ field.label }}" required >
                                </div>
                            {% else %}
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fas fa-keyboard" id="span_password"></span>
                                    </div>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="{{ field.label }}" required >
                                </div>
                            {% endif %}
                            {% endfor %}
                                <div class="row align-items-center">
                                    <input type="submit" value="Connexion" class="btn btn-success mx-auto login_btn">
                                </div>
                            </form>
                        </div>
                            {% if error != None %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {% for value in error.values %}
                                        {{ value }}
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="card-footer">
                                <div class="d-flex justify-content-center log-error">

                                </div>
                                <div class="d-flex justify-content-center links">
                                    <span class="align-bottom p-2" style="color:white">Vous n'avez pas de compte?</span><a class="p-2" href="{% url 'gesmjgenerator:create_user_view' %}">Créez le maintenant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>