{% extends 'generalist_template.html' %}
{% block header %}
    {% load static %}
    {# Permit to edit html field #}
    {% load widget_tweaks %}
{% endblock %}

{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row ">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row">
        <div class="col-12 container-whitespace mb-2 pb-2">
            {# OUTPUT MESSAGE FIELD #}
            {% if 'failed' in request.path %}
                <div class="col alert alert-danger text-center w-100" role="alert">
                    {% if '/creation/failed/name_already_taken' in request.path %}
                        <p>Un scenario portant ce nom existe déjà, veuillez en choisir un autre.</p>
                    {% elif '/creation/failed/invalid_image_format' in request.path %}
                        <p>Vous devez choisir un format d'image valide pour créer votre jeu</p>
                        <p>Formats valides: <b>jpg, png, svg</b></p>
                    {% elif 'failed/fatal_error' in request.path %}
                        <p>Erreur critique, veuillez contacter l'administateur du site</p>
                    {% elif '/game/edition/failed/unknown_file_or_game' in request.path %}
                        <p>Votre jeu n'a pas pu être mis à jour, le jeu ou l'image selectionné n'existe pas.</p>
                    {% elif 'scenario/creation/fail/unknown_game_error' in request.path %}
                        <p> Le scenario pour votre jeu n'a pas pu être créér, visiblement le jeu que vous avez selectionné n'existe pas.</p>
                    {% elif 'change_theme/failed/unknown_stylesheet' in request.path %}
                        <p> Le theme que vous avez selectionné n'existe pas...</p>
                    {% endif %}
                </div>
            {% elif '/creation/success' in request.path %}
                <div class="col alert alert-success text-center w-100" role="alert">
                    <p> Le jeu '<b>{{ game_name }}</b>' a correctement été créér.</p>
                </div>
            {% elif '/game/edition/success/' in request.path %}
                <div class="col alert alert-success text-center w-100" role="alert">
                    <p>Votre jeu a correctement été modifié.</p>
                </div>
            {% elif 'delete/success' in request.path %}
                <div class="col alert alert-success text-center w-100" role="alert">
                    <p>Votre jeu a correctement été supprimé.</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card card-color card-size col-xl-2 col-md-5 col-lg-5  col-sm-8 col-10 create-new-game-card" id="create-game-card">
            <h5 class="card-title text-center"><b>Créer un nouveau jeu</b></h5>
            <a href="{% url 'gesmjgenerator:create_game_view' %}" class="link-brightness"><img class="card-img-top game-card-image-sizing mx-auto link-brightness" src="{% static '/fonts/sword.svg' %}" style="border:0px" alt="Card image cap"></a>
        </div>
        {% for game in user_game_list%}
            <div class="card card-color card-size col-xl-2 col-md-5 col-lg-5 col-sm-8 col-10 create-game-card" id="create-game-card-{{ game.id }}">
                <h5 class="card-title title-break text-center"><b>{{ game.name }}</b></h5>
                <a href="{% url 'gesmjgenerator:game_content_view' game_name=game.name %}" class="link-brightness"><img class="card-img-top game-card-image-sizing link-brightness" src="{{ MEDIA_URL }}{{ request.user.id}}/{{ game.name }}/{{ game.file}} " alt=" {{ game.file   }}"></img></a>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item card-list-color pt-3"><a href="{% url 'gesmjgenerator:update_game_view' game_name=game.name %}" class="card-text-url-edition card-text-no-url-style"><p class="card-text-edition"><i class="fas fa-edit"></i> Editer ce jeu</p></a></li>
                        <li class="list-group-item card-list-color pt-3"><a href="{% url 'gestion:delete_game' game_name=game.name %}" class="card-text-url-deletion"><p class="card-text-edition card-text-no-url-style"><i class="fas fa-trash-alt"></i> Supprimer ce jeu</p></a></li>
                    </ul>
                </div>
            </div>     
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xl-10 col-md-12 col-sm-12 col-xs-12 mx-auto mt-5 pb-3 card card-color" style="border-radius:2vh">
            <h5 class="card-title text-center last-created-style mt-3"><b>Derniers contenus ajoutés</b></h5>
            <table class="table table-striped mt-3 mb-3" style="border-radius:2vh">
            <thead>
                <tr>
                <th scope="col-1 text-color"><span class="text-color">Type</span></th>
                <th scope="col-4 text-color" class="text-center"><span class="text-color">Nom</span></th>
                <th scope="col-4 text-color"><span class="text-color">Date de création</span></th>
                <th scope="col-1 text-color"><span class="text-color">lien</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="game onhover-color">
                <th scope="row">Jeu</th>
                {% if informations.game %}
                <td class="text-center text-break">{{ informations.game.name }}</td>
                <td>{{ informations.game.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:game_content_view' game_name=informations.game.name %}"> <i class="fas fa-eye card-text-no-url-style eye-color-1"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
                <tr class="scenario onhover-color">
                <th scope="row">Scénario</th>
                {% if informations.scenario %}
                <td class="text-center text-break">{{ informations.scenario.name }}</td>
                <td>{{ informations.scenario.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:display_selected_scenario_view' game_name=informations.game.name pk=informations.scenario.id %}"> <i class="fas fa-eye card-text-no-url-style eye-color-2"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
                <tr class="chapter onhover-color">
                <th scope="row">Chapitre</th>
                {% if informations.chapter %}
                <td class="text-center text-break">{{ informations.chapter.name }}</td>
                <td>{{ informations.chapter.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:display_selected_chapter_view' game_name=informations.game.name pk=informations.chapter.id %}"> <i class="fas fa-eye card-text-no-url-style eye-color-1"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
                <tr class="scene onhover-color">
                <th scope="row">Scène</th>
                {% if informations.scene %}
                <td class="text-center text-break">{{ informations.scene.name }}</td>
                <td>{{ informations.scene.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:display_selected_scene_view' game_name=informations.game.name pk=informations.scene.id %}"> <i class="fas fa-eye card-text-no-url-style eye-color-2"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
                <tr class="location onhover-color">
                <th scope="row">Lieu</th>
                {% if informations.location %}
                <td class="text-center text-break">{{ informations.location.name }}</td>
                <td>{{ informations.location.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:display_selected_location_view' game_name=informations.game.name pk=informations.location.id %}"> <i class="fas fa-eye card-text-no-url-style eye-color-1"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
                <tr class="npc onhover-color">
                <th scope="row">Pnj</th>
                {% if informations.npc %}
                <td class="text-center text-break">{{ informations.npc.name }}</td>
                <td>{{ informations.npc.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:display_selected_npc_view' game_name=informations.game.name pk=informations.npc.id %}"> <i class="fas fa-eye card-text-no-url-style eye-color-2"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
                <tr class="item onhover-color">
                <th scope="row">Objet</th>
                {% if informations.item %}
                <td class="text-center text-break">{{ informations.item.name }}</td>
                <td>{{ informations.item.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:display_selected_item_view' game_name=informations.game.name pk=informations.item.id %}"> <i class="fas fa-eye card-text-no-url-style eye-color-1"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
                <tr class="document onhover-color">
                <th scope="row">Document</th>
                {% if informations.document %}
                <td class="text-center text-break">{{ informations.document.short_name }}</td>
                <td>{{ informations.document.created_at|date:'d M Y à H:i' }}</td>
                <td><a href="{% url 'gesmjgenerator:display_selected_document_view' game_name=informations.game.name pk=informations.document.id  %}"> <i class="fas fa-eye card-text-no-url-style eye-color-2"></i></a></td>
                {% else %}
                <td></td>
                <td></td>
                <td><i class="fas fa-eye-slash eye-unallowed "></i></td>
                {% endif %}
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}



