<!doctype html>
<html lang="fr" SameSite=Lax Secure>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" SameSite=Lax Secure >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>GesMj</title>

        {% load static %}
        {# Permit to edit html field #}
        {% load widget_tweaks %}

        <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %} " type="text/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/google-fonts-list.css' %}"  type="text/css"/>
        <script src="{% static 'ckeditor/ckeditor.js'%}" type="text/javascript"></script>
        <script src="{% static 'jquery/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'tinycolor/tinycolor.js' %}" type="text/javascript"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block title %}
            {% if user.is_authenticated %}
                <script src="{% static 'tinycolor/tinycolor.js' %}" type="text/javascript"></script>
                <link rel="stylesheet" href="{% static 'css/' %}{{ user.user_stylesheet }}"  type="text/css"/>
                <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}"  type="text/css"/>
                <script src="{% static 'select2/select2.min.js' %}" type="text/javascript"></script>
                {% with request.get_full_path as path %}
                    {% if path == '/'%}
                        {% include "top-pannel-logged-in-index.html" %}
                    {% elif "/ingame/" in path or "/overview" in path %}
                        {% include "top-pannel-logged-and-in-game.html" %}
                        {% block not_editable_js %}
                            <script>
                                $('.logout').on('click', function(){
                                    $.ajax({
                                        type:'POST',
                                        url:'{% url "gestion:user_logout" %}',
                                        data:{
                                            csrfmiddlewaretoken: '{{ csrf_token }}',
                                            action: 'post'
                                        },
                                        success(json){
                                        }
                                    });  
                                })

                                {# custom config for note, with wysiwyg editor. #}
                                let my_editor = CKEDITOR.replace( 'note-content', {
                                    customConfig: "{% static 'ckeditor/config_note.js'%}"
                                });
                                let char_remaining_maximum = 1200; 
                                let char_remaining_now = 0;
                                $('.note-content-response-check').hide()
                                my_editor.on('change', function(evt){
                                    let note =  evt.editor.getData()
                                    char_remaining_now = char_remaining_maximum - evt.editor.getData().length;
                                    $('.character-remaining').text(char_remaining_now +" caractères restants.")
                                    if(char_remaining_now >= 0){
                                        let game_id = '{{ game_id }}'
                                        $.ajax({
                                            url: '{% url "gestion:save_note" %}',
                                            type: 'post',
                                            csrfmiddlewaretoken: '{{ csrf_token }}',
                                            cache: true,
                                            dataType : 'json',
                                            data:{
                                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                                'game_id': game_id,
                                                'note': note,
                                            },
                                            success: function (response_data) {
                                                if(response_data['success']){
                                                    $('.note-content-response-check').html("<div class='col alert alert-success text-center' role='alert'><i class='fas fa-exclamation-circle'></i> Votre note a été sauvegardée")
                                                    $('.note-content-response-check').show()
                                                }
                                            }
                                        });
                                    }else{
                                        $('.note-content-response-check').html("<div class='alert alert-warning text-center' id='success-alert' role='alert'><i class='fas fa-exclamation-circle'></i> Votre notre n'a pu être sauvegardée. </div>")
                                        $('.character-remaining').text(char_remaining_now +" caractères restants. Attention, votre note n'a pas été sauvegardée, vous devez la raccourcir.").css('color','red')
                                        $('.note-content-response-check').show()
                                    }
                                    $(".note-content-response-check").fadeTo(5000, 1000).slideUp(1000, function(){
                                        $("#success-alert").slideUp(1000);
                                    });
                                });
                                
                                $(".alert-danger, .alert-success").fadeTo(5000, 1000).slideUp(1000, function(){
                                    $("#success-alert").slideUp(1000);
                                });
                            </script>
                        {% endblock %}
                    {% else %}
                        {% include "top-pannel-logged-in.html" %}
                    {% endif %}
                {% endwith %}
            {% else %} 
                {% include "top-pannel.html" %}
                <link rel="stylesheet" href="{% static 'css/stylesheet_default_color.css' %}"  type="text/css"/>
            {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>