{% extends 'generalist_template.html' %}
{% load static %}
{% block content %}    

<div class="container-fluid content-row ">
{% with request.get_full_path as path %}
{% if path == "/account/user/create/success"%}
    <div class="row no-gutters">
        <div class="col alert alert-success text-center" role="alert">
            Votre compte a bien été créé, vous allez recevoir un email d'activation qui vous permettra de vous connecter
        </div>
    </div>
{% elif path == "/account/user/create/error"%}
    <div class="row no-gutters">
        <div class="col alert alert-danger text-center" role="alert">
            La création de votre compte n'a pu aboutir, veuillez réessayer ou contacter l'administrateur du site.
        </div>
    </div>
{% elif "/email/confirmation/" in path %}
    {% if success %}
        <div class="row no-gutters">
            <div class="col alert alert-success text-center" role="alert">
                Votre compte a été activé avec succès.
            </div>
        </div>
    {% endif %}
{% elif '/login/fail' in path %}
<div class="alert alert-danger col-10 mx-auto p-2 login-alert" role="alert">
    <p class="login-alert-text text-center" ><i class="fas fa-exclamation-circle"></i> les identifiants que vous avez utilisé sont invalides.</p>
</div>
{% endif %}
{% endwith %}
<div class="row no-gutters mt-5">  
    <div class="col-12">
        <div class="col-xl-6 col-md-6 col-lg-8 col-sm-10 mx-auto backgrond-transparency-color pt-5 pb-1 break-text presentation-text-color presentation-police-size ">
            
            <p class=" text-center break-text"><b>xxx</b> est une application web qui permet au MJ de se simplifier la vie lors de la gestion de ses parties et de tout avoir à porter de mains.</p>
        <hr class="hr-presentation-style">
            <p class="pt-3 text-justify break-text">
                <b>A</b>près avoir longuement pratiqué avec des scenarii papier, l'idée de créer <b>xxx</b> m'est venue. L'idée est de proposer une application web pour s'organiser de manière simple et sans recherches rebarbatives.
            </p>
            <p class="text-justify break-text">
                <b>P</b>our résumer : tout ce que j'ai toujours voulu avoir en tant que MJ pour simplifier la tâche.
                <b>C</b>ette appli se veut simple et n'est pas un gros système de Tabletop, simplement un compagnon informatique pour le MJ. 
            </p>
            <p class="text-justify break-text"><b>L</b>e MJ pourra ainsi gérer en plus du scenario (découpé en Campagne / Scenario / Scène) :</p>
            <ul>
                <li class="mb-2">les pnj : fiches du PNJ, description, compétences, équipement.</li>
                <li class="mb-2">les différents lieux importants : description, qui s'y trouve, objets dans le lieu.</li>
                <li class="mb-2">consulter ses documents sous format pdf.</li>
                <li class="mb-2">Les objets importants de la partie.</li>
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% block javascript %}
<script>
let background_img = "{% static '/fonts/wallpaper.jpg' %}"
$('body').css({"background-image": "url(" + background_img + ")", "border-radius": '0%','height': '100vh','background-size': 'cover'})
$('.alert').fadeOut(5000)
</script>
{% endblock %}

