html,
body {
    background-color: #070a0ea2;
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .container-content {
        height: 100vh;
    }
    /* dropdown item search engine image size */
    .dropdown-search-icon {
        height: 10vh;
        width: 8vw;
        margin: 0;
        padding: 0;
    }
    /* inside game card image sizing */
    .new-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        height: 20vh;
        border-radius: 5vh;
    }
    .new-blocked-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        height: 30vh;
        border-radius: 5vh;
    }
    /* new game card image sizing  and overview-img*/
    .overview-img,
    .new-game-default-image {
        display: block;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1vh;
        width: 80%;
        height: 80%;
    }
    /* already created game card image sizing */
    .game-card-image-sizing {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 50vw;
        max-height: 50vh;
        border: none;
    }
    /* WYSIWYG */
    .cke_editor_create-description {
        max-width: 82vw;
        height: 50vh;
        margin: auto;
    }
    /**********************************
    *********** IMG GALLERY ***********
    **********************************/
    .image-gallery-name {
        width: 90vw;
    }
    .gallery-image-size {
        width: 90vw;
        height: 30vh;
    }
    /******************************
    ****** MODAL IMAGE GALLERY ****
    ******************************/
    .modal-dialog {
        width: 90vw;
        margin: auto;
        margin-top: 3vh;
    }
    .pdf-iframe {
        width: 80vw;
        margin: auto;
    }
    .doc-icone-sizing {
        height: 60vh;
        width: 60vw;
        margin-left: 17vw;
    }
    .plus-skill,
    .minus-skill,
    .plus-attr,
    .minus-attr,
    .plus-inventory {
        cursor: pointer;
        max-width: 5vw;
        max-height: 5vh;
    }
    .npc-img-top {
        width: 60vw;
        height: 30vh;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.99px) {
    .container-content {
        height: 100vh;
    }
    /* dropdown item search engine image size */
    .dropdown-search-icon {
        height: 15vh;
        width: 13vw;
    }
    /* inside game card image sizing */
    .new-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 30vw;
        height: 40vh;
        border-radius: 5vh;
    }
    .new-blocked-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        min-width: 35vw;
        max-width: 35vw;
        min-height: 40vh;
        max-height: 40vh;
        border-radius: 5vh;
    }
    /* new game card image sizing  and overview-img*/
    .overview-img,
    .new-game-default-image {
        display: block;
        margin-top: 4vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1vh;
        width: 80%;
        height: 80%;
    }
    /* already created game card image sizing */
    .game-card-image-sizing {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 30vw;
        max-height: 45vh;
    }
    /* WYSIWYG */
    .cke_editor_create-description {
        max-width: 82vw;
        height: 50vh;
        margin: auto;
    }
    /**********************************
    *********** IMG GALLERY ***********
    **********************************/
    .image-gallery-name {
        width: 25vw;
    }
    .gallery-image-size {
        width: 25vw;
        height: 25vh;
    }
    /******************************
    ****** MODAL IMAGE GALLERY ****
    ******************************/
    .modal-dialog {
        width: 100vw;
    }
    .pdf-iframe {
        width: 63vw;
        margin: auto;
    }
    .doc-icone-sizing {
        height: 50vh;
        width: 50vw;
    }
    .plus-skill,
    .minus-skill,
    .plus-attr,
    .minus-attr,
    .plus-inventory {
        cursor: pointer;
        max-width: 5vw;
        max-height: 5vh;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .container-content {
        min-height: 90vh;
    }
    /* dropdown item search engine image size */
    .dropdown-search-icon {
        height: 10vh;
        width: 8vw;
    }
    .new-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 30vw;
        height: 20vh;
        border-radius: 1vh;
    }
    .new-blocked-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 25vw;
        height: 30vh;
        border-radius: 1vh;
    }
    /* new game card image sizing  and overview-img*/
    .overview-img,
    .new-game-default-image {
        display: block;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1vh;
        width: 80%;
        height: 80%;
    }
    /* already created game card image sizing */
    .game-card-image-sizing {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 30vw;
        max-height: 45vh;
    }
    /* WYSIWYG */
    .cke_editor_create-description {
        max-width: 82vw;
        height: 50vh;
        margin: auto;
    }
    /**********************************
    *********** IMG GALLERY ***********
    **********************************/
    .image-gallery-name {
        width: 25vw;
        font-weight: bold;
    }
    .gallery-image-size {
        width: 25vw;
        height: 20vh;
    }
    .card-img-top {
        width: 25vw;
        height: 22vh;
    }
    /******************************
    ****** MODAL IMAGE GALLERY ****
    ******************************/
    .modal-dialog {
        width: 100vw;
    }
    .pdf-iframe {
        width: 56vw;
        margin: auto;
    }
    .doc-icone-sizing {
        height: 20vh;
        width: 20vw;
    }
    .img-preview-size {
        max-width: 20vw;
        max-height: 30vh;
    }
    .img-preview-size:hover {
        max-width: 40vw;
        max-height: 60vh;
    }
    .plus-skill,
    .minus-skill,
    .plus-attr,
    .minus-attr,
    .plus-inventory {
        cursor: pointer;
        max-width: 5vw;
        max-height: 5vh;
    }
    .card-img-top {
        width: 25vw;
        height: 22vh;
    }
    /***********************
    ******** NPC IMAGE *****
    ************************/
    .npc-img-top {
        width: 25vw;
        height: 22vh;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-content {
        min-height: 90vh;
    }
    /* dropdown item search engine image size */
    .dropdown-search-icon {
        height: 5vh;
        width: 5vw;
    }
    /* inside game card image sizing */
    .new-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 40vw;
        height: 50vh;
        border-radius: 5vh;
    }
    .new-blocked-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 25vw;
        height: 30vh;
        border-radius: 5vh;
    }
    /* already created game card image sizing */
    .game-card-image-sizing {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 30vw;
        height: 30vh;
    }
    /* new game card image sizing  and overview-img*/
    .overview-img,
    .new-game-default-image {
        display: block;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1vh;
        width: 80%;
        height: 80%;
    }
    /* WYSIWYG */
    .cke_editor_create-description {
        max-width: 100vw;
        height: 100vh;
        margin: auto;
    }
    /**********************************
    *********** IMG GALLERY ***********
**********************************/
    .image-gallery-name {
        width: 30vw;
        font-weight: bold;
    }
    .gallery-image-size {
        width: 30vw;
        height: 30vh;
    }
    /******************************
    ****** MODAL IMAGE GALLERY ****
    ******************************/
    .modal-dialog {
        width: 100vw;
    }
    .pdf-iframe {
        width: 75vw;
        margin: auto;
    }
    .fullsize-frame {
        width: 100vw;
        height: 100vh;
    }
    .doc-icone-sizing {
        height: 20vh;
        width: 20vw;
    }
    .img-preview-size {
        max-width: 10vw;
        max-height: 20vh;
    }
    .img-preview-size:hover {
        max-width: 20vw;
        max-height: 50vh;
    }
    .plus-skill,
    .minus-skill,
    .plus-attr,
    .minus-attr,
    .plus-inventory {
        cursor: pointer;
        max-width: 10vw;
        max-height: 10vh;
    }
}


/* 1080p devices (large desktops, 1201px and 1979) */

@media (min-width: 1201px) and (max-width: 1979px) {
    .container-content {
        min-height: 90vh;
    }
    /* dropdown item search engine image size */
    .dropdown-search-icon {
        height: 5vh;
        width: 4vw;
    }
    /* inside game card image sizing */
    .new-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 10vw;
        height: 15vh;
        border-radius: 1vh;
    }
    .new-blocked-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 10vw;
        height: 13vh;
        border-radius: 1vh;
    }
    /* new game card image sizing  and overview-img*/
    .overview-img,
    .new-game-default-image {
        display: block;
        margin-top: 4vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1vh;
        width: 80%;
        height: 80%;
    }
    /* already created game card image sizing */
    .game-card-image-sizing {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 10vw;
        max-height: 20vh;
    }
    /* WYSIWYG */
    .cke_editor_create-description {
        max-width: 50vw;
        height: 100vh;
    }
    /**********************************
    *********** IMG GALLERY ***********
    **********************************/
    .gallery-picture-shadow {
        box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
    }
    .image-gallery-name {
        width: 15vw;
        font-weight: bold;
    }
    .gallery-image-size {
        width: 15vw;
        height: 20vh;
    }
    .pdf-iframe {
        width: 40vw;
        margin: auto;
    }
    .doc-icone-sizing {
        height: 25vh;
        width: 25vw;
    }
    .display-pdf {
        width: 70%;
        height: 70%;
        margin: auto;
    }
    .img-preview-size {
        max-width: 10vw;
        max-height: 20vh;
    }
    .img-preview-size:hover {
        max-width: 30vw;
        max-height: 60vh;
    }
    .plus-skill,
    .minus-skill,
    .plus-attr,
    .minus-attr,
    .plus-inventory {
        cursor: pointer;
        max-width: 3vw;
        max-height: 3vh;
    }
    /***********************
    ******** NPC IMAGE *****
    ************************/
    .npc-img-top {
        width: 12vw;
        height: 22vh;
    }
}


/* 1080p devices (large desktops, 1980px and up) */

@media (min-width: 1980px) {
    .container-content {
        height: 100vh;
    }
    /* dropdown item search engine image size */
    .dropdown-search-icon {
        height: 5vh;
        width: 4vw;
    }
    /* inside game card image sizing */
    .new-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 10vw;
        height: 20vh;
        border-radius: 1vh;
    }
    .new-blocked-card-object-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 10vw;
        height: 20vh;
        border-radius: 1vh;
    }
    /* new game card image sizing  and overview-img*/
    .overview-img,
    .new-game-default-image {
        display: block;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 25vw;
        max-height: 25vh;
    }
    /* WYSIWYG */
    .cke_editor_create-description {
        max-width: 50vw;
        height: 100vh;
    }
    /**********************************
    *********** IMG GALLERY ***********
    **********************************/
    .image-gallery-name {
        width: 15vw;
        font-weight: bold;
    }
    .gallery-image-size {
        width: 15vw;
        height: 20vh;
    }
    .pdf-iframe {
        width: 60vw;
        margin: auto;
    }
    .doc-icone-sizing {
        height: 25vh;
        width: 25vw;
    }
    .display-pdf {
        width: 70%;
        height: 70%;
        margin: auto;
    }
    .img-preview-size {
        max-width: 10vw;
        max-height: 20vh;
    }
    .img-preview-size:hover {
        max-width: 20vw;
        max-height: 50vh;
    }
    .plus-skill,
    .minus-skill,
    .plus-attr,
    .minus-attr,
    .plus-inventory {
        cursor: pointer;
        max-width: 5vw;
        max-height: 5vh;
    }
}

.nave-link-note {
    border: none;
    cursor: pointer;
}

.url-path {
    text-decoration: none;
}

.url-path:hover {
    text-decoration: none;
}

.main-container-fluid-div {
    height: 100vh;
}

.errorlist {
    list-style: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


/*************************************************
************** GENERAL LINK STYLE ****************
*************************************************/

a,
a:hover,
a:active,
a:visited,
a:link {
    text-decoration: none;
}


/***************************************************
****************** BASIC CARDS STYLE ***************
***************************************************/


/* basic .card style */

.card {
    margin: 0.5%;
    min-height: 38vh;
    border-radius: 2vh;
}


/* dashboard  on hover : less brightness */


/* in a game .card style */

.game-card-image-sizing:hover,
.new-card-object-image:hover,
.link-brightness:hover {
    cursor: pointer;
}


/*  card url decoration */

.card-text-url-edition {
    text-decoration: none;
}


/* blocked card style */


/***************************************************
*************** BLOCKED CARDS STYLE ****************
***************************************************/

.blocked-card {
    margin: 0.5%;
    min-height: 38vh;
    cursor: not-allowed;
    filter: brightness(80%);
    border-radius: 2vh;
}

.new-blocked-card-object-cursor {
    cursor: not-allowed;
}

.blocked-card-text-error {
    font-style: italic;
}

.card,
.user-main-form,
.login-windows,
.gallery-picture-shadow,
.detailed_note {
    border: 1px #000005 solid;
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}

.card-list-color {
    border: none;
}


/******************************
******** CARD URL STYLE *******
*******************************/


/********************************
********* IMAGE GALLERY *********
********************************/

.pointer-action {
    cursor: zoom-in;
}

.picture-display-button {
    font-size: bold;
    border: none;
    line-height: 0;
}

.picture-display-button:hover {
    line-height: 0;
    border: none;
}


/******************************
****** MODAL IMAGE GALLERY ****
************ STYLE ************
******************************/

.modal-header {
    border-bottom: none;
}

.red-button {
    font-weight: bold;
}

.green-button {
    font-weight: bold;
}

.modal-footer {
    border-top: none;
}

.close {
    opacity: 0%;
}

.close:hover {
    opacity: 0%;
}

i,
.edit-title-pointer {
    cursor: pointer;
}

iframe {
    height: 88vh;
}


/********************************
********** LABEL STYLE **********
********************************/

label {
    font-weight: bold;
}


/********************************
******** FILE INPUT STYLE *******
*********************************/

#id_file {
    border: none;
}

.image-preview-size {
    max-width: 15vw;
    max-height: 30vh;
}


/***********************************
************* NPC STYLE ************
***********************************/

#template-stats-view-button,
#template-background-view-button,
#template-inventory-view-button,
#template-stylesheet-view-button {
    cursor: pointer;
}

.stats-style {
    height: 2vh;
    width: 2vw;
}

select {
    font-family: 'FontAwesome';
    scrollbar-width: none;
    text-align-last: center;
    direction: ltr;
    /*For Firefox*/
    ;
    -ms-overflow-style: none;
    /*For Internet Explorer 10+*/
    ;
    overflow: hidden
}

select:-webkit-scrollbar {
    /*For WebKit Browsers*/
    width: 0;
    height: 0;
    overflow: hidden
}

.no-scroll::-webkit-scrollbar,
.no-scroll::-moz-scrollbar,
.no-scroll::-o-scrollbar,
.no-scroll::-google-ms-scrollbar,
.no-scroll::-khtml-scrollbar {
    display: none;
}


/***********************************
*********** LABEL SIZE *************
***********************************/

.url-path:hover,
.navbar-text-color:hover,
.card-size:hover {
    transform: scale(1.1);
    z-index: 1500;
}


/*********************************
******** DISABLED BUTTON *********
*********************************/

.btn-success:disabled {
    background-color: darkslategrey;
    color: grey;
    border: none;
}

.btn-success:hover:disabled {
    background-color: darkslategrey;
    color: grey;
    cursor: not-allowed;
}


/**********************************
************ TOOLTIP **************
**********************************/

.tooltip-symbol {
    cursor: help;
    color: red;
}


/*********************************
************ NPC *****************
*********************************/

.npc-avatar-image-button {}

.template-button {
    cursor: pointer;
    box-shadow: 0.15vw 0.1vh 0vw 0vw #000005;
}

.inventory-slot {
    cursor: pointer;
    border: 1px solid gray;
    background-color: whitesmoke;
    /*width: 30px;
    height: 50px;*/
    height: 8vh;
    width: 20vw;
}

.inventory-slot:hover {
    background-color: red;
}

.npc-character-sheet {
    cursor: pointer;
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.justify-this-text {
    text-align: justify!important;
}

.item-informations-style {
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
    border-color: #36393F
}


/**********************************
*********** INPUT STYLE ***********
**********************************/

input {
    text-align: center;
}

.btn-outline-success,
.picture-display-button,
.picture-display-button:hover {
    border: none;
}

input[type="checkbox"],
.npc-sheet-cursor,
.edit-cursor,
.selector-mousestyle {
    cursor: pointer;
}

.no-cursor {
    cursor: not-allowed;
}


/*************************************
************* CARD FONT **************
*************************************/


/*************************************
************* LOGIN FONT *************
*************************************/

.jumbotron {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-break {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/********************************************
************ GESMJ DESCRIPTION **************
********************************************/

.break-text {
    word-break: break-word;
}

.backgrond-transparency-color {
    background-color: rgba(16, 17, 17, 0.7);
    border-color: rgb(16, 17, 17);
    border-radius: 1vh;
}

.hr-presentation-style {
    background-color: whitesmoke;
    opacity: 50%
}

.presentation-police-size {
    font-size: 1.1em;
}

.npc-scroller {
    min-height: 10vh;
    max-height: 30vh;
    overflow-y: scroll;
    /*scrollbar-color: rebeccapurple green;*/
    scrollbar-width: thin;
}

.scroller {
    max-height: 30vh;
    overflow-y: scroll;
    /*scrollbar-color: rebeccapurple green;*/
    scrollbar-width: thin;
}

.suppress-confirmation-choice-msg-header {
    background-color: darkred;
    font-size: 1.1em;
}

.suppress-confirmation-choice-msg-text {
    word-break: break-word;
}

.text-white-color {
    color: whitesmoke;
}

.delete-button-style-cancel {
    color: #e9040faf
}

.delete-button-style-cancel:hover {
    color: #e90410;
}

.delete-button-style {
    color: #00ff2a;
}

.delete-button-style:hover {
    color: #51ff00;
}

.search-button-cursor {
    cursor: pointer;
}

.keyword-menu-dropdown {
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
    border-radius: 2%;
    border: 1px solid black;
}

.search-bar-style {
    background: whitesmoke;
    border-radius: 0 2% 2% 2%;
}

input.search-bar-style::placeholder {
    text-align: center;
}

input.search-bar-style::-ms-input-placeholder {
    text-align: center;
}

input.search-bar-style:-ms-input-placeholder {
    text-align: center;
}

.search-bar-border-style {
    border-left: none;
}

.search-button-border-style {
    border-right: none;
    border-radius: 0%;
}

.last-created-style {
    font-size: 1.2em;
    text-align: center;
}