html,
body {
    background-color: #091D34;
}


/* already created game card image sizing */

.game-card-image-sizing {}


/**********************************
*********** IMG GALLERY ***********
**********************************/

.image-gallery-name {
    background-color: #000005;
}


/***********************************
********** MAIN CONTAINER **********
***********************************/

.user-main-form-title {}


/***************************************************
*************** BLOCKED CARDS STYLE ****************
***************************************************/

.blocked-card {}

.blocked-card-text-error {
    color: red;
}


/******************************
******** CARD URL STYLE *******
*******************************/

.card-text-no-url-style {
    color: #000005
}


/******************************
****** MODAL IMAGE GALLERY ****
************ STYLE ************
******************************/

.fade {
    background-color: rgba(0, 0, 0, .90);
}

.modal-header {}

.red-button {
    background-color: #6e050a;
    color: #FFFFE0;
}

.url-path-div,
.red-button:hover {
    background-color: #a0040c;
    color: #FFFFE0;
}

.green-button,
.card-text-edition,
.modal-title,
.modal-text {
    color: #091D34;
}

.green-button:hover {
    background-color: #2ca021
}

.user-main-form-title {}

.green-button {
    background-color: #E1ECF9;
}

.card-color,
.login-windows,
.gallery-picture-shadow {
    border: 2px #000005 solid;
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}


/********************************
******* CORE TEXT COLOR *********
********************************/

body,
.npc-main-form,
.image-gallery-name,
.main-container-fluid-div,
#template-stats-view-button,
#template-background-view-button,
#template-inventory-view-button,
#template-stylesheet-view-button,
.text-color,
.modal-image,
.label-style,
.card-title,
.modal-footer,
.modal-content,
.url-separator,
.image-gallery-name,
.user-main-form-title,
.picture-display-button,
.character-remaining {
    color: #133863;
}

.url-path,
.welcome-username,
.navbar-text-color,
.presentation-text-color {
    color: #FBA90A;
}

.circle-color,
.remove-field,
.npc-name-field {
    color: #133863;
}

.circle-color:hover,
.remove-field:hover {
    color: #1258DC;
}

.url-path:hover,
.navbar-text-color:hover {
    color: #FDCD6D;
}

.url-separator {
    color: #FFFFE0;
}

#id_file,
.card-text-statistics-url,
.user-main-form {
    color: #133863;
}

.outside-main-form-title,
.edit-font-awesome-style,
.note-name {
    color: #FFFFE0;
}

.user-main-form-title,
.btn-secondary {
    color: #091D34;
}

.navbar-nav>li>.dropdown-menu>a {
    color: #133863;
}


/****************************************
********** CORE BACKGROUND COLOR ********
****************************************/

.container-content,
.top-navbar-background,
.url-container-background-image {
    background-color: #091D34;
}

.modal-text,
.modal-footer,
.modal-image,
.modal-content,
.nave-link-note,
.detailed_note,
.btn-secondary {
    background-color: #FFFFE0;
    border: none;
}

.url-path:hover,
.navbar-text-color:hover {
    color: #FDCD6D;
    font-weight: bolder;
}

.template-button {
    background-color: #FBA90A;
    color: #0A337F;
}

.template-button:hover,
.template-button-activated {
    background-color: #FFFFE0;
    color: #0A337F;
}

.picture-display-button {
    background-color: #091D34;
    color: #FBA90A;
}

.gallery-picture-shadow {
    background-color: #FFFFE0;
}

.picture-display-button:hover,
.search-switch-color:hover {
    background-color: #FDCD6D;
    color: #091D34
}

.image-gallery-name,
.gallery-picture-shadow {
    border: solid #1d1d1dbe solid;
}

.card,
.blocked-card {
    border: 0.5vh solid #0A337F;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #FFFFE0;
    border: 1px black solid
}

.navbar-nav>li>.dropdown-menu>a:hover {
    background-color: #FDCD6D;
}

.navbar-nav>li>.dropdown-menu {
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}

.navbar-nav>li>.dropdown-toggle:after,
.edit-font-awesome-style:hover {
    color: #FDCD6D;
}

.card-list-color {
    background-color: #FFFFE0;
    color: #000005;
}

.card-color,
.blocked-card,
.user-main-form,
.stat-border {
    background-color: #FFFFE0;
    border: 0.15vw #0A337F solid;
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}

.selected-for-delete-font {
    border: none;
    box-shadow: none;
    background-color: #041330;
}

.selected-for-delete-font:hover {
    border: 0.15vw #E0A800 solid;
}

.card-list-color {
    background-color: #FFFFE0;
}

.detailed_note {
    background-color: #FFFFE0;
    border: 0.25vw #FFFFE0 solid;
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}

.npc-main-form {
    background-color: #FFFFE0;
}

.card-list-color {
    border: none;
}

.user-main-form-title {}

.stats-style,
.picture-display-button:hover {
    border: 1px black solid;
    font-size: large;
}

.btn-outline-success:hover {
    color: #091D34;
    background-color: #FDCD6D;
}

.npc-template-save-button:hover {
    background-color: #FDCD6D;
}

.selected_attribute_color,
.edited-content {
    color: #06ec06;
}

.npc-statistics-color,
.npc-statistics-colorfull {
    color: #FBA90A;
}

.writted-content {
    background-color: #FFFFE0
}

h5 {
    color: #091D34
}

.item-informations-style {
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
    border-color: #4e4f52b9;
    background-color: #FFFFE0;
    color: #091D34;
}

.last-element-added-style {
    color: whitesmoke;
}


/* TABLE STYLE IN DASHBOARD */

.text-color {
    color: #091D34;
}

.table-striped {
    border-color: #000005;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #F5F5F5;
}

.table-striped tbody tr:nth-of-type(2n+1):hover {
    background-color: #FDCD6D;
    color: #000005;
}

.table-striped tbody tr:nth-of-type(2n) {
    background-color: #81b6e0;
    color: #F5F5F5;
}

.table-striped tbody tr:nth-of-type(2n):hover {
    background-color: #FDCD6D;
    color: #000005;
}

.eye-color-1 {
    color: #000005;
}

.eye-color-2 {
    color: #F5F5F5;
}

.eye-unallowed {
    color: #e90410;
    cursor: not-allowed;
}

.select-button-style {
    color: whitesmoke;
}

.select-button-style:hover,
.switched-button-style:hover {
    color: #FDCD6D;
}

.switched-button-style {
    color: #FBA90A;
}

.error-msg-color,
.search-result-color-switch {
    color: #091D34;
}

.npc-scroller {
    scrollbar-color: #0A337F rgba(255, 255, 128, .0);
}

.scroller {
    scrollbar-color: #0A337F rgba(255, 255, 128, .0);
}

.search-bar-border-style {
    background-color: #FFFFE0;
    border: 1px #0A337F solid;
}

.search-button-border-style {
    background-color: lightslategray;
    border: 1px #0A337F solid;
}

.search-result-color-switch:hover {
    background-color: #FDCD6D;
}