html,
body {
    background-color: #121518;
}


/* already created game card image sizing */

.game-card-image-sizing {}


/**********************************
*********** IMG GALLERY ***********
**********************************/

.image-gallery-name {
    background-color: #000005;
}


/***********************************
********** MAIN CONTAINER **********
***********************************/

.user-main-form-title {}


/***************************************************
*************** BLOCKED CARDS STYLE ****************
***************************************************/

.blocked-card {}

.blocked-card-text-error {
    color: red;
}


/******************************
******** CARD URL STYLE *******
*******************************/

.card-text-no-url-style {
    color: #000005
}


/******************************
****** MODAL IMAGE GALLERY ****
************ STYLE ************
******************************/

.fade {
    background-color: rgba(0, 0, 0, .90);
}

.modal-header {}

.red-button {
    background-color: #6e050a;
    color: #36393F;
}

.url-path-div,
.red-button:hover {
    background-color: #a0040c;
    color: #36393F;
}

.green-button,
.card-text-edition,
.modal-title,
.modal-text {
    color: #121518;
}

.green-button:hover {
    background-color: #16ff00
}

.user-main-form-title {}

.green-button {
    background-color: #36393F;
}

.card,
.login-windows,
.gallery-picture-shadow {
    border: 2px #000005 solid;
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}


/********************************
******* CORE TEXT COLOR *********
********************************/

body,
.npc-main-form,
.image-gallery-name,
.main-container-fluid-div,
.card-text-edition,
.text-color,
.modal-image,
.card-title,
.modal-footer,
.modal-content,
.url-separator,
.image-gallery-name,
.user-main-form-title,
.picture-display-button,
.character-remaining,
.presentation-text-color {
    color: #F5F5F5;
}

.label-style {
    color: #36393F
}

.url-path,
.welcome-username,
.navbar-text-color {
    color: #16ff00;
}

.circle-color,
.remove-field,
.npc-name-field {
    color: #121518;
}

.circle-color:hover,
.remove-field:hover {
    color: #36393F;
}

.url-path:hover,
.navbar-text-color:hover {
    color: #16ff00;
}

.inside-navbar-text-color {
    color: #36393F;
}

.inside-navbar-text-color:hover {
    color: #121518;
}

.url-separator {
    color: #36393F;
}

#id_file,
.card-text-statistics-url,
.user-main-form {
    color: #F5F5F5;
}

.outside-main-form-title,
.edit-font-awesome-style,
.note-name {
    color: #F5F5F5;
}

.user-main-form-title,
.btn-secondary {
    color: #121518;
}

.navbar-nav>li>.dropdown-menu>a {
    color: #121518;
}


/****************************************
********** CORE BACKGROUND COLOR ********
****************************************/

.container-content,
.top-navbar-background,
.url-container-background-image,
.url-container {
    background-color: #121518;
}

.modal-text,
.modal-footer,
.modal-image,
.modal-content,
.nave-link-note,
.detailed_note,
.btn-secondary {
    background-color: #36393F;
    border: none;
}

.fa-home,
.fa-door-open {
    color: #F5F5F5
}

.url-path:hover,
.navbar-text-color:hover {
    color: #16ff00;
    font-weight: bolder;
}

.template-button>p,
.template-button {
    background-color: #16ff00;
    color: #2F3136;
}

.template-button:hover>p,
.template-button:hover {
    background-color: #F5F5F5;
    color: #2F3136;
}

.template-button-activated>p,
.template-button-activated {
    background-color: #F5F5F5;
    color: #2F3136;
}

.picture-display-button {
    background-color: #121518;
    color: #16ff00;
}

.npc-character-sheet {
    color: #2F3136;
}

.gallery-picture-shadow {
    background-color: #36393F;
}

.picture-display-button:hover {
    background-color: #00ff2a;
    font-size: large;
    color: #121518
}

.image-gallery-name,
.gallery-picture-shadow {
    border: solid #1d1d1dbe solid;
}

.card,
.blocked-card {
    border: 0.5vh solid #2F3136;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #F5F5F5;
    border: 1px black solid
}

.navbar-nav>li>.dropdown-menu>a:hover {
    background-color: #00ff2a;
}

.navbar-nav>li>.dropdown-menu {
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}

.navbar-nav>li>.dropdown-toggle:after,
.edit-font-awesome-style:hover {
    color: #00ff2a;
}

.card-list-color {
    background-color: #36393F;
    color: #000005;
}

.card-color,
.blocked-card,
.user-main-form,
.stat-border {
    background-color: #36393F;
    border: 0.15vw #2F3136 solid;
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}

.selected-for-delete-font,
.selected-for-delete-date {
    border: none;
    box-shadow: none;
    background-color: #121314;
}

.selected-for-delete-font:hover {
    border: 0.15vw #E0A800 solid;
}

.card-list-color {
    background-color: #36393F;
}

.detailed_note {
    background-color: #36393F;
    border: 0.25vw #36393F solid;
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
}

.npc-main-form {
    background-color: #F5F5F5;
}

.card-list-color {
    border: none;
}

.user-main-form-title {}

.stats-style,
.picture-display-button:hover {
    border: 1px black solid
}

.btn-outline-success:hover,
.search-switch-color:hover {
    color: #121518;
    background-color: #00ff2a;
}

.npc-template-save-button:hover {
    background-color: #00ff2a;
}

.npc-statistics-color,
.selected_attribute_color,
.npc-statistics-colorfull {
    color: #16ff00;
}

.writted-content {
    background-color: #FFFFFA
}

h5,
.label-style,
p,
.outside-main-form-title {
    color: #F5F5F5
}

.fa-plus,
.fa-minus,
.temp-text-family-font,
.temp-title-family-font,
.text-font {
    color: #36393F
}

.alert-success>p {
    color: #36393F;
}

.item-informations-style {
    box-shadow: 0.25vw 0.20vh 0.5vw 0.15vw #000005;
    border-color: #4e4f52b9;
    background-color: #36393F
}

p {
    word-break: break-all;
}

.last-element-added-style {
    color: whitesmoke;
}


/* TABLE STYLE IN DASHBOARD */

.text-color {
    color: #F5F5F5
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #F5F5F5
}

.table-striped tbody tr:nth-of-type(2n+1):hover {
    background-color: #00ff2a;
    color: black;
}

.table-striped tbody tr:nth-of-type(2n) {
    background-color: #8c8d8f;
    color: #F5F5F5;
}

.table-striped tbody tr:nth-of-type(2n):hover {
    background-color: #00ff2a;
    color: black;
}

.table-striped {
    border-color: #000005;
}

.eye-color-1 {
    color: #000005;
}

.eye-color-2 {
    color: #F5F5F5;
}

.eye-unallowed {
    color: #c50f18;
    cursor: not-allowed;
}

.select-button-style {
    color: whitesmoke
}

.select-button-style:hover,
.switched-button-style:hover {
    color: #00ff2a
}

.select-button-style-cancel:hover {
    color: #e90410;
}

.switched-button-style {
    color: #16ff00;
}

.error-msg-color,
.search-result-color-switch {
    color: #36393F;
}

.npc-scroller {
    scrollbar-color: #16ff00 rgba(255, 255, 128, .0);
}

.scroller {
    scrollbar-color: #16ff00 rgba(255, 255, 128, .0);
}

.search-bar-border-style {
    background-color: rgba(245, 245, 245, 0.979);
    border: 1px #36393F solid;
}

.search-button-border-style {
    background-color: #36393F;
    border: 1px #36393F solid;
}

.search-result-color-switch:hover {
    background-color: #16ff00;
}