{% extends "generalist_template.html"%}
{% load static %}
{% block content %}

<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
            {% if 'invalid_document_format' in request.path %}
            <div class="col alert alert-danger text-center w-100" role="alert">
                    <p>Vous devez choisir un format d'image valide pour créer votre jeu</p>
                    <p>Formats valides: <b>jpg, png</b></p>   
            </div>
            {% endif %}
        </div>
    </div>
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-5 mx-auto p-2 " action="{% url 'gestion:upload_game_image' game_name=game_name %}" enctype="multipart/form-data" method="post" runat="server">
        {% csrf_token %}
        <div class="text-center mx-auto mt-2 p-2 user-main-form">
            <div class="col-12 fieldWrapper">  
                <div class="mb-5 col-sm-12 col-xl-10 mx-auto user-main-form-title">
                <h6 class="p-2 mx-auto text-center"><i>Mise en ligne d'une image pour <b>'{{ game_name }}'</b></i></h6>
                </div>
                {{ UploadImageFileForm.non_field_error }} 
                {% for field in UploadImageFileForm %}
                <div class="fieldWrapper">
                    <label class="game-creation-label" for="{{ field.id_for_label }}">{{ field.label }} <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour sauvegarder votre image">*</span>:</label></label>
                </div>
                <div class="fieldWrapper p-2">
                    {{ field }}
                </div>
                {% if field.name == "id_file"%}
                <div class="fieldWrapper">
                    <label class="game-creation-file-upload p-2" for="{{ field.id_for_label}}">{{ field.label }}</label>
                </div>
                <div class="fieldWrapper">
                    <input type="file" id="id_file" name="file" class="form-control text-center col-10 col-sm-8 col-md-8 col-xl-6  mx-auto align-center p-2"></input>
                </div>
                <div class="fieldWrapper">
                    {{ gameCreateForm.field.help_text }}
                </div>
                {% endif %}
                {% if field.errors %}
                    <div class="fieldWrapper">
                        {{ field.errors|escape }}
                    </div>
                {% endif %}
                {% endfor %}
                <div class="name-check-response fieldWrapper mx-auto p-2"></div>
                <div class="fieldWrapper mx-auto p-2">
                    <button type="submit" class="file-submit submit-button btn btn-success align-center"  id="create-game-button">Enregistrer</button>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <img id="image-preview" class="col-xl-6 col-lg-6 col-md-12 col-xs-12" src="#" alt="" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script>
    

    /* FILE UPLOAD PREVIEW PART ; ONLY IMG */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    /* FILE LIST VIEW UPDATE CLASS */
    $("#id_file").change(function(){
        readURL(this);
    });

   
    /* UPLOAD FILE PART */
    $('.file-submit').on('submit', function(e){
        let file_data = $(this).parents().find('#id_file').prop('files')[0];
        let name = $(this).parents().find('#id_name').val();
        let formData = new FormData();
        let game_name = '{{ game_name }}';
        let url = '{% url "gestion:upload_game_image" game_name=' + game_name + '%}'
        formData.append('game_name', game_name);
        formData.append('file', file_data);
        formData.append('name', name)
        formData.append('type', 'picture')
        formData.append('filename', file_data.name);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            $.ajax({
                url: url ,
                type: 'post',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                async: false,
                cache: true,
                processData: false, 
                contentType: false, 
                dataType : 'json',
                data: {
                    'formData':formData,
                    'game_name':game_name
                },
                success: function (response_data) {
                }
            })
    });


$('.file-submit').css('display', 'none')

$('#document-create-name').on('change', function(){
    let game_name = '{{ game_name }}';
    let type = "picture"
    let document_name = $('#document-create-name').val();
    let url = '{% url "gestion:file_name_check" game_name=game_name type="type" target_name="document_name" id="0" order="0" %}'.replace(/type/, type.toString()).replace(/document_name/, document_name.toString());
        $.ajax({
            url: url,
            type: 'POST',
            processData: false, 
            contentType: false, 
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:'',
            success: function (data){
                $(".name-check-response, .order-check-response").css('display', 'none')
                if(data.response_data.success_name){
                    $(".name-check-response").html('<div class="alert alert-success col-3 text-center mx-auto p-2" role="alert"><i class="far fa-check-circle"></i> ' + data.response_data.success_name +' </div>')
                    $('.file-submit').css('display', 'inline');
                }else{
                    $(".name-check-response").html('<div class="alert alert-warning col-3 text-center mx-auto p-2" role="alert"><i class="fas fa-exclamation-circle"></i> ' + data.response_data.fail_name +' </div>')
                    $('.file-submit').css('display', 'none')
                }
                $(".name-check-response").fadeTo(5000, 1000).slideUp(1000, function(){
                    $(".name-check-response").slideUp(1000);
                });
            },
            fail: function(response_data){

            }
        })
});
</script>
{% endblock%}
