{% extends "generalist_template.html"%}
{% load static %}
{% block content %}

<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace"></div>
    </div>
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-5 mx-auto p-2 " action="{% url 'gestion:create_game'%}" enctype="multipart/form-data" method="post" runat="server">
        {% csrf_token %}
        <div class="text-center mx-auto mt-2 p-2 user-main-form">
            <div class="col-12 fieldWrapper">  
                <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
                  <h5 class="p-2 mx-auto"><i>Création d'un nouveau jeu</i></h5>
                </div>
                {{ gameCreateForm.non_field_error }} 
                {% for field in gameCreateForm %}
                <div class="fieldWrapper">
                    <label class="label-style" for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                <div class="fieldWrapper p-2">
                    {{ field }}
                </div>
                {% if field.name == "id_file"%}
                <div class="fieldWrapper">
                    <label class="game-creation-file-upload p-2" for="{{ field.id_for_label}}">{{ field.label }}</label>
                </div>
                <div class="fieldWrapper">
                    <input type="file" id="id_file" name="file" class="form-control text-center col-10 col-sm-8 col-md-8 col-xl-6  mx-auto align-center p-2"></input>
                </div>
                <div class="fieldWrapper">
                    {{ gameCreateForm.field.help_text }}
                </div>
                {% endif %}
                {% if field.errors %}
                    <div class="fieldWrapper">
                        {{ field.errors|escape }}
                    </div>
                {% endif %}
                {% endfor %}
                <div class="fieldWrapper mx-auto p-2">
                    <button type="submit" class="file-submit submit-button btn btn-success align-center"  id="create-game-button">Enregistrer</button>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <img id="image-preview" class="col-xl-6 col-lg-6 col-md-12 col-xs-12" src="#" alt="" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script>
    

    /* FILE UPLOAD PREVIEW PART ; ONLY IMG */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
            }
                
            reader.readAsDataURL(input.files[0]);
        }
    }

    /* FILE LIST VIEW UPDATE CLASS */
    $("#id_file").change(function(){
        readURL(this);
    });

    /* UPLOAD FILE PART */
    $('.file-submit').on('submit', function(e){
        let file_data = $(this).parents().find('#id_file').prop('files')[0];
        let name = $(this).parents().find('#id_name').val();
        let formData = new FormData();
        formData.append('file', file_data);
        formData.append('name', name)
        formData.append('filename', file_data.name);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            $.ajax({
                url: '{% url "gestion:create_game" %}',
                type: 'post',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                async: false,
                cache: true,
                processData: false, 
                contentType: false, 
                dataType : 'json',
                data: formData,
                success: function (response_data) {
                }
            })
    });

</script>
{% endblock%}