{% extends "generalist_template.html"%}
{% load static %}
{% block content %}

<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-10 mx-auto p-2 " action="{% url 'gestion:create_location' game_name=game_name %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-center mx-auto mt-2 p-2 user-main-form">
                <div class="col-12 fieldWrapper">  
                    <div class="col-sm-12 col-xl-7 mx-auto user-main-form-title">
                          <h5 class="p-2 mx-auto"><i>Création d'un nouveau <b>lieu</b> pour <b>{{ game_name }}</b></i></h5>
                    </div>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <label class="label-style mx-auto" for="{{ LocationCreateForm.name.id_label }}">{{ LocationCreateForm.name.label }} <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour sauvegarder votre lieu">*</span>:</label>
                </div>
                <div class="fieldWrapper mx-auto">
                    {{ LocationCreateForm.name | safe }}
                </div>
                <div class="name-check-response fieldWrapper mx-auto">
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <label class="label-style mx-auto" for="{{ LocationCreateForm.description.id_label }}">{{ LocationCreateForm.description.label }}:</label>
                </div>
                <div class="fieldWrapper mx-auto">
                    {{ LocationCreateForm.media}}
                    {{ LocationCreateForm.description | safe }}
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <label class="label-style mx-auto" for="{{ LocationCreateForm.file.id }}">{{ LocationCreateForm.file.label }}:</label>
                </div>
                <div class="fieldWrapper mx-auto">
                    {{ LocationCreateForm.file}}
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <button type="submit" class="file-submit submit-button btn btn-success align-center"  id="create-game-button">Enregistrer</button>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <label class="label-style mx-auto img-preview" for="image-preview">Previsualisation de votre image:</label>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <img id="image-preview" class="col-xl-6 col-lg-6 col-md-12 col-xs-12 " src="#" alt="" />
                </div>
            </div>
        </form>
    </div>
    
</div>

{% endblock %}

{% block javascript %}
<script>
    $(".img-preview").hide()
    /* FILE UPLOAD PREVIEW PART ; ONLY IMG */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
                $(".img-preview").show()
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    /* FILE LIST VIEW UPDATE CLASS */
    $("#id_file").change(function(){
        readURL(this);
    });

$('#create-game-button').css('display', 'none')

$('.input-name').on('change', function(){
    let game_name = '{{ game_name }}';
    let type = "location"
    let location_name = $('#location-create-name').val();
    let url = '{% url "gestion:file_name_check" game_name=game_name type="type" target_name="location_name" id="0" order="0" %}'.replace(/type/, type.toString()).replace(/location_name/, location_name.toString())
        $.ajax({
            url: url,
            type: 'POST',
            processData: false, 
            contentType: false, 
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:'',
            success: function (data){
                $(".name-check-response, .order-check-response").css('display', 'none')
                if(data.response_data.success_name){
                    $(".name-check-response").html('<div class="alert alert-success col-3 text-center mx-auto p-2" role="alert"><i class="far fa-check-circle"></i> ' + data.response_data.success_name +' </div>')
                    $('#create-game-button').css('display', 'inline');
                }else{
                    $(".name-check-response").html('<div class="alert alert-warning col-3 text-center mx-auto p-2" role="alert"><i class="fas fa-exclamation-circle"></i> ' + data.response_data.fail_name +' </div>')
                    $('#create-game-button').css('display', 'none')
                }
                $(".name-check-response").fadeTo(5000, 1000).slideUp(1000, function(){
                    $(".name-check-response").slideUp(1000);
                });
            },
            fail: function(response_data){

            }
        })
    });
</script>
{% endblock%}