{% extends "generalist_template.html"%}
{% load static %}

{% block content %}

<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
     <form name="file_upload_form" class="game-create-form create-content-form col-xl-10 mx-auto p-2 " action="{% url 'gestion:create_detailed_note' game_name=game_name%}" enctype="multipart/form-data" method="post" runat="server">
        {% csrf_token %}
        <div class="text-center mx-auto mt-2 p-2 user-main-form">
            <div class="col-12 fieldWrapper">  
                <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
                  <h5 class="p-2 mx-auto"><i>Création d'une nouvelle note</i></h5>
                </div>
                {{ noteCreateForm.non_field_error }} 
                <div class="fieldWrapper mx-auto">
                    <label class="label-style mx-auto" for="{{ noteCreateForm.name.id_label }}">{{ noteCreateForm.name.label }}: </label>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    {{ noteCreateForm.name }}
                </div>
                <div class="fieldWrapper mx-auto">
                    <label class="label-style mx-auto" for="{{ noteCreateForm.note.id_label }}">{{ noteCreateForm.note.label }}: </label>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    {{ noteCreateForm.media }}
                    {{ noteCreateForm.note | safe }}
                </div>
                <div class="name-check-response mx-auto p-2">
                </div>

                <div class="fieldWrapper mx-auto p-2">
                    <button type="submit" class="file-submit submit-button btn btn-success align-center"  id="create-game-button">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
