{% extends "generalist_template.html"%}
{% load static %}
{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:npc_template_selection_view" game_name=game_name %}' class="url-path"> vos modèles </a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace"></div>
        {# DISPLAY ERRORS / SUCCESS MSG #}
            {% if 'error' in request.path %}
                <div class="col alert alert-danger text-center w-100" role="alert">
                    {% if '/scenario/creation/success' in request.path %}
                        <i class='fas fa-exclamation-circle'></i>&nbsp;<p>Le nom que vous avez essayé d'utiliser est déjà prit.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
            <h5 class="p-2 mx-auto text-center outside-main-form-title">Création d'une fiche de personnage non-joueur</h5>
        </div>
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-8 col-md-10 col-sm-10 mx-auto mb-5" id="npc-create-form" action="" enctype="multipart/form-data" method="post" runat="server">
        {% csrf_token %}
            <input type="hidden" class="next-url" name="next" value="{{ request.path }}">
            <div class="row no-gutters">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-10 font-weight-bold template-button border-top border-left template-view-button" id="template-background-view-button"><p class="text-center text-font">Description du pnj</p></div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-10 font-weight-bold template-button border-top template-view-button" id="template-stats-view-button"><p class="text-center text-font">Compétences et Statistiques</p></div>
                <div class="col-xl-2 col-lg-3 col-md-2 col-sm-10 font-weight-bold template-button border-top border-right template-view-button" id="template-inventory-view-button"><p class="text-center text-font">Inventaire</p></div>
            </div>
            <div class="col-xl-12 col-sm-10 col-md-12 text-center mx-auto npc-main-form border-left border-right background-color">
                <div class="col-12 fieldWrapper template-window" id="template-background-view">
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12 mx-auto informations-border mt-2 foreground-color">
                                <div class="form-group">
                                    <label for="template-npc-name" class="label-style title-style mt-2">
                                        Nom de votre PNJ <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour sauvegarder votre fiche">*</span>:</label> 
                                    </label>
                                    <div class="row">
                                        <input type="text" class="input-control col-xl-5 col-md-10 col-sm-10 mx-auto template-name-input">
                                    </div>
                                </div>
                                <div class="form-group mx-auto name-check-response m-5 col-xl-12 col-sm-12 col-md-12 col-12">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-10 col-10 mx-auto">
                                <div class="fieldWrapper mx-auto mt-3 ml-3">
                                    <img id="image-preview" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto " src="#" alt="" />
                                </div>
                                <div class="fieldWrapper mx-auto">
                                    <input type="file" id="id_file" class="fieldWrapper" name="npc_avatar" style="display: none;" />
                                    {# permit to hide filename, which it is unconfortable. #}
                                    <input type="button" class="btn btn-primary btn-lg btn-block mt-3 ml-3" value="Parcourir..." onclick="document.getElementById('id_file').click();" />
                                </div>
                            </div>
                            <div class="col-1 separator"></div>
                            <div class="col-xl-7 col-md-9 col-sm-10 col-10 mx-auto informations-border mt-3 foreground-color">
                                <div class="form-group">
                                    <label for="template-informations " class="label-style title-style mt-2">
                                        Informations du personnage 
                                    </label>
                                </div>
                            {% for information in npc.character_informations%}
                                {% if forloop.last %}
                                    <div class="col col-xl-10 col-lg-12 col-md-6 col-sm-12 mb-3 mx-auto">
                                {% else %}
                                    <div class="col col-xl-10 col-lg-12 col-md-6 col-sm-12 mb-1 mx-auto">
                                {% endif %}
                                    <div class="row mx-auto" id="information-{{ information.formated_name }}">
                                         <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 text-truncate mx-auto "><span class="text-style">{{ information.name }}</span></div>
                                        <input type="text" class="mx-auto col-xl-9 col-lg-3 col-md-12 col-sm-12 character-informations" name="{{ information.name }}" id="{{ information.name }}"/>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row template-fields d-flex justify-content-center mx-auto" id="template-informations">
                    </div>
                    <div class="row mt-3">
                    {% for background in npc.character_background %}
                        <div class="col-sm-12 mx-auto mt-2 informations-border foreground-color" id="background-{{ background.formated_name }}">
                            <div class="col col-xl-6 col-md-6 col-sm-12 d-flex justify-content-center mx-auto ">
                                <div class="row-cols-xl-4 mx-auto">
                                    <div>
                                        <span class="title-style">{{ background.name }}</span>
                                    </div>
                                </div>
                            </div>
                            <input type="text" name="{{ background.formated_name }}" class="textfield-background " id="textfield-{{ background.formated_name }}"/>
                            <div class="mb-3 separator"></div>
                         </div>
                    {% endfor %}
                    <div class="mt-2 separator"></div>
                    </div>
                </div>
                <div class="col-12 fieldWrapper template-window" id="template-stats-view">  
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">{#  style="border: thick double #000000;" #}
                        <div class="row mx-auto d-flex justify-content-center">
                            <label for="template-attributes" class=" label-style title-style mt-2">Caracteristiques</label>
                        </div>
                        <hr/>
                        <div class="row mx-auto mt-5 mb-5">
                            {% for attr in npc.attributes %}
                                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-2 mb-1">
                                    <div class="form-group col">
                                        {% if "fas" in npc.attributes_option or "far" in npc.attributes_option %}
                                        <span class="text-style">{{ attr.name }} (<span id="attribute-{{ attr.formated_name }}-value">0</span> / <span>{{ npc.attributes_values }}</span>)</span> 
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <i class="minus-attr fas fa-minus" id="minus-attr-{{ attr.formated_name }}"></i>
                                            <i class="ml-2 plus-attr fas fa-plus" id="plus-attr-{{ attr.formated_name }}"></i>
                                        </div>
                                        <div id="attr-{{attr.formated_name }}" class="mx-auto mb-2 attributes-view">
                                        {% for range in npc.attributes_values_range %}
                                            <i id="attribute-{{ attr.formated_name }}-{{ range }}" class="{{ npc.attributes_option}} {{ attr.formated_name }} npc-statistics-colorfull"></i>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        <div class="col-12">
                                            <div class="text-style text-center">{{ attr.name }}</div> 
                                            <input type="number" name="attributes-{{ attr.formated_name }}"  class="attributes-number mx-auto col-12" pattern="[0-9]" value="0" max="{{ npc.attributes_values }}" id="attribute-{{ attr.formated_name }}"/>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group mx-auto">{#  style="border: thick double #000000;" #}
                        <div class="row mx-auto d-flex justify-content-center mt-2 ">
                            <label for="template-attributes" class=" label-style title-style">compétences</label>
                        </div>
                        <hr/>
                        <div class="row mx-auto mt-5 mb-5">
                            {% for skill in npc.skills %}
                                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-2 mb-1">
                                    <div class="form-group col">
                                        {% if "fas" in npc.skills_option or "far" in npc.skills_option %}
                                        <span class="text-style">{{ skill.name }} (<span id="skill-{{ skill.formated_name }}-value">0</span> / <span>{{ npc.skills_values }}</span>)</span> 
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <i class="minus-skill fas fa-minus" id="minus-skill-{{ skill.formated_name }}"></i>
                                            <i class="ml-2 plus-skill fas fa-plus" id="plus-skill-{{ skill.formated_name }}"></i>
                                        </div>
                                        <div id="skill-{{skill.formated_name }}" class="mx-auto mb-2 skills-view">
                                        {% for range in npc.skills_values_range %}
                                            <i id="skill-{{ skill.formated_name }}-{{ range }}" class="{{npc.skills_option}} {{ skill.formated_name }} npc-statistics-colorfull"></i>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        <div class="col-12">
                                            <div class="text-style text-center">{{ skill.name }}</div> 
                                            <input type="number" name="skills-{{ skill.formated_name }}" class="skills-number mx-auto col-12" pattern="[0-9]" value="0" max="{{ npc.skills_values }}" id="skill-{{ skill.formated_name }}"/>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>              
                </div>
                <div class="col-12 fieldWrapper template-window" id="template-inventory-view">  
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="row mx-auto d-flex justify-content-center">
                            <label for="template-attributes" class="label-style title-style mt-2">Objets spéciaux</label>
                        </div>
                        <hr/>
                        <div class="row mx-auto mt-5 mb-5">
                            <div class="row no-gutters mx-auto" id="template-inventory">
                                {# INVENTORY ITEM PART #}
                                {% for inventory_slot in npc.inventory_range %}
                                    <div class="col col-xl-1 col-md-2 col-sm-4 col-4 inventory-slot " id="inventory-slot-{{ inventory_slot }}" data-toggle="modal" data-target="#menu-item-{{ inventory_slot }}"style="width:30px; height:50px;">
                                        <div class="row no-gutters mx-auto d-inline-block text-center" style="">
                                            <img src="" class="col-12 mx-auto inventory-slot-picture responsive-img center-block"  id="inventory-item-picture-{{ inventory_slot }}"/>
                                        </div>
                                    </div>
                                    <div class="modal fade mx-auto" id="menu-item-{{ inventory_slot }}" tabindex="-1" role="dialog" aria-labelledby="menu-item-label" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header mx-auto">
                                                    <h5 class="modal-title" id="menu-item-label">Vos objets {{ inventory_slot }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <select name="special-item-list" class="form-control item-list-select" id="item-list-{{ inventory_slot }}">
                                                            <option>Choisissez votre objet</option>
                                                            {% for item in npc.item_list %}
                                                                <option value="{{ item.id }}" id="item_{{ item.id }}_{{ item.image }}" class="item-list-option-{{ inventory_slot }}">{{ item.formated_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group picture-wrapper">
                                                        <img src="" class="special-item-picture col-xl-6" id="special-item-picture-{{ inventory_slot }}"/>
                                                    </div>
                                                </div>
                                                <div class="modal-footer mx-auto">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    <button type="button" class="btn btn-primary picture-select-button" id="picture-select-button-{{ inventory_slot }}"data-dismiss="modal">Selectionner</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                {# END ITEM SELECT PART #}
                                {% endfor %}
                        <hr/>
                        <div class="row mx-auto d-flex justify-content-center mt-2 col-12">
                            <label for="template-attributes" class=" label-style title-style">Objets communs <img class="plus-inventory col-xl-3 col-md-12  col-sm-2" id="plus-inventory-slot" src="{% static 'fonts/plus-1.svg' %}"/>  </label>
                        </div>
                        <hr/>
                        <div class="row template-fields m-5 d-flex justify-content-center mx-auto" id="common-inventory-item">
                        </div>
                                <div class="item-informations"></div>
                                {# ITEM DESCRIPTION PART #}
                                <div class="item-container">
                                </div>
                                {# END OF ITEM DESCRIPTION PART #}
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="mt-3 separator"/>    
                <div class="row">
                    <button type="submit" class="col-12 btn btn-success npc-save-button align-center" id=""><b>Enregistrer</b></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

$( window ).on("load", function() {
    $('.template-window').each(function(index){
        if($(this).attr('id') !== "template-background-view"){
            $(this).hide()
            $(this).toggleClass("template-view-button")
        }else{
            $(this).show()
            $("#template-background-view-button").toggleClass('template-button-activated')
        }
    })
    $('.npc-save-button').prop('disabled', true)

    $('.template-name-input').on('change', function(){
    let game_name = '{{ game_name }}';
    let npc_name = $('.template-name-input').val();
    let url = '{% url "gestion:npc_name_check" %}';
        if(npc_name.length > 0){
            $.ajax({
                url: url,
                type: 'POST',
                dataType : 'json',
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                data:{
                    'game_name': game_name,
                    'npc_name': npc_name
                },
                success: function (response_data){
                    if(response_data.success){
                        $(".name-check-response").html('<div class="alert alert-success col-3 text-center mx-auto p-2" role="alert"><i class="far fa-check-circle"> Ce nom est libre, vous pouvez maintenant sauvegarder</i></div>')
                        $('.npc-save-button').prop( "disabled", false );
                    }else{
                        $(".name-check-response").html('<div class="alert alert-warning col-3 text-center mx-auto p-2" role="alert"><i class="fas fa-exclamation-circle"></i> Ce nom n\'est pas libre, vous devez en choisir un autre...</div>')
                        $('.npc-save-button').prop( "disabled", true );
                    }
                    $(".name-check-response").fadeTo(5000, 1000).slideUp(1000, function(){
                        $(".name-check-response").slideUp(1000);
                    });
                },
                fail: function(response_data){

                }
            })
        }else{
            $('.npc-save-button').prop( "disabled", true );
        }

})
    $(".img-preview").hide()
    /* FILE UPLOAD PREVIEW PART ; ONLY IMG */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
                $('#image-preview').addClass('img-thumbnail ')
                $(".img-preview").show()
                $('.img-preview').css({
                    'border': '1px black solid', 
                    'border-radius': '2%', 
                    'background-color': 'black'
                })

            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    /* FILE LIST VIEW UPDATE CLASS */
    $("#id_file").change(function(){
        readURL(this);
    });


    $('select').on('change', function(){
        let picture_name = $(this).find(':selected').attr('id').split('_')[2];
        $('.special-item-picture').attr('src', '{{ MEDIA_URL }}'+'{{ request.user.id }}/'+'{{ game_name }}/'+picture_name)
    });


    $('input[type=number]').keyup(function(event){
        let value = jQuery(this).val();
        value = value.replace(/[^0-9]+/g, '');
        let max_value = parseInt($(this).attr('max'))
        if(value > max_value){ value = max_value; }
        jQuery(this).val(value);
    });


});

$(document).ready(function(){
    
    $('.template-button').on('click', function(){
        let id = $(this).attr('id').split('-button')[0]
        $('.template-window').each(function(index){
            if($(this).attr('id') !== id){
                $(this).hide()
            }else{
                $(this).show()
            }
        })
    })

    $(".template-button").on('click', function(){
        let this_button = $(this).attr('id')
        $(".template-button").each(function(){
            $(this).html()
            if($(this).attr('id') == this_button){
                if($(this).hasClass('template-button-activated') == false){
                    $(this).toggleClass('template-button-activated')
                }
            }else{
                if($(this).hasClass('template-button-activated') == true){
                    $(this).toggleClass('template-button-activated')
                }
            }
        })
    })

    $('.textfield-background').each(function(){
        let id = $(this).attr('id').split('-')[1]
        CKEDITOR.replace(id);
    })

    $('.text-style').css({
        'color': '{{ npc.text_font_color }}', 
        'font-family': '{{ npc.text_font }}',
        'font-weight': '{{ npc.text_font_weight }}',
        'font-style': '{{ npc.text_font_style }}'
        })

    $('.title-style').css({
        'color': '{{ npc.title_font_color }}', 
        'font-family': '{{ npc.title_font }}',
        'font-weight': '{{ npc.title_font_weight }}',
        'font-style': '{{ npc.title_font_style }}'
    })
    
    let get_font_size_em = parseFloat($('.url-path').css('font-size').split('px'))/16;
    let text_size = '{{ npc.text_font_size }}';
    let title_size = '{{ npc.title_font_size }}';
    if(text_size === "small"){
        $('.text-style').css('font-size', get_font_size_em-(0.063*2) + 'em');
    }else if(text_size === "medium"){
        $('.text-style').css('font-size', get_font_size_em + 'em');
    }else if(text_size === "hight"){
        $('.text-style').css('font-size', get_font_size_em+(0.063*2) + 'em');
    }else if(text_size === "very-hight"){
        $('.text-style').css('font-size', get_font_size_em+(0.063*4) + 'em');
    }else{
        $('.text-style').css('font-size', get_font_size_em + 'em');
    }

    
    if(title_size === "small"){
        $('.title-style').css('font-size', get_font_size_em-(0.063*2) + 'em');
    }else if(title_size === "medium"){
        $('.title-style').css('font-size', get_font_size_em + 'em');
    }else if(title_size === "hight"){
        $('.title-style').css('font-size', get_font_size_em+(0.063*2) + 'em');
    }else if(title_size === "very-hight"){
        $('.title-style').css('font-size', get_font_size_em+(0.063*4) + 'em');
    }else{
        $('.title-style').css('font-size', get_font_size_em + 'em');
    }

    
    $('.plus-inventory').on('click', function(){
        let element_id = Math.floor((Math.random() * 100000) + 1);
        $('#common-inventory-item').append('\
            <div class="col-xl-6 col-md-6 col-sm-12 row align-items-start" id="item-'+element_id+'">\
                <div class="row mx-auto">\
                    <input type="text" name="commons-items[]" class="col-6 col-sm-6 mb-1 template-item-name form-control" id="template-item-'+element_id+'" placeholder="objet"/>\
                    <input type="number" value="0" class="col-3 form-control" id="item-quantity-'+element_id+'" min="0" name="common-item-value"/>\
                    <i class="fas fa-window-close remove-item-field col-1 pl-1 mt-2" id="template-item-'+element_id+'-close"></i>\
                </div>\
            </div>'
        )

        $('#item-quantity-'+element_id).keyup(function(event){
            let value = jQuery(this).val();
            value = value.replace(/[^0-9]+/g, '');
            jQuery(this).val(value);
        });

        $('.remove-item-field').on('click', function(){
            let target_id = $(this).attr('id').split('-')[2];
            $('#item-'+target_id).remove()
        })

    })

    function element_exists(elementName){
        if($(elementName).length > 0){
            return true;
        }
    }

    let attribute_itterator = 1;
    let skill_itterator = 1;
    let attribute_max_value = '{{ npc.attributes_values }}';
    let attributes_option = '{{ npc.attributes_option}}' 
    let skill_max_value = '{{ npc.skills_values }}';
    let skill_classname = "";
    let attribute_classname = "";

    $('i.plus-attr').on('click', function(){
        let attribute_name = $(this).attr('id').split('-')[2];
        if(attribute_classname != attribute_name){
            let itterator_set_value =parseInt($('i.'+attribute_name).filter(function(){
                return $(this).hasClass('selected_attribute_color');
                }).length)
            attribute_classname = attribute_name
            attribute_itterator = itterator_set_value
        }
        if(attribute_itterator >= 0 && attribute_itterator < attribute_max_value){        
            attribute_itterator++;
        }
        $('i#attribute-'+attribute_name+'-'+attribute_itterator).addClass('selected_attribute_color fas npc-statistics-color').removeClass('far npc-statistics-colorfull');
        $('span#attribute-'+attribute_name+'-value').html(attribute_itterator)


    })

    $('i.minus-attr').on('click', function(){
        let attribute_name = $(this).attr('id').split('-')[2];
        
        if(attribute_classname != attribute_name){
            let itterator_set_value =parseInt($('i.'+attribute_name).filter(function(){
                return $(this).hasClass('selected_attribute_color');
                }).length)
            attribute_classname = attribute_name
            attribute_itterator = itterator_set_value
        }

        if(attribute_itterator >= 1){
            $('i#attribute-'+attribute_name+'-'+attribute_itterator).removeClass('selected_attribute_color fas  npc-statistics-color').addClass('far  npc-statistics-colorfull').css('color', '');
            attribute_itterator--;
        }else{
            attribute_itterator = 0;
        }

        $('span#attribute-'+attribute_name+'-value').html(attribute_itterator)

    })

    $('i.plus-skill').on('click', function(){
        let skill_name = $(this).attr('id').split('-')[2];
        if(skill_classname != skill_name){
            let itterator_set_value = parseInt($('i.'+skill_name).filter(function(){
                return $(this).hasClass('selected_skill_color');
                }).length)
            skill_classname = skill_name
            skill_itterator = itterator_set_value
        }
        if(skill_itterator >= 0 && skill_itterator < skill_max_value){        
            skill_itterator++;
        }
        
        $('i#skill-'+skill_name+'-'+skill_itterator).addClass('selected_skill_color fas  npc-statistics-color').removeClass('far npc-statistics-colorfull');
        $('span#skill-'+skill_name+'-value').html(skill_itterator)


    })

    $('i.minus-skill').on('click', function(){
        let skill_name = $(this).attr('id').split('-')[2];
        if(skill_classname != skill_name){
            let itterator_set_value =parseInt($('#skill-'+skill_name+' > i ').filter(function(){
                return $(this).hasClass('selected_skill_color');
            }).length)
            skill_classname = skill_name
            skill_itterator = itterator_set_value
        }
        if(skill_itterator >= 1){
            $('#skill-'+skill_name+'-'+skill_itterator).removeClass('selected_skill_color fas  npc-statistics-colorfull').addClass('far npc-statistics-colorfull').css('color', '');
            skill_itterator--;
        }else{
            skill_itterator=0;
        }
        $('#skill-'+skill_name+'-value').html(skill_itterator)
    })

    
    $('.foreground-color').css('background-color',  "{{ npc.foreground_color }}")
    $('.background-color').css('background-color', "{{ npc.background_color }}")

        $('.picture-select-button').on('click', function(){
        let slot_number = $(this).attr('id').split('-')[3];
            $('#item-list-'+slot_number+' option').each(function(){
                if($(this).is(':selected')){
                    let picture_name = $(this).attr('id').split('_')[2];
                    let item_id = $(this).val()
                    let image_height = $('#inventory-slot-'+slot_number).height()
                    let image_width = $('#inventory-slot-'+slot_number).width()
                    $('#inventory-slot-'+slot_number).html('\
                        <div class="row no-gutters mx-auto d-inline-block text-center" style="">\
                            <img class="mx-auto inventory-slot-picture responsive-img center-block"  id="inventory-item-picture-'+slot_number+'" style="width:'+image_width+'px; height:'+image_height+'px;" alt="'+item_id+'""/>\
                        </div>')

                    $.ajax({
                        type: "POST",
                        headers: { "X-CSRFToken": "{{ csrf_token }}" },
                        url: "{% url 'gestion:get_new_item_informations' game_name=game_name %}",
                        data: { 
                            'id': item_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                        if(response.success){
                            let item_description = response.data.description 
                            let item_effects = response.data.effect 
                            $('#inventory-item-picture-'+slot_number).attr('src', '{{ MEDIA_URL }}'+'{{ request.user.id }}/'+'{{ game_name }}/'+picture_name);
                            if($('#item-id-'+response.data.id).length == 0 || $('#item-id-'+response.data.id).length == null){
                                $('.item-informations:last').after('\
                                    <div class="container item-informations mt-2 col-xl-6 col-md-8 col-sm-10 col-lg-8" id="item-id-'+response.data.id+'">\
                                    </div>').hide().css('text-align', 'justify')
                                $('#item-id-'+response.data.id).hide().css('text-align', 'justify').html('\
                                    <section class="row rounded item-informations-style">\
                                        <div class="clearfix col-12">\
                                            <div class="row no-gutters">\
                                            {% autoescape off %}\
                                            <b class="col-12 p-2 text-center">'+response.data.formated_name+'</b>\
                                            {% endautoescape %}\
                                        </div>\
                                        <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/'+response.data.image+'" class="img-thumbnail rounded float-right ml-2 mt-4 pt-3 pl-3 col-5" style="max-width:120px; max-height:130px;"/>\
                                        <p class="">\
                                            '+item_description+'\
                                        </p>\
                                        <div class="row no-gutters mb-5">\
                                            <b class="col-12 p-2 text-center">Effets sur cet objet</b>\
                                            {% autoescape off %}\
                                            <b class="col-12 p-2 text-left">'+item_effects+'</b>\
                                            {% endautoescape %}\
                                        </div>\
                                        </section>');
                            }
                        }
                        }
                    })
                }
            });
        });
    
    $('.item-informations').each(function(){
        $(this).hide().css('text-align', 'justify')
    })
    

    $('.inventory-slot').mouseover(function(e){
        let original_elem_id = $(this).attr('id').split('-')[2]
        let item_id = $("#occupied-inventory-slot-id-"+original_elem_id).val()
        let x = e.pageX/2.6;
        let y = e.pageY/2.6;
        let element = $('#item-id-'+item_id);
        element.css({'position':'absolute', "left":x, "top":y, 'z-index': 1024}).delay(5000).show()
    })
    
    $('.inventory-slot').mouseout(function(){
        let original_elem_id = $(this).attr('id').split('-')[2]
        let item_id = $("#occupied-inventory-slot-id-"+original_elem_id).val()
        $('#item-id-'+item_id).hide()

    })
    
    $('#npc-create-form').submit(function(event){
        event.preventDefault();
        let game_name = '{{ game_name }}';
        let url ="{% url 'gestion:create_npc' game_name=game_name %}";
        let background_informations_fields = new Map() 
        let background_fields = new Map();
        let inventory_fields = new Map();
        let skills_fields = new Map();
        let attributes_fields = new Map();
        let picture_field = new Map();
        let common_inventory_fields = new Map();

        $('.character-informations').each(function(){
            let information_class = $(this).attr('id')
            background_informations_fields.set(information_class, $(this).val())
        });
        $('.textfield-background').each(function(){
            let ckeditor_class = $(this).attr('id')
            background_fields.set(ckeditor_class, CKEDITOR.instances[ckeditor_class].getData())
        });
        $('.inventory-slot img').each(function(){
            let inventory_class = $(this).attr('id');
            if($(this).attr('src') != ""){
                let item_name = $(this).attr('src').split('/')[4];
                inventory_fields.set(inventory_class , item_name)
            }else{
                inventory_fields.set(inventory_class , '')
            }
        });

        if(element_exists(".skills-number")){
            $('input.skills-number').each(function(){
                let skills_name = $(this).attr('id').split('-')[1]
                skills_fields.set(skills_name, $(this).val())
            });
        }else if(element_exists('.skills-view > i.fas') || element_exists('.skills-view > i.far') ){
            let itterator = 0;
            let skills_name = '';
            $('.skills-view').each(function(){
                let id = $(this).attr('id')
                $('#'+id+' > i.fas').each(function(){
                    skills_name = $(this).attr('id').split('-')[1]
                    let full_id = $(this).attr('id')
                    if($("#"+full_id).hasClass('selected_attribute_color')){
                        itterator++;
                    }
                })
                skills_fields.set(skills_name, itterator)
                itterator = 0;
            })
        }
        
        

        $('#common-inventory-item > div').each(function(){
            let id = $(this).attr('id').split('-')[1]
            let item_name = $('#template-item-'+id).val();
            let item_quantity = $('#item-quantity-'+id).val();
            common_inventory_fields.set(item_name, item_quantity);
        })
        
        if(element_exists(".attributes-number")){
            $('.attributes-number').each(function(){
                let attributes_name = $(this).attr('id').split('-')[1]
                attributes_fields.set(attributes_name, $(this).val())
            });
        }else if(element_exists('.attributes-view > i.fas') || element_exists('.attributes-view > i.far')){
            let itterator = 0;
            let attributes_name = '';
            $('.attributes-view').each(function(){
                let id = $(this).attr('id')
                attributes_name = $(this).attr('id').split('-')[1]
                $('#'+id+' > i.fas').each(function(){
                    let target_id = $(this).attr('id')
                    if($("#"+target_id).hasClass('selected_attribute_color')){
                        itterator++;
                    }
                })
                if(attributes_name != '' && attributes_name != "" && attributes_name.length > 0){
                    attributes_fields.set(attributes_name, itterator)
                }
                itterator = 0;
            })
        }        
        if(element_exists(".skills-number")){
            $('.skills-number').each(function(){
                let skills_name = $(this).attr('id').split('-')[1]
                skills_fields.set(skills_name, $(this).val())
            });
        }else if(element_exists('.skills-view > i.fas') || element_exists('.skills-view > i.far')){
            let itterator = 0;
            let skills_name = '';
            $('.skills-view').each(function(){
                let id = $(this).attr('id')
                skills_name = $(this).attr('id').split('-')[1]
                $('#'+id+' > i.fas').each(function(){
                    let target_id = $(this).attr('id')
                    if($("#"+target_id ).hasClass('selected_skill_color')){
                        itterator++;
                    }
                })

                if(skills_name != '' && skills_name !== "" && skills_name.length > 0){
                    skills_fields.set(skills_name, itterator)
                }
                itterator = 0;
            })
        }

        let const_inventory = Object.fromEntries(inventory_fields);
        let const_background = Object.fromEntries(background_fields);
        let const_background_informations = Object.fromEntries(background_informations_fields);
        let const_attributes = Object.fromEntries(attributes_fields);
        let const_skills = Object.fromEntries(skills_fields);
        let const_common_items = Object.fromEntries(common_inventory_fields);
        let const_npc_name = $('.template-name-input').val();
        let const_template_id = '{{ npc.template_id }}'
        let const_next_url = $('.next-url').val()

        const data = new FormData(); 
        // if there is no picture (avatar) set 
        if($("#id_file").val() != ''){
            let file =  $('#id_file').prop('files')[0];
            data.append('file', file)
            data.append('filename', file.name)
        }
        data.append('background_text', JSON.stringify(const_background))
        data.append('background_informations', JSON.stringify(const_background_informations))
        data.append('inventory_fields', JSON.stringify(const_inventory))
        data.append('attributes', JSON.stringify(const_attributes))
        data.append('skills', JSON.stringify(const_skills))
        data.append('common_items', JSON.stringify(const_common_items))
        data.append('template_id', const_template_id)
        data.append('npc_name', const_npc_name)
        data.append('next-url', const_next_url)
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}')

        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            async: false,
            cache: true,
            processData: false, 
            contentType: false, 
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:data,
            success: function (data){
                window.location.replace("{% url 'gesmjgenerator:npc_creation_success_view' game_name=game_name %}");
            },
            fail: function(response_data){
                window.location.replace("{% url 'gesmjgenerator:failed_fatal_error_view' game_name=game_name %}");
            }
        })
    });
});


    
</script>

{% endblock %}