{% extends "generalist_template.html"%}
{% load static %}
{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace"></div>
        {# DISPLAY ERRORS / SUCCESS MSG #}
            {% if 'error' in request.path %}
                <div class="col alert alert-danger text-center w-100 outside-main-form-title" role="alert">
                    {% if '/scenario/creation/success' in request.path %}
                        <i class='fas fa-exclamation-circle'></i>&nbsp;<p>Le nom que vous avez essayé d'utiliser est déjà prit.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    <div class="row no-gutters">
        <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
            <h5 class="p-2 mx-auto text-center outside-main-form-title">Création d'un nouveau model de fiche de personnage non-joueur</h5>
        </div>
        <form name="file_upload_form" class="game-create-form col-xl-8 mx-auto mb-5" action="{% url "gestion:create_npc_template" game_name=game_name %}" enctype="multipart/form-data" method="post" runat="server">
        {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="row no-gutters">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-10 font-weight-bold template-button border-top border-left template-view-button" id="template-background-view-button"><p class="text-center title-style">Description du pnj</p></div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-10 font-weight-bold template-button border-top template-view-button" id="template-stats-view-button"><p class="text-center title-style">Compétences et Statistiques</p></div>
                <div class="col-xl-2 col-lg-3 col-md-2 col-sm-10 font-weight-bold template-button border-top border-right template-view-button" id="template-stylesheet-view-button"><p class="text-center title-style">Mise en forme</p></div>
            </div>
            <div class=" col-xl-12  text-center mx-auto p-2 npc-main-form template-background-color">
                <div class="col-12 fieldWrapper template-window template-background-color" id="template-stats-view">  
                    <div class="form-group">
                        <label for="template-name" class="label-style temp-text-family-font">Nom du template <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour sauvegarder votre fiche">*</span>:</label>
                        <div class="row template-name">
                            <input type="text" id="template-name" name="template-name" class="mx-auto template-name-input col-xl-4"></input>
                        </div>
                    </div>
                    <div class="form-group mx-auto name-check-response m-5 col-xl-12 col-sm-12 col-md-12 col-12 mt-2">
                    </div>
                    <div class="form-group mx-auto m-5">
                        <div class="row mx-auto d-flex justify-content-center">
                            <label for="template-attributes" class=" label-style temp-text-family-font">Ses caractéristiques: <i class="fas fa-plus-circle circle-color" id="add-attributes"></i></label>
                        </div>
                        <div class="row">
                            <div class="col col-6">
                                <label for="template-attributes-options " class="temp-text-family-font col col-12 label-style">Valeurs affichées sous cette forme:</label>
                                <select name="template-attributes-options" id="template-attributes-options" class="text-center form-select far no-scroll" size="3">
                                    <option value="number" selected="selected">0-9 Nombre</option>
                                    <option value="far fa-circle">&#xf111; Cercle</option>
                                    <option value="far fa-square">&#xf0c8; Carré</option>
                                </select>
                            </div>
                            <div class="col col-6">
                                <label for="template-attributes-options " class="temp-text-family-font col col-12">Valeur maximale (1 à 100):</label>
                                <input type="number" class="col-xl-3 col-md-3 col-xs-6 col-sm-6 form-input text-center" id="template-values" name="template-attributes-values" value="1" min="1" max="100">
                            </div>
                        </div>
                        <div class="row template-fields m-5 d-flex justify-content-center  mx-auto" id="template-attributes">
                        </div>
                    </div>
                    <div class="form-group mx-auto m-5">
                        <div class="row mx-auto d-flex justify-content-center">
                            <label for="template-skills" class=" label-style temp-text-family-font">Ses compétences: <i class="fas fa-plus-circle circle-color" id="add-skills"></i></label>
                        </div>
                        <div class="row">
                            <div class="col col-6">
                                <label for="template-attributes-options" class="temp-text-family-font col col-12 label-style">Valeurs affichées sous cette forme:</label>
                                <select name="template-skills-options" id="template-skills-options" class="text-center form-select far no-scroll" size="3">
                                    <option value="number" selected="selected">0-9 Nombre</option>
                                    <option value="far fa-circle">&#xf111; Cercle</option>
                                    <option value="far fa-square">&#xf0c8; Carré</option>
                                </select>
                            </div>
                            <div class="col col-6">
                                <label for="template-values" class="temp-text-family-font col col-12">Valeur maximale (1 à 100):</label>
                                <input type="number" class="col-xl-3 col-md-3 col-xs-6 col-sm-6 form-input text-center" id="template-values" name="template-skills-values" value="1" min="1" max="100">
                            </div>
                        </div>
                        <div class="row row-col-4 template-fields m-5 d-flex justify-content-center mx-auto" id="template-skills">
                        </div>
                    </div>
                </div>
                <div class="col-12 fieldWrapper template-window  template-background-color" id="template-background-view">
                    <div class="form-group">
                        <label for="template-informations" class=" label-style temp-text-family-font">
                            Informations du personnage (Nom, âge, taille...): 
                            <i class="fas fa-plus-circle circle-color" id="add-informations"></i>
                        </label>
                    </div>
                    <div class="row template-fields m-5 d-flex justify-content-center mx-auto" id="template-informations">
                    </div>
                    <div class="form-group">
                        <label for="template-picture" class=" label-style temp-text-family-font">
                            Ajouter des champs textuels (Historique...): 
                            <i class="fas fa-plus-circle circle-color" id="add-description"></i>
                        </label>
                    </div>
                    <div class="row template-fields m-5 d-flex justify-content-center mx-auto" id="template-description">
                    </div>
                </div>
                <div class="col-12 fieldWrapper template-window  template-background-color" id="template-stylesheet-view">
                    <div class="form-group ">
                        <label for="template-stylesheet" class=" label-style  temp-title-family-font">
                            Mise en forme <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ facultatif, si vous ne le remplissez pas alors votre theme sera utilisé."> <i class="fas fa-question-circle tooltip-symbol"></i> <span>
                        </label>
                    </div>
                    <div class="container-fluid">
                        <div class="col-12 p-2 mx-auto template-foreground-color" style="border: thick double black">
                            <label for="title-customization-options" class="display-inline mx-auto label-style temp-title-family-font">Mise en forme des titres</label>
                            <div class="row no-gutters " id="title-customization-options">
                                <div class="select-group col-xl-3 col-md-4 col-xs-10 mx-auto">     
                                    <label for="template-stylesheet-title-font-style" class="temp-text-family-font label-style p-2">Police:&nbsp;</label>
                                    <select id="template-select-title-font" class="select-title-font form-control p-2" name="title-font">
                                        <option value="Arial" selected="selected">Arial</option>
                                        <option value="Times New Roman">Times New Roman</option>
                                        <option value="Amatic SC">Amatic SC</option>
                                        <option value="Cutive Mono">Cutive Mono</option>
                                        <option value="Frijole">Frijole</option>
                                        <option value="Great Vibes">Great Vibes</option>
                                        <option value="Indie Flower">Indie Flower</option>
                                        <option value="Josefin Sans">Josefin Sans</option>
                                        <option value="Just Another Hand">Just Another Hand</option>
                                        <option value="Lobster">Lobster</option>
                                        <option value="Pacifico">Pacifico</option>
                                        <option value="Permanent Marker">Permanent Marker</option>
                                        <option value="Playfair Display">Playfair Display</option>
                                        <option value="Raleway">Raleway</option>
                                        <option value="Righteous">Righteous</option>
                                        <option value="Roboto Condensed">Roboto Condensed</option>
                                        <option value="Roboto Slab">Roboto Slab</option>
                                        <option value="Saira Semi Condensed">Saira Semi Condensed</option>
                                        <option value="Sedgwick Ave Display">Sedgwick Ave Display</option>
                                        <option value="New Rocker">New Rocker</option>
                                        <option value="MedievalSharp">MedievalSharp</option>
                                    </select>
                                </div>
                                <div class="input-group col-xl-3 col-md-4 col-xs-10 mx-auto template-foreground-color">
                                    <label for="template-stylesheet-title-font-size-style" class=" temp-text-family-font label-style p-2">formatage:&nbsp;</label>
                                    <select id="template-select-title-font-style" class="select-title-font-style form-control p-2" name="title-font-style">
                                        <option value="normal-normal">sans formattage</option>
                                        <option value="bold-normal" selected="selected">gras</option>
                                        <option value="normal-italic">italique</option>
                                        <option value="bold-italic">gras-italique</option>
                                    </select>
                                </div>
                                <div class="input-group col-xl-2 col-md-4 col-xs-10 mx-auto template-foreground-color">
                                    <label for="template-stylesheet-title-font-size-style" class="temp-text-family-font label-style p-2">Taille:&nbsp;</label>
                                    <select id="template-select-title-font-size" class="select-title-font-size form-control p-2" name="title-font-size">
                                        <option value="small">petit</option>
                                        <option value="medium" selected="selected">moyen</option>
                                        <option value="hight">grande</option>
                                        <option value="very-hight">tres grande</option>
                                    </select>
                                </div>
                                <div class="input-group col-xl-2 col-md-4 col-xs-10 mx-auto template-foreground-color">
                                    <label for="template-stylesheet-title-font-color-style" class="temp-text-family-font label-style p-2">Couleur:&nbsp;</label>
                                    <input type="color" id="template-stylesheet-title-font-color-style"  class="select-title-font-color form-control p-2" name="title-font-color">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-2 mx-auto template-foreground-color" style="border: thick double black">
                            <label for="text-customization-options" class="display-inline mx-auto label-style temp-title-family-font template-foreground-color">Mise en forme des textes</label>
                            <div class="row no-gutters template-foreground-color" id="text-customization-options">
                                <div class="select-group col-xl-3 col-md-4 col-xs-10 mx-auto">     
                                    <label for="template-stylesheet-text-font-style" class="temp-text-family-font label-style temp-family-font">Police:&nbsp;</label>
                                    <select id="template-stylesheet-text-font-style" class="select-title-font form-control" name="text-font">
                                        <option value="Arial" selected="selected">Arial</option>
                                        <option value="Times New Roman">Times New Roman</option>
                                        <option value="Amatic SC">Amatic SC</option>
                                        <option value="Cutive Mono">Cutive Mono</option>
                                        <option value="Frijole">Frijole</option>
                                        <option value="Great Vibes">Great Vibes</option>
                                        <option value="Indie Flower">Indie Flower</option>
                                        <option value="Josefin Sans">Josefin Sans</option>
                                        <option value="Just Another Hand">Just Another Hand</option>
                                        <option value="Lobster">Lobster</option>
                                        <option value="Pacifico">Pacifico</option>
                                        <option value="Permanent Marker">Permanent Marker</option>
                                        <option value="Playfair Display">Playfair Display</option>
                                        <option value="Raleway">Raleway</option>
                                        <option value="Righteous">Righteous</option>
                                        <option value="Roboto Condensed">Roboto Condensed</option>
                                        <option value="Roboto Slab">Roboto Slab</option>
                                        <option value="Saira Semi Condensed">Saira Semi Condensed</option>
                                        <option value="Sedgwick Ave Display">Sedgwick Ave Display</option>
                                        <option value="New Rocker">New Rocker</option>
                                        <option value="MedievalSharp">MedievalSharp</option>
                                    </select>
                                </div>
                                <div class="input-group col-xl-3 col-md-4 col-xs-10 mx-auto template-foreground-color">
                                    <label for="template-stylesheet-text-font-size-style" class="temp-text-family-font label-style p-2">formatage:&nbsp;</label>
                                    <select id="template-stylesheet-text-font-size-style" class="select-text-font-style form-control p-2" name="text-font-style">
                                        <option value="normal-normal" selected="selected">sans formattage</option>
                                        <option value="bold-normal">gras</option>
                                        <option value="normal-italic">italique</option>
                                        <option value="bold-italic">gras-italique</option>
                                    </select>
                                </div>
                                <div class="input-group col-xl-2 col-md-4 col-xs-10 mx-auto template-foreground-color">
                                    <label for="template-stylesheet-text-font-size-style" class="temp-text-family-font label-style p-2">Taille:&nbsp;</label>
                                    <select id="template-stylesheet-text-font-size-style" class="select-text-font-size form-control p-2" name="text-font-size">
                                        <option value="small">petit</option>
                                        <option value="medium" selected="selected">moyen</option>
                                        <option value="hight">grande</option>
                                        <option value="very-hight">tres grande</option>
                                    </select>
                                </div>
                                <div class="input-group col-xl-2 col-md-4 col-xs-10 mx-auto template-foreground-color">
                                    <label for="template-stylesheet-text-font-color-style" class="temp-text-family-font  label-style p-2">Couleur:&nbsp;</label>
                                    <input type="color" id="template-stylesheet-text-font-color-style" class="select-text-font-color form-control p-2" name="text-font-color">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center  mx-auto fieldWrapper ">
                        <button type="submit" class="col-12 btn btn-success npc-template-save-button align-center" id=""><b>Enregistrer</b></button>
                    </div>
                </div>
            </div></div>
        </form>
    </div>
</div> 

{% endblock %}

{% block javascript %}
<script>


$( window ).on("load", function() {
    $('.template-window').each(function(index){
        if($(this).attr('id') !== "template-stats-view"){
            $(this).hide()
            $(this).toggleClass("template-view-button")
        }else{
            $(this).show()
            $("#template-stats-view-button").toggleClass('template-button-activated')
        }
    })
    $('.npc-template-save-button').prop('disabled', true)
});

$(document).ready(function(){

    //on applique le plugin "select2" sur notre liste deroulante en lui indiquant d'utiliser un template particulier
    $(".select-text-font, .select-title-font").select2({templateResult: formatFont}).on('change', function (e) {
        updateSelectFontStyle($(this));
    
    });
    //on initialise la liste au chargement de la page en fonction de la police sélectionné.
    updateSelectFontStyle($(".select-text-font, .select-title-font"));


    $(".template-button").on('click', function(){
        let this_button = $(this).attr('id')
        $(".template-button").each(function(){
            $(this).html()
            if($(this).attr('id') == this_button){
                if($(this).hasClass('template-button-activated') == false){
                    $(this).toggleClass('template-button-activated')
                }
            }else{
                if($(this).hasClass('template-button-activated') == true){
                    $(this).toggleClass('template-button-activated')
                }
            }
        })
    })

    let wrapper = $('.template-fields')
    let add_input_button = $('#add-informations, #add-attributes, #add-skills, #add-pictures, #add-description');
    let picture_displayed = Boolean(false); 
    $(add_input_button).on('click', function(){

        let id_name = $(this).attr('id').split('-')[1]
        let placeholder_name = ''
        if(id_name == "attributes"){
            placeholder_name = "caracteristique..."
        }else if(id_name == "skills"){
            placeholder_name = "compétence..."
        }else if(id_name == "informations"){
            placeholder_name = "information..."
        }else if(id_name == "description"){
            placeholder_name = "champ textuel..."
        }else{
            placeholder_name = id_name
        }
        
        if(id_name != 'pictures'){
            $('#template-'+ id_name).append('\
            <div class="col-xl-4 col-md-6 col-sm-12 row align-items-center">\
                <input type="text" name="'+id_name+'[]" class="col-11 mb-1 template-'+id_name +'-input form-control" id="template-'+id_name +'-input" placeholder="' + placeholder_name + '"/>\
                <i class="fas fa-window-close remove-field col-1 pl-1 mb-1" id="template-'+id_name +'-close"></i>\
            </div>')
        }else if(id_name == 'pictures' && picture_displayed == false){
            $('#template-'+ id_name).append('\
            <div class="col-xl-4 col-md-6 col-sm-12 row align-items-center">\
                <input type="checkbox" name="'+id_name+'[]" class="col-11 mx-auto template-'+id_name +'-input" id="template-'+id_name +'-input"><span class="mx-auto">Permettre l\'affichage d\'un avatar?</span><i class="fas fa-window-close remove-field col-1 pl-3" id="template-'+id_name +'-close"></i></input>\
                \
            </div>')
            picture_displayed = Boolean(true);

        }
        
    })


        $('input [type=number]').keyup(function(event){
            let value = jQuery(this).val();
            value = value.replace(/[^0-9]+/g, '');
            jQuery(this).val(value);
        });
    $(wrapper).on('click', '.remove-field', function(){
        if($(this).parent('div').parent().attr('id').split('-')[1] == "pictures"){
            picture_displayed = Boolean(false);
        }
        $(this).parent('div').remove();
        
    })

    $('.submit').submit(function() {
        let list = wrapper.find('input, select').map(function() {
            return $(this).val();
        }).post()
    })
})

/**
 * Permet d'appliquer la bonne police sur l'option du select2
 */
function formatFont(opt) {
    if (!opt.id) {
        return opt.text;
    }
    var $state = $('<span style="font-family:\'' + opt.element.value + '\';"> ' + opt.text + '</span>');
    return $state;
}

/**
 * Donne la font family sélectionné à l'élément passé en paramètre
 */
function updateSelectFontStyle($el) {
    var font = $el.val();
    var id = '#select2-' + $el.attr("id") + '-container';
    $(id).addClass('select-input')
    $(id).css({"font-family": "'" + font + "'", 'border':'none'});
}

$('.template-button').on('click', function(){
    let id = $(this).attr('id').split('-button')[0]
    $('.template-window').each(function(index){
        if($(this).attr('id') !== id){
            $(this).hide()
        }else{
            $(this).show()
        }
    })
})

$('.template-name-input').on('change', function(){
    let game_name = '{{ game_name }}';
    let template_name = $('.template-name-input').val();
    let url = '{% url "gestion:npc_template_name_check" %}';
    if(template_name.length > 0){
        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
                'game_name': game_name,
                'template_name': template_name
            },
            success: function (response_data){
                if(response_data.success){
                    $(".name-check-response").html('<div class="alert alert-success col-sm-12 text-center mx-auto" role="alert"><i class="far fa-check-circle"> Ce nom est libre, vous pouvez maintenant sauvegarder</i></div>')
                    $('.npc-template-save-button').prop( "disabled", false );
                }else{
                    $(".name-check-response").html('<div class="alert alert-warning col-sm-12 text-center mx-auto" role="alert"><i class="fas fa-exclamation-circle"></i> Ce nom n\'est pas libre, vous devez en choisir un autre...</div>')
                    $('.npc-template-save-button').prop( "disabled", true );
                }
                $(".name-check-response").fadeTo(5000, 1000).slideUp(1000, function(){
                    $(".name-check-response").slideUp(1000);
                });
            },
            fail: function(response_data){

            }
        })
    }else{
        $('.npc-template-save-button').prop('disabled', true)
    }
})

$('.select-text-font, .select-title-font').on('change', function(){
    let font_family = $(this).val();
    let class_keyword = $(this).attr('id').split('-')[2];
    $('.temp-'+ class_keyword + '-family-font').each(function(){
        $(this).css('font-family', font_family)
    })
})

$('.select-title-font-style, .select-text-font-style').on('change', function(){
    let font_size = $(this).val().split('-')[0];
    let font_style = $(this).val().split('-')[1];
    let font_format = $(this).val();
    let class_keyword = $(this).attr('class').split('-')[1];
    $('.temp-'+ class_keyword + '-family-font').each(function(){
        if(font_size == "normal" && font_style == "normal"){
            $(this).css({'font-weight':'normal', 'font-style': 'normal'})
        }else{
            $(this).css({'font-weight':font_size, 'font-style': font_style})
        }
    })
})

$('.select-title-font-size, .select-text-font-size').on('change', function(){
    // get values (bold, normal ...)
    let font_size = $(this).val();
    // get keyword "text" or "title"
    let class_keyword = $(this).attr('class').split('-')[1];
    // from px to em size. 
    let get_font_size_em = parseFloat($('.url-path').css('font-size').split('px'))/16
    $('.temp-'+ class_keyword + '-family-font').each(function(){
        if(font_size === "small"){
            $(this).css('font-size', get_font_size_em-(0.063*2) + 'em')
        }else if(font_size === "medium"){
            $(this).css('font-size', get_font_size_em + 'em')

        }else if(font_size === "hight"){
            $(this).css('font-size', get_font_size_em+(0.063*2) + 'em')
        }else if(font_size === "very-hight"){
            $(this).css('font-size', get_font_size_em+(0.063*4) + 'em')
        }else{
            $(this).css('font-size', get_font_size_em + 'em')
        }
    })
})

$('.select-title-font-color, .select-text-font-color').on('change', function(){
    // get values (small, medium ...)
    let font_color = $(this).val();
    // get keyword "text" or "title"
    let class_keyword = $(this).attr('class').split('-')[1];
    $('.temp-'+ class_keyword + '-family-font').each(function(){
        $(this).css('color', font_color)
    })
})

$('.select-template-font-color').on('change', function(){
    // get color value;
    let background_color = $(this).val();
    $('.template-background-color').css('background-color', background_color)
})

$('.select-template-foreground-color').on('change', function(){
    // get color value;
    let foreground_color = $(this).val();
    $('.template-foreground-color').css('background-color', foreground_color)
})

</script>

{% endblock %}