{% extends "generalist_template.html"%}
{% load static %}
{% block content %}

<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-10 mx-auto p-2 " action="{% url 'gestion:create_scene' game_name=game_name %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-center mx-auto mt-2 p-2 user-main-form">
                <div class="col-12 fieldWrapper">  
                    <div class="col-sm-12 col-xl-7 mx-auto user-main-form-title">
                          <h5 class="p-2 mx-auto"><i>Création d'une nouvelle <b>scene</b> pour <b>{{ game_name }}</b></i></h5>
                    </div>
                </div>
                <div class="fieldWrapper mx-auto">
                    <label class="label-style mx-auto" for="{{ SceneCreateForm.name.id_label }}">{{ SceneCreateForm.name.label }} <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour créer votre scène">*</span>:</label>
                </div>
                <div class="fieldWrapper mx-auto">
                    {{ SceneCreateForm.name | safe }}
                </div>
                <div class="name-check-response mx-auto p-2">
                </div>
                <div class="fieldWrapper">
                    <div class="d-flex justify-content-center no-gutters">
                        <div class="">
                            <label class="label-style" for="{{ SceneCreateForm.order.id }}"> <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour créer votre scène">*&nbsp;</span>{{ SceneCreateForm.order.label }}&nbsp;</label>
                        </div>
                        {{ SceneCreateForm.order}}
                        <label class="label-style  col-xl-1 col-md-1 col-5 text-right pr-2" for="#scenatio-select"><span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour créer votre scène">*&nbsp;</span>Lier</label>
                        <div class="">  
                            <select name="chapter" id="chapter-select" class="fieldWrapper mx-auto p-2">
                            {% for chapter in chapter_list %}
                                <option value="{{ chapter.id }}">{{ chapter.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="order-check-response mx-auto p-2">
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <label class="label-style" for="{{ SceneCreateForm.description.id_label }}">{{ SceneCreateForm.description.label }}:</label>
                </div>
                <div class="fieldWrapper mx-auto">
                    {{ SceneCreateForm.media}}
                    {{ SceneCreateForm.description | safe }}
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <label class="label-style mx-auto" for="{{ SceneCreateForm.file.id }}">{{ SceneCreateForm.file.label }}:</label>
                </div>
                <div class="fieldWrapper mx-auto">
                    {{ SceneCreateForm.file}}
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <button type="submit" class="file-submit submit-button btn btn-success align-center"  id="create-game-button">Enregistrer</button>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <label class="label-style mx-auto img-preview" for="image-preview">Previsualisation de votre image:</label>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <img id="image-preview" class="col-xl-6 col-lg-6 col-md-12 col-xs-12" src="#" alt="" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $(".img-preview").hide()
    /* FILE UPLOAD PREVIEW PART ; ONLY IMG */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
                $(".img-preview").show()
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    /* FILE LIST VIEW UPDATE CLASS */
    $("#id_file").change(function(){
        readURL(this);
    });

$('#create-game-button').css('display', 'none')

$('.input-name, #scenario-select, #id_order').on('change', function(){
    let game_name = '{{ game_name }}';
    let type = "scene"
    let scene_name = $('#scene-create-name').val();
    let scenario_id = $('#chapter-select').val();
    let order_value = $('#id_order').val();
    let url = '{% url "gestion:file_name_check" game_name=game_name type="type" target_name="scene_name" id="id" order="order" %}'.replace(/type/, type.toString()).replace(/chapter_name/, scene_name.toString()).replace(/id/, scenario_id.toString()).replace(/order/, order_value.toString());
        $.ajax({
            url: url,
            type: 'POST',
            processData: false, 
            contentType: false, 
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:'',
            success: function (data){
                $(".name-check-response, .order-check-response").css('display', 'none')
                if(data.response_data.success_name){
                    $(".name-check-response").html('<div class="alert alert-success col-sm-8 col-md-8 col-xl-5 text-center mx-auto p-2" role="alert"><i class="far fa-check-circle"></i> ' + data.response_data.success_name +' </div>')
                    $('#create-game-button').css('display', 'inline');
                }else{
                    $(".name-check-response").html('<div class="alert alert-warning col-sm-8 col-md-8 col-xl-5 text-center mx-auto p-2" role="alert"><i class="fas fa-exclamation-circle"></i> ' + data.response_data.fail_name +' </div>')
                    $('#create-game-button').css('display', 'none')
                }
                $(".name-check-response").fadeTo(5000, 1000).slideUp(1000, function(){
                    $(".name-check-response").slideUp(1000);
                });
                if(!data.order_error.fail_order === false){
                    $(".order-check-response").html('<div class="alert alert-warning col-sm-8 col-md-8 col-xl-5 text-center mx-auto p-2" role="alert"><i class="fas fa-exclamation-circle"></i> ' + data.order_error.fail_order +' </div>')
                    $('#create-game-button').css('display', 'none')
                    $(".order-check-response").fadeTo(5000, 1000).slideUp(1000, function(){
                        $(".order-check-response").slideUp(1000);
                    });
                }else{                    
                    $(".name-check-response").html('<div class="alert alert-success col-sm-8 col-md-8 col-xl-5 text-center mx-auto p-2" role="alert"><i class="far fa-check-circle"></i> ' + data.response_data.success_name +' </div>')
                    $('#create-game-button').css('display', 'inline');
                }
            },
            fail: function(response_data){

            }
        })
    });

</script>
{% endblock%}