{% extends "generalist_template.html" %}
{% load static %}
{% block content %}
<div class="container-fluid main-container-fluid-div container-content " id="user-main-container">
  <div class="row no-gutters">{# OUTPUT MESSAGE FIELD #}
    {% if error_msg %}
      <div class="col alert alert-danger text-center w-100" role="alert">
        {{ error_msg }}
      </div>
    {% endif %}
    <div class="col-12 container-whitespace">
    </div>
  </div>
  <form method="POST" name="create_user_form" class="create-user create-content-form col-xl-5 mx-auto p-2 "  enctype="multipart/form-data" action="{% url 'gestion:register_user' %}">
    {% csrf_token %}
    <div class="text-center mx-auto p-2 user-main-form">
      <div class="col-12 fieldWrapper">  
        <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
            <h5 class="p-2 mx-auto"><i>Création d'un nouveau compte</i></h5>
        </div>
        {{ register_form.non_field_error }} 
        {{register_form.errors }}
        {% for field in register_form %}
          <div class="fieldWrapper">
            <label class="label-style" for="{{ field.id_for_label }}" >{{ field.label }}
              {% if field.name == "username" or field.name == "email" or field.name == "password1" or field.name == "password2"%} 
                 <span class="tooltip-symbol" data-toggle="tooltip" data-placement="top" title="Champ obligatoire pour sauvegarder votre compte">*</span>:</label>
              {% endif %}
            </label>
          </div>
          <div class="fieldWrapper">
            {{ field }}
          </div>
          {% if field.errors %}
            <div class="fieldWrapper">
              {{ field.errors|escape }}
            </div>
          {% endif %}
        {% endfor %}
    <div class="row h-100 text-center mx-auto p-2">
      <div class="col fieldWrapper">
        <button type="submit" class="submit-button btn btn-success register-btn" id="create-user-button">Enregistrez vous</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}


{% block javascript %}
<script>
  jQuery(document).ready(function(){
    $('.register-btn').prop('disabled', true)
    $('.errorlist').hide()
    $('form.create-user > input').each(function(){
      $(this).val('')
    })
  })
  $('#user-main-container').css('background-size', 'cover').css('background-repeat', 'no-repeat').css('background-position', 'center');
  $('#id_username, #id_email, #id_password1, #id_password2, #id_first_name, #id_last_name').addClass('text-center')
  $('#id_username').attr({'maxlength':'16', 'minlength': '4'})
  $('#id_username').on('change', function(){
    let username = $(this).val();
    if( username.length >= 4 && username.length <= 16){
      let url = '{% url "gestion:username_check" %}';
        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
              'username' : username,
              'csrfmiddlewaretoken':'{{ csrf_token }}',
            },
            success: function (response_data){
              if(response_data.success){
                $('.register-btn').prop('disabled', false)
              }else{
                if(response_data.error_password){
                  console.log(response_data.error_password)
                  $('.register-btn').prop('disabled', true)
                }
              }
            },
            fail: function(response_data){

            }
        })
    }
  }) 
  $('#id_password1').on('change', function(){
    let password = $(this).val();
    let url = '{% url "gestion:password_check"%}';
    $.ajax({
      url: url,
      type: 'POST',
      dataType:'json',
      headers:  { "X-CSRFToken": "{{ csrf_token }}" },
      data:{
        'password' : password,
        'csrfmiddlewaretoken':'{{ csrf_token }}',
      },
      success: function (response_data){
        if(response_data.success){
          $(':input[type="submit"]').prop('disabled', false)
          $('#id_password1').after('<div class="alert alert-success  text-center col-10 col-sm-8 col-md-8 col-xl-6  mx-auto password-success"><ul class="errorlist  text-center col-12 mx-auto">Votre mot de passe est correcte</ul></div>')
          $('.password-success').fadeOut(5000)
        }else{
          $(':input[type="submit"]').prop('disabled', true)
          $('#id_password1').after('<div class="alert alert-danger  text-center col-10 col-sm-8 col-md-8 col-xl-6  mx-auto password-error"><ul class="errorlist  text-center col-12 mx-auto">Votre mot de passe doit contenir entre 8 et 150 caractères. Au moins un caractère spécial: $, @, #, %, _, ?, !, ;,"*" ainsi qu\'un minimum de une majuscule et enfin au moins un chiffre</ul></div>')
          $('.password-error').fadeOut(5000)
        }
      },
      fail: function(response_data){
      }
    })
  })
  $('#id_email').on('change', function(){
    let email = $(this).val();
    let url = '{% url "gestion:email_check" %}';
      $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
          'email' : email,
          'csrfmiddlewaretoken':'{{ csrf_token }}',
        },
        success: function (response_data){
          if(response_data.success){
            $(':input[type="submit"]').prop('disabled', false)
          }else{
            $(':input[type="submit"]').prop('disabled', true)
            $('#id_email').after('<div class="alert alert-danger  text-center col-10 col-sm-8 col-md-8 col-xl-6  mx-auto mail-error">\
              <ul class="errorlist  text-center col-12 mx-auto"><li>Cette adresse est déjà utilisée</li></ul>\
            </div>')
            $('.mail-error').fadeOut(5000)
          }
        },
        fail: function(response_data){
        }
      })
  })
  $('.errorlist').addClass('alert alert-danger text-center col-10 col-sm-8 col-md-8 col-xl-6 mt-1 mx-auto align-center').fadeOut(2500)
</script>
{% endblock %}

