{% extends "generalist_template.html"%}
{% load static %}
{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
        <div class="container-fluid container-content mt-5">
        {% autoescape off %}
        {% if not detailed_note_dict %}
            <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color" id="empty">
                <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore créé de note</span>
            </div>
        {% else %}
            {% for detailed_note in detailed_note_dict.values %}
            <div class="row no-gutters" id="{{ detailed_note.formatted_name }}-collapse-title">
                <div class="col col-sm-10 col-xl-12 col-lg-12 ">
                    <button class="btn btn-primary picture-display-button" type="button" data-toggle="collapse" data-target="#{{ detailed_note.formatted_name }}-note" aria-expanded="false" aria-controls="{{ detailed_note.aria_controls_id_list }}"><b>{{ detailed_note.name }}</b> <i class="fas fa-sort-down"></i></button>
                </div>
            </div>
            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 col-sm-12 collapse mt-2 mb-2" id="{{ detailed_note.formatted_name }}-note">
                <div class="row mx-auto">
                    <div class="col col-sm-12 col-xl-12 col-lg-12 col-md-12 mb-2 mt-5 text-center" id="{{ detailed_note.formatted_name }}-name">
                        <h5><b class="note-name">{{ detailed_note.name }}</b> <i class="fas fa-edit ckeditor-edit-button edit-font-awesome-style" id="{{ detailed_note.formatted_name }}-edit-button"></i></h5>
                    </div>
                </div>
                <div class="row no-gutters mx-auto detailed_note " id="{{ detailed_note.formatted_name }}-content-note">
                    <span class="mx-auto writted-content text-break">{{ detailed_note.note }}</span>
                </div>
            </div>
            <input type="hidden" value="{{ detailed_note.id }}" class="note-id" id="{{ detailed_note.formatted_name }}-id">
            <div class="row no-gutters buttons-group d-flex justify-content-center mt-1" id="{{ detailed_note.formatted_name }}-group">
                <button class="btn btn-danger col-4 col-md-4 col-xl-2 col-lg-4 col-sm-4 suppress-button" id="{{ detailed_note.formatted_name }}-suppress"> Supprimer </button>
                <button class="btn btn-warning col-4 col-md-4 col-xl-2 col-lg-4 col-sm-4 close-button" id="{{ detailed_note.formatted_name }}-close"> Annuler </button>
                <button class="btn btn btn-success col-4 col-md-4 col-xl-2 col-lg-4 col-sm-4 save-button" id="{{ detailed_note.formatted_name }}-save"> Enregistrer </button>
            </div>
            {% endfor %}
            {% endif %}
        {% endautoescape%}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

$('.buttons-group').css('visibility', 'hidden')

$('.ckeditor-edit-button').on('click', function(){
    let id = $(this).attr('id').split('-')[0]
    let element_to_edit = id + '-content-note'
    $('#'+id+'-group').css('visibility', 'visible')
    CKEDITOR.replace(element_to_edit)
})

$('.close-button').on('click', function(){
    let ckeditor_content = $(this).attr('id').split('-')[0]+'-content-note';
    let my_editor = CKEDITOR.instances[ckeditor_content];
    my_editor.destroy(true)
    $('.buttons-group').css('visibility', 'hidden')
})

$('.save-button').on('click', function(){
    let formatted_name = $(this).attr('id').split('-')[0]
    let note_id = $(this).attr('id').split('-')[0]+'-content-note'
    let text_content = CKEDITOR.instances[note_id].getData()
    let my_editor = CKEDITOR.instances[note_id];
    let id = $('#'+formatted_name+'-id').val();
    let url ="{% url 'gestion:save_note_content' game_name=game_name %}";
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'text_content' : text_content,
            'note_id': id,
            'formatted_name': formatted_name
        },
        success: function (response_data){
            if(response_data.success == true){
                $('#'+note_id).empty();
                $('#'+note_id).html(text_content)
                my_editor.destroy(true)
                $('.buttons-group').css('visibility', 'hidden')
            }
        },
        fail: function(response_data){
        }
    })
})

$('.suppress-button').on('click', function(){
    let formatted_name = $(this).attr('id').split('-')[0]
    let note_id = $(this).attr('id').split('-')[0]+'-content-note'
    let id = $('#'+formatted_name+'-id').val();
    let url ="{% url 'gestion:suppress_note_content' game_name=game_name %}";
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'note_id': id,
            'formatted_name': formatted_name
        },
        success: function (response_data){
            if(response_data.success == true){
                $('#'+formatted_name+'-collapse-title').remove()
                $('#'+formatted_name+'-note').remove()
                $('#'+formatted_name+'-content-note').remove()
                $('#'+formatted_name+'-group').remove()
            }
        },
        fail: function(response_data){
        }
    })

})

</script>
{% endblock %}