{% extends "generalist_template.html"%}
{% load static %}
{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="row mb-5 col-sm-12 col-xl-12 col-lg-12 mx-auto">
    <div class="col user-main-form-title">
        <h5 class="p-2 mx-auto text-center outside-main-form-title"><i>Vos documents mis en ligne pour le jeu <b>'{{ game_name }}'</b></i></h5>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
            <div class="col text-center w-100 name-check-response">
            </div>
        </div>
    </div>
    <div class="mb-5 col-sm-11 col-xl-11 mx-auto user-main-form-title">
        <h6 class="p-2 mx-auto text-center"><i>Vos documents mis en ligne pour le jeu <b>'{{ game_name }}'</b></i></h6>
    </div>
    <div class="row no-gutters col-10 image-gallery-positionning mx-auto">
        {% if not linked_documents %}
            <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color" id="empty">
                <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore mis en ligne de document</span>
            </div>
        {% else %}
        {% for document in linked_documents %}
        <div class="col-sm-12 col-12 col-xl-3 col-lg-4 col-md-4 card-size mb-2" id="document-{{ document.id }}">
            <input type="hidden" id="old-name-{{ document.id }}" value="{{ document.short_name }}"> 
            <input id="this-document-{{ document.id }}" name="document-name-{{ document.id }}" type="hidden" value="{{ document.name }}"/>          
            <input id="thumbnail-{{ document.id }}" name="thumbnail-{{ document.id }}" type="hidden" value="{{ document.thumbnail_name }}"/>
            <p class="col-12 text-justify"><b class="word-break" style="color:white; text-overflow:ellipsis;">{{ document.short_name }}</b><p>               
            <a href="{% url 'gesmjgenerator:display_selected_document_view' game_name=game_name pk=document.id  %}">
                <img src='{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ document.thumbnail_name}}' alt="{{ document.name }}"  id="document-{{ document.id }}" class="display-pdf pointer-action col-10" />
            </a>
            </input>
            <i class="fas fa-trash navbar-text-color " data-toggle="modal" data-target="#delete-document-card-{{ document.id}}"></i>
        </div>
        <!-- Modal -->
            <!-- DISPLAY DELETE CONFIRMATION Modal -->
            <div class="modal fade" id="delete-document-card-{{ document.id }}" tabindex="-1" aria-labelledby="delete-document-card-{{ document.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-xs">
                    <div class="modal-content">
                        <div class="modal-body row">
                            <h5 class="modal-title col-12 text-center" id="document-card-{{ document.id }}"><p><i class="fas fa-trash-alt"></i> Êtes-vous sur de vouloir supprimer '<b>{{ document.short_name }}</b>' ?</h5>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-success button-delete" id="button-delete-{{ document.id }}" data-dismiss="modal" style="color:white">Supprimer</button>   
                            <input type="hidden" id="Url-{{ document.id }}" data-url="{% url "gestion:delete_element" game_name=game_name id=document.id document_name=document.name element_type="document" element_subtype="Document" %}" />  
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>


    $('.edit-title').hide();
    $('.cancel-edit').hide();
    $('.display-title').on('click',function(e){
        let id = $(this).attr('id').split('-')[2];
        $('#edit-title-'+ id +', #cancel-edit-'+ id +', #display-title-'+ id).toggle();
        $('#save-document-card-'+ id).toggle();
    });
    $('.cancel-edit').on('click', function(){
        let id = $(this).attr('id').split('-')[2];
        $('#edit-title-'+ id +', #cancel-edit-'+ id +', #display-title-'+ id).toggle();
        $('#save-document-card-'+ id).toggle();
    });

    // used to load pdf on click, faster than simply display every pdf on load.
    $('.display-pdf').on('click', function(){
        let id = $(this).attr('id').split('-')[1];
        let path = "{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/" + $('#this-document-'+id).val()
        $("#pdf-iframe-"+id).attr('src', path)
    });

    $('.button-delete').on('click', function(){
        let document_id = $(this).attr('id').split('-')[2];
        let document_name = $('#this-document-'+document_id).val();
        let url = $('#Url-'+document_id).attr("data-url");
        $.ajax({
            url: url,
            type: 'POST',
            processData: false, 
            contentType: false, 
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:'',
            success: function (response_data){
                if(response_data['success']){
                    $(".name-check-response").html('<div class="alert alert-success col-8 text-center mx-auto p-2" role="alert"><i class="far fa-check-circle"></i> '+ response_data['success'] + '</div>')
                    $('#document-'+document_id).remove()
                }else if(response_data['fail']){
                    $(".name-check-response").html('<div class="alert alert-warning col-8 text-center mx-auto p-2" role="alert"><i class="fas fa-exclamation-circle"></i> '+ response_data['fail'] + '</div>')
                }

                $(".name-check-response").fadeTo(5000, 1000).slideUp(1000, function(){
                    $(".name-check-response-"+document_id).slideUp(1000);
                });
            },
            fail: function(response_data){

            }
        })
    })

    // Check if document name is already in use.
    $('.edit-title').on('change', function(){
        let id = $(this).attr('id').split('-')[2];
        let document_name = $("#edit-title-"+id).val().replace('?', '-');
        let game_name = '{{ game_name }}';
        let url = '{% url "gestion:file_name_check" game_name=game_name type="document" target_name="document_name" id="id" order="0" %}'.replace(/document_name/, document_name.toString()).replace(/id/, id.toString());
        $.ajax({
            url: url,
            type: 'POST',
            processData: false, 
            contentType: false, 
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:'',
            success: function (response_data){
                if(response_data['success']){
                    $(".name-check-response-"+id).html('<div class="alert alert-success col-8 text-center mx-auto p-2" role="alert"><i class="far fa-check-circle"></i> '+ response_data['success'] + '</div>')
                    $('#save-document-button-'+id).css('display', 'inline');
                }else if(response_data['fail']){
                    $(".name-check-response-"+id).html('<div class="alert alert-warning col-8 text-center mx-auto p-2" role="alert"><i class="fas fa-exclamation-circle"></i> '+ response_data['fail'] + '</div>')
                    $('.green-button#save-document-button-'+id).css('display', 'none')
                }

                $(".name-check-response-"+id).fadeTo(5000, 1000).slideUp(1000, function(){
                    $(".name-check-response-"+id).slideUp(1000);
                });
            },
            fail: function(response_data){

            }
        })
    });

    $('.save-edited-title-button').on('click', function(){
        let id = $(this).attr('id').split('-')[2]
        let game_name = '{{ game_name }}';
        let new_short_name = $('#edit-title-'+id).val();
        let old_file_name = $('#this-document-'+id).val();
        let old_thumbnail_name = $('#thumbnail-'+id).val();
        let url = "{% url 'gestion:update_element_and_thumb' game_name='game_name' old_file_name='old_file_name' new_short_name='new_short_name' element_type='image' id='id' old_thumbnail_name='old_thumbnail_name'  %}".replace(/game_name/, game_name.toString()).replace(/old_file_name/, old_file_name.toString()).replace(/new_short_name/, new_short_name.toString()).replace(/id/, id.toString()).replace(/old_thumbnail_name/, old_thumbnail_name.toString());
        $.ajax({
            url: url,
            type: 'POST',
            processData: false, 
            contentType: false, 
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:'',
            success: function(response_data){
                if(response_data['url_success']){
                    window.location = '{% url "gesmjgenerator:update_document_success" game_name="default_game_value" %}'.replace(/default_game_value/, '{{ game_name }}')
                }else if(response_data['url_fail']){
                    window.location = '{% url "gesmjgenerator:update_document_fail" game_name="default_game_value" %}'.replace(/default_game_value/, '{{ game_name }}')
                }else if(response_data['url_unknown']){
                    window.location = '{% url "gesmjgenerator:update_document_unknown" game_name="default_game_value" %}'.replace(/default_game_value/, '{{ game_name }}')
                }else if(response_data['url_error']){
                    window.location = '{% url "gesmjgenerator:failed_fatal_error_view" game_name="default_game_value" %}'.replace(/default_game_value/, '{{ game_name }}')
                }
            },
            fail: function(response_data){
                window.location = '{% url "gesmjgenerator:failed_fatal_error_view" game_name="default_game_value" %}'.replace(/default_game_value/, '{{ game_name }}')
            }
        })

    })
</script>
{% endblock %}