{% extends "generalist_template.html"%}
{% load static %}
{% block content %}
<div class="container-fluid url-container-background-image display-inline pb-2 mb-2">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
        </div>
    </div>
  </div>

<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        {# DISPLAY ERRORS / SUCCESS MSG #}
            {% if 'success' in request.path %}
                <div class="col alert alert-success text-center w-100" role="alert">
                    {% if '/scenario/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre scenario a correctement été créé.</p>
                    {% elif '/upload/image/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> L'image selectionnée a été correctement mise en ligne.</p>
                    {% elif '/upload/document/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Le document selectionné a été correctement mise en ligne.</p>
                    {% elif '/scene/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre scène a correctement été créé.</p>
                    {% elif '/chapter/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre chapitre a bien été créé </p>
                    {% elif '/item/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre objet a bien été créé </p>
                    {% elif '/npc/template/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre modèle de fiche de personnage non-joueur a bien été créé </p>
                    {% elif '/note/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre note a bien été créé </p>
                    {% elif '/location/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre lieu a bien été créé </p>
                    {% elif '/npc/creation/success' in request.path %}
                        <p><i class="far fa-check-circle"></i> Votre personnage non-joueur a bien été créé </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
        
    <div class="row no-gutters justify-content-center">
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 overview-card">
            <h5 class="card-title text-center "><b> Voir tout le contenu de ce jeu</b></h5>
            <a href="{% url "gesmjgenerator:display_overview_view" game_name=game_name %}" class="link-brightness"><img class="card-img-top overview-img align-center" src="{% static '/fonts/overview.svg' %}" alt="Card image cap"></a>
        </div>
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card scenario-card">
            <h5 class="card-title text-center "><b> scénarios</b></h5>
            <a href="{% url "gesmjgenerator:display_scenario_list_view" game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_scenario.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color text-center"><a href="{% url 'gesmjgenerator:create_scenario_view' game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style "><i class="fas fa-pen-nib"></i>  Créer un scénarios </a></li>
                </ul>
            </div>
        </div>
    {# DISPLAY CONTENT CARD #}
    {% if linked_scenario_count <= 0 %}
        {# DISPLAY DISABLED CHAPTER CARD #}
        <div class="col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card chapter-card blocked-card new-blocked-card-object-cursor">
            <h5 class="card-title text-center blocked-card-text-error"><b>Chapitre</b></h5>
            <img class="card-img-top new-blocked-card-object-cursor new-blocked-card-object-image chapter-card align-center" src="{% static '/fonts/new_lock.svg' %}" alt="Card image cap">
            <hr/>
            <div class="card-body blocked-card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><p class="blocked-card-text-error text-justify"><i class="fas fa-exclamation-triangle"></i> Vous ne pouvez pas créer de chapitre tant que vous n'avez pas créé de scenario.</p></li>
                </ul>
            </div>
        </div>
    {% else %}
        {# DISPLAY ENABLED CHAPTER CARD #}
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10  chapter-card">
            <h5 class="card-title text-center "><b>chapitres</b></h5>
            <a href="{% url 'gesmjgenerator:display_chapter_list_view' game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_chapter.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color text-center"><a href="{% url 'gesmjgenerator:create_chapter_view' game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><i class="fas fa-pen-nib"></i> Créer un chapitre </i></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% if linked_chapter_count <= 0 %}
        {# DISPLAY DISABLED SCENE CARD #}
        <div class="col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 scene-card blocked-card new-blocked-card-object-cursor">
            <h5 class="card-title text-center blocked-card-text-error"><b>Scène</b></h5>
            <img class="card-img-top new-blocked-card-object-cursor new-blocked-card-object-image scene-card align-center" src="{% static '/fonts/new_lock.svg' %}" alt="Card image cap">
            <hr/>
            <div class="card-body blocked-card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><p class="blocked-card-text-error text-justify"><i class="fas fa-exclamation-triangle "></i> Vous ne pouvez pas créer de scène tant que vous n'avez pas créé de scenario et / ou de chapitre.</p></li>
                </ul>
            </div>
        </div>
    {% else %}
        {# DISPLAY ENABLED SCENE CARD #}
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card scene-card">
            <h5 class="card-title text-center"><b>scènes</b></h5>
            <a href="{% url 'gesmjgenerator:display_scene_list_view' game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_scene.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><a href="{% url "gesmjgenerator:create_scene_view" game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><p class="card-text-statistics text-center"> <i class="fas fa-pen-nib"></i> Créer une scene</p></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
        {# DISPLAY OTHERS CARD #}
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card npc-card">
            <h5 class="card-title text-center"><b>Personnage non-joueur</b></h5>
            <a href="{% url 'gesmjgenerator:display_npc_list_view' game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_npc.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><a href="{% url "gesmjgenerator:create_npc_template_view" game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><p class="card-text-statistics text-center"> <i class="fas fa-pen-nib"></i> Créer un nouveau modèle </p></a></li>                    
                    <li class="list-group-item card-list-color"><a href="{% url "gesmjgenerator:npc_template_selection_view" game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><p class="card-text-statistics text-center"> <i class="fas fa-pen-nib"></i> Créer un nouveau PNJ </p></a></li>
                </ul>
            </div>
        </div>
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card document-card">
            <h5 class="card-title text-center"><b>documents</b></h5>
            <a href="{% url 'gesmjgenerator:display_document_list_view' game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_document.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><a href="{% url "gesmjgenerator:upload_game_document_view" game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><p class="card-text-statistics text-center"> <i class="fas fa-pen-nib"></i> Mettre en ligne un document</li>
                </ul>
            </div>
        </div>
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card item-card">
            <h5 class="card-title text-center"><b>objets</b></h5>
            <a href="{% url 'gesmjgenerator:display_item_list_view' game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_item.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><a href="{% url "gesmjgenerator:create_item_view" game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><p class="card-text-statistics text-center"> <i class="fas fa-pen-nib"></i> Créer un nouvel objet </p></a></li>
                </ul>
            </div>
        </div>
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card location-card">
            <h5 class="card-title text-center"><b>lieux</b></h5>
            <a href="{% url 'gesmjgenerator:display_location_list_view' game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_building.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><a href="{% url "gesmjgenerator:create_location_view" game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><p class="card-text-statistics text-center"> <i class="fas fa-pen-nib"></i> Créer un nouveau lieu </p></a></li>
                </ul>
            </div>
        </div>
        <div class="card card-color card-size col-xl-2 col-md-4 col-lg-5 col-sm-8 col-10 create-new-object-card note-card">
            <h5 class="card-title text-center"><b>Vos notes</b></h5>
            <a href="{% url 'gesmjgenerator:display_note_list_view' game_name=game_name %}" class="link-brightness"><img class="card-img-top new-card-object-image align-center" src="{% static '/fonts/new_note.svg' %}" alt="Card image cap"></a>
            <hr/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-list-color"><a href="{% url "gesmjgenerator:create_note_view" game_name=game_name %}" class="card-text-statistics-url card-text-no-url-style"><p class="card-text-statistics text-center"> <i class="fas fa-pen-nib"></i> Créer une nouvelle note</p></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m-5">
    </div>
</div>


{% endblock %}

{% block javascript %}
<script>
$('.alert').fadeOut(5000)
let npc_template_count = parseInt('{{ linked_npc_template_count }}')
    if(npc_template_count == 0 || npc_template_count == NaN || npc_template_count == ''){
        $('a.access-npc-template-url').removeAttr('href');   
        $('a.access-npc-template-url > p').css('color','red').html('<i class="fas fa-exclamation-triangle"></i> <i>Vous ne pouvez pas encore créer de PNJ, créez d\'abord un modèle.</i>')
    }
</script>
{% endblock %}
