{% extends "generalist_template.html"%}
{% load static %}
{% block content %}

<div class="container-fluid url-container-background-image display-inline">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        {# DISPLAY ERRORS / SUCCESS MSG #}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-3 col-xs-10">
        qsdqsdqsdqsdqdqd
        </div>
        <div class="col-xl-7 col-md-7 col-xs-10">
        qsdqsd
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}