{% extends "generalist_template.html"%}
{% load static %}

{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:display_item_list_view" game_name=game_name %}' class="url-path">Objets</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
    <div class="row mb-5 col-12 mx-auto">
    {% for item in item_content %}
        <div class="row col-12">
            <h5 class="mx-auto col-10 p-2 mx-auto text-center outside-main-form-title"><i><b>{{ item.name }}</b></i></h5>
        </div>
        <div class="row rounded mx-auto edit-cursor">
            {% if item.image %}
            <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ item.image }}" class="col-8 mb-1 pt-2 pb-3 mx-auto item-image"  onclick="openFileOption();return;"/>
            {% else %}
            <img src="{% static '/fonts/new_item.svg' %}" class="col-8 mb-1 pt-2 pb-3 mx-auto item-image"  onclick="openFileOption();return;"/>
            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-1">
                    <div class="col-3 d-flex justify-content-center ">
                        <input type="file" id="id_file" onchange="readURL(this)" style="display:none">
                        <i class="far fa-edit fa-2x save-image-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="sauvegarder l'image"></i>
                        <i class="far fa-window-close fa-2x cancel-image-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12" id="item-description">
            <div class="col-12 text-center outside-main-form-title mt-1 mx-auto"><b>Description</b></div>
            {% if item.description %}
            <span class="mx-auto text-center edit-cursor scroller col-12 mb-1 pt-2 pb-2">
                <span class="editable-item-description text-break" id="editable-description-content" style="color:white;">
                {% autoescape off %} {{ item.description }}{% endautoescape %}
            {% else %}
            <span class="mx-auto text-center edit-cursor col-12 mb-1 pt-2 pb-2">
                <span class="editable-item-description text-break" id="editable-description-content" style="color:white;">
                {% autoescape off %}<p id="nothing-inside">Pas de description, cliquez pour en ajouter une.</p>{% endautoescape %}
            {% endif %}
            </span>
        </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mb-1">
                        <div class="col-3 d-flex justify-content-center ">
                            <i class="far fa-edit fa-2x save-description-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Sauvegarder"></i>
                            <i class="far fa-window-close fa-2x cancel-description-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12" id="item-effect">
                <div class="col-12 text-center outside-main-form-title mt-1 mx-auto"><b>Effets</b></div>
                        {% if item.effect %}
                        <span class="mx-auto text-center edit-cursor scroller col-12 mb-1 pt-2 pb-2">
                            <span class="editable-item-effect text-break " id="editable-effect-content" style="color:white;">
                            {% autoescape off %} {{ item.effect }}{% endautoescape %}
                        {% else %}
                        <span class="mx-auto text-center edit-cursor col-12 mb-1 pt-2 pb-2">
                            <span class="editable-item-effect text-break" id="editable-effect-content" style="color:white;">
                            {% autoescape off %}<p id="nothing-inside">Pas d'effets définis, cliquez pour en ajouter.</p>{% endautoescape %}
                        {% endif %}
                        </span>
                    </span>
                </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mb-1">
                        <div class="col-3 d-flex justify-content-center ">
                            <i class="far fa-edit fa-2x save-effect-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Sauvegarder"></i>
                            <i class="far fa-window-close fa-2x cancel-effect-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 mb-3">
                <div class="col-sm-11 col-xl-12 col-lg-12 d-flex justify-content-left bd-highlight ">
                    <button class="btn btn-primary npc-display-button" type="button" data-toggle="collapse" data-target=".not-empty-npc, .empty-npc" aria-expanded="false" aria-controls=".not-empty-npc, .empty-npc">Personnages non-joueurs équipés de cet objet  <i class="fas fa-sort-down"></i></button>
                </div>   
            </div>
            {% if not npc_content %}
            <div class="row collapse col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color empty-npc" id="empty">
                <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez assigné de personnage à cet objet</span>
            </div>
            {% else %}
            <div class="row d-flex justify-content-center col-12 mx-auto" id="">
            {% for npc in npc_content %}
                <div class="collapse not-empty-npc card col-xl-2 col-md-8 col-sm-8 col-12 create-new-object-card npc-card card-size " id="{{ npc.id }}">
                    <div class="card-body" id="color-npc-body-{{ npc.id }}">
                        <h5 class="card-title text-center npc-name-field break-text" id="npc-name-{{ npc.id }}"><b>{{ npc.name }}</b></h5>
                        {% if npc.image == None %}
                        <a href="{% url 'gesmjgenerator:display_selected_npc_view' game_name=game_name pk=npc.id %}"><img class="card-img-top new-card-object-image align-center " src="{% static '/fonts/new_item.svg' %}" alt="Card image cap"></a>
                        {% else %}
                        <a href="{% url 'gesmjgenerator:display_selected_npc_view' game_name=game_name pk=npc.id %}"><img class="card-img-top new-card-object-image align-center" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ npc.image }}" alt="Card image cap"></a>
                        {% endif %}
                        <input type="hidden" class="font-color" id="font-color-{{ npc.id }}" value="{{ npc.color }}"/>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
    {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

/* set background-color and foreground color on load */
$('.not-empty-item').ready(function(){
    let rgb_color = '';
    $('.not-empty-item').each(function(){
        rgb_color = $(this).css('background-color')
        if(tinycolor(rgb_color).getBrightness() > 150){
            $(this).css({ 'color': 'black'})
        }else{
            $(this).css({ 'color': 'white'})
        }
    })
})

$( document ).ready(function() {
    $('input[type=checkbox]').each(function(){
        $(this).prop('checked', false);
    })
    $('.cancel-description-edit, .save-description-edit, .save-image-edit, .cancel-image-edit, .save-effect-edit, .cancel-effect-edit').hide()
    let description_is_open = false;
    let effect_is_open = false;
    let editor_description = ''
    let editor_effect = ''



    $('#editable-description-content').on('click', function(){
        if(description_is_open === false){
            $('.cancel-description-edit, .save-description-edit').show();
            text_content = $('#editable-description-content').html();
            editor_description = CKEDITOR.replace('editable-description-content');
            $('.cke_editor1').css('margin','auto');
            CKEDITOR.instances['editable-description-content'].setData(text_content);
            description_is_open = true;
        }
    })

    $('#editable-effect-content').on('click', function(){
        if(effect_is_open === false){
            $('.cancel-effect-edit, .save-effect-edit').show()
            text_content = $('#editable-effect-content').html()
            editor_effect = CKEDITOR.replace('editable-effect-content');
            $('.cke_editor1').css('margin','auto');
            CKEDITOR.instances['editable-effect-content'].setData(text_content);
            effect_is_open = true;
        }
    })

    $('.cancel-description-edit').on('click', function(){
        $('.cancel-description-edit, .save-description-edit').hide();
        let text = $('.editable-item-description').html();
        editor_description.destroy();
        $('.editable-item-description').html(text);
        description_is_open = false;
    })

    $('.cancel-effect-edit').on('click', function(){
        $('.cancel-effect-edit, .save-effect-edit').hide();
        let text = $('.editable-item-effect').html();
        editor_effect.destroy();
        $('.editable-item-effect').html(text);
        effect_is_open = false;
    })

    $('.save-description-edit').on('click', function(){
        $('.cancel-description-edit, .save-description-edit').hide();
        description_is_open = false;
        let text_value = '';
        textbox_data = CKEDITOR.instances['editable-description-content'].getData();
        if(textbox_data.replace(/&nbsp;|<p>|<\/p>|\s/g, '').length === 0){
            CKEDITOR.instances['editable-description-content'].destroy();
            $('#editable-description-content').text('Description vide.');
            text_value = "Description vide.";
        }else{
            $('#editable-description-content').text(CKEDITOR.instances['editable-description-content'].getData());
            CKEDITOR.instances['editable-description-content'].destroy();
            text_value = $('#editable-description-content').html();
        }
        $('.cancel-description-edit, .save-description-edit').hide()
        let url = "{% url 'gestion:edit_item_description_text' game_name=game_name pk=item_id %}"
        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
                'description': text_value,
                'item_id' : '{{ item_id }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response_data) {
            },
            fail: function(response_data){
            }
        })
    })

    $('.save-effect-edit').on('click', function(){
        $('.cancel-effect-edit, .save-effect-edit').hide();
        effect_is_open = false;
        let text_value = '';
        textbox_data = CKEDITOR.instances['editable-effect-content'].getData();
        if(textbox_data.replace(/&nbsp;|<p>|<\/p>|\s/g, '').length === 0){
            CKEDITOR.instances['editable-effect-content'].destroy();
            $('#editable-effect-content').text('Sans effet.');
            text_value = "Description vide.";
        }else{
            $('#editable-effect-content').text(CKEDITOR.instances['editable-effect-content'].getData());
            CKEDITOR.instances['editable-effect-content'].destroy();
            text_value = $('#editable-effect-content').html();
        }
        let url = "{% url 'gestion:edit_item_effect_text' game_name=game_name pk=item_id %}";
        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
                'effect': text_value,
                'item_id' : '{{ item_id }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response_data) {
            },
            fail: function(response_data){
            }
        })
    })

    function openFileOption(){
        $('#id_file').click();
        $('.save-image-edit, .cancel-image-edit').show();
    }

    function readURL(input) {
        var url = input.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        if (input.files && input.files[0]&& (ext == "png" || ext == "jpg")) {
            var reader = new FileReader();
        
            reader.onload = function (e) {
                $('.item-image').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else{
            $('.item-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ item.image }}');
        }
    }


    $('.cancel-image-edit').on('click', function(){
        $('.save-image-edit, .cancel-image-edit').hide()
        $('.item-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ old_file_name }}')
    })



    $('.save-image-edit').on('click', function(){ 
        $('.save-image-edit, .cancel-image-edit').hide();

        let game_name = '{{ game_name }}';
        let document_id = '{{ document_id }}';
        let element_subtype_id = '{{ item_id }}';
        let new_short_name =  $('input[type=file]').val().split('\\').pop();
        
        let file_data = $('input[type=file]').prop('files')[0];   
        let form_data = new FormData();                  
        form_data.append('file', file_data);                  
        form_data.append('file_name', file_data);
        form_data.append('filename', file_data.name);
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        let url = "{% url 'gestion:update_element' game_name='game_name' old_file_name=old_file_name new_short_name='new_short_name' element_type='image' element_subtype='item' element_subtype_id='element_subtype_id' %}".replace(/game_name/, game_name.toString()).replace(/new_short_name/, new_short_name.toString()).replace(/document_id/, document_id.toString()).replace(/element_subtype_id/, element_subtype_id.toString());
        $.ajax({
            url: url ,
            type: 'post',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            async: false,
            cache: true,
            processData: false, 
            contentType: false, 
            data:form_data,
            success: function(response_data){
            },
            fail: function(response_data){
            }
        });
    })
})


</script>
{% endblock %}