{% extends "generalist_template.html"%}
{% load static %}

{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
    <div class="row mb-5 col-sm-12 col-xl-12 col-lg-12 mx-auto">
        <div class="col user-main-form-title">
            <h5 class="p-2 mx-auto text-center outside-main-form-title"><i>Vos lieux mis en ligne pour le jeu <b>'{{ game_name }}'</b></i></h5>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-5">
                <div class="col-3 d-flex justify-content-center ">
                    <i class="fas fa-tasks fa-2x select-all-location-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout selectionner"></i>
                    <i class="fas fa-list-ul fa-2x unselect-all-location-button card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout déselectionner"></i>
                    <i class="fas fa-trash-alt fa-2x suppress-location-selection-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 ml-1 " title="Supprimer la selection"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
    {% if not location_list %}
        <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color " id="empty">
           <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore créé de lieu</span>
        </div>
    {% else %}
    {% for location in location_list %}
    <div class="row-3 justify-content-left" id="location-{{ location.id }}">
        <input type="hidden" id="target-location-{{ location.id }}" value="{{ location.id}}"/>
        <div class="card create-new-object-card location-card card-size location-color-{{ location.id }} not-empty-location-{{ location.id}}" id="{{ location.id }}" style="background-color: {{ location.color }}">
            <div class="card-body font-color-{{ location.id }}">
                <h5 class="card-title text-center" id="location-name-{{ location.id }}"> <input type="checkbox" name="select-location-to-delete[]" class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 location-selection stylized-checkbox" id="multiple-delete-location-{{ location.id }}"><p class="title-break" id="title-{{ location.id }}"><b>{{ location.name }}</b></p></h5>
                {% if location.image == None %}
                <a href="{% url 'gesmjgenerator:display_selected_location_view' game_name=game_name pk=location.id %}"><img class="card-img-top new-card-object-image align-center mw-75 mh-75" src="{% static '/fonts/new_location.svg' %}" alt="Card image cap"></a>
                {% else %}
                <a href="{% url 'gesmjgenerator:display_selected_location_view' game_name=game_name pk=location.id %}"><img class="card-img-top new-card-object-image align-center mw-75 mh-75" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ location.image }}" alt="Card image cap"></a>
                {% endif %}
                <li class="list-group-item card-list-color color-change-{{ location.id }}" style="background-color: {{ location.color }}">Définir une couleur pour cette scene <input type="color" value="{{ location.color }}" class="color-change form-control" id="color-change-{{ location.id }}" name="color_hexa"/></li>            
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

/* set background-color and foreground color on load */
$('.color-change').ready(function(){
    $(".location-card").each(function() {
        let location_id = $(this).attr('id')
        let color = $('#color-change-'+location_id).val()
        if(tinycolor(color).getBrightness() > 150){
            $('.font-color-'+location_id+' >*').css({ 'color': 'black'})
            $('.color-change-'+location_id+', #title-'+location_id).css({'color': 'black'})
        }else{
            $('.font-color-'+location_id+' >*').css({ 'color': 'white'})
            $('.color-change-'+location_id+', #title-'+location_id).css({'color': 'white'})
        }
    });
})


$( document ).ready(function() {
    $('input[type=checkbox]').each(function(){
        $(this).prop('checked', false);
    })
}); 

$('.unselect-all-location-button').hide()
$('.unselect-all-location-button').on('click', function(){
    let id_number = ''
    let background_color = ''
    $('.location-selection').each(function(){
        $(this).prop("checked", false)
        id_number = $(this).attr('id').split('-')[3]
        background_color = $('#color-change-'+id_number).val()
        $('.location-color-'+id_number).css({'background-color': background_color,'filter' : 'brightness(1)'}).addClass('card-size').removeClass('selected-for-delete-font');
    })
    $('.unselect-all-location-button').hide()
    $('.select-all-location-button').show()
})

$('.select-all-location-button').on('click', function(){
    let id_number = ''
    let background_color = ''
    $('.location-selection').each(function(){
        $(this).prop("checked", true)
        id_number = $(this).attr('id').split('-')[3]
        if($('#color-change-'+id_number).val() != "#ffffff"){
            background_color = $('#color-change-'+id_number).val()
        }else{
            background_color = "#ffffff"
        }
        $('.location-color-'+id_number).css({'background-color': background_color, 'filter' : 'brightness(0.2)'}).addClass('selected-for-delete-font').removeClass('card-size')
    })
    $('.select-all-location-button').hide()
    $('.unselect-all-location-button').show()
})

$('.location-selection').on('click', function(){
    let checkbox_id = $(this).attr('id')
    let id_number = $(this).attr('id').split('-')[3]
    if($('#'+checkbox_id).is(':checked')){
        $('.location-color-'+id_number).css('filter', 'brightness(0.5)').addClass('selected-for-delete-font').removeClass('card-size')
    }else{
        $('.location-color-'+id_number).css('filter', 'brightness(1)').removeClass('selected-for-delete-font').addClass('card-size')
    }
})

$('.suppress-location-selection-button').on('click', function(){
    let selected_location = new Map();
    let location_name = '';
    let id;
    $('.location-selection').each(function(){
        if($(this).prop("checked") === true){
            id = $(this).attr('id').split('-')[3]
            location_name = $('#location-name-'+id).text()
            location_id = $('#target-location-'+id).val()
            selected_location.set(location_name, parseInt(id))
        }
    })
    let const_location = Object.fromEntries(selected_location)
    let url = "{% url 'gestion:delete_location' game_name=game_name %}"
        
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'location_informations': JSON.stringify(const_location),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response_data) {
            if(response_data.success){
                $.each(const_location, function(key, value){
                    $(".this-location-"+value).remove()
                })
            }
        },
        fail: function(response_data){
        }
    })
    
    
})

/* set background-color and foreground color on change */
$('.color-change').on('change', function(){
    let new_color = $(this).val()
    let location_id = $(this).attr('id').split('-')[2]
    let color = 'white'
    if(tinycolor(new_color).getBrightness() > 150){
        color = 'black';
    }
    $('.location-color-'+location_id+', .color-change-'+location_id+', #title-'+location_id).css({'background-color': new_color, 'color': color})
    
    let send_formatted_hex = new_color.split('#')[1];
    let url = "{% url 'gestion:file_color_change' game_name=game_name file_type='location' id='id' color='new_color' %}".replace(/id/, location_id.toString()).replace(/new_color/, send_formatted_hex.toString());
    $.ajax({
        url: url,
        type: 'GET',
        processData: false, 
        contentType: false, 
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:'',
        success: function (response_data){
        },
        fail: function(response_data){
        }
    })
})
</script>
{% endblock %}