{% extends "generalist_template.html"%}
{% load static %}

{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:display_location_list_view" game_name=game_name %}' class="url-path">Lieux</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
    <div class="row mb-5 col-12 mx-auto">
    {% for location in location_content %}
    
        <div class="row col-12">
            <h5 class="mx-auto col-10 p-2 mx-auto text-center outside-main-form-title"><i><b>{{ location.name }}</b></i></h5>
        </div>
        <div class="row rounded mx-auto edit-cursor">
            <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ location.image }}" class="col-8 mb-1 pt-2 pb-3 mx-auto location-image"  onclick="openFileOption();return;"/>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-1">
                    <div class="col-3 d-flex justify-content-center ">
                        <input type="file" id="id_file" onchange="readURL(this)" style="display:none">
                        <i class="far fa-edit fa-2x save-image-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="sauvegarder l'image"></i>
                        <i class="far fa-window-close fa-2x cancel-image-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12" id="location-description">
            <div class="col-12 text-center outside-main-form-title mt-1 mx-auto">Description</div>
                    {% if location.description %}
                    <span class="mx-auto text-center edit-cursor col-12 mb-1 pt-2 pb-2 scroller">
                        <span class="editable-location-text text-break" id="editable-description-content" style="color:white;">
                        {% autoescape off %} {{ location.description }}{% endautoescape %}
                    {% else %}
                    <span class="mx-auto text-center edit-cursor col-12 mb-1 pt-2 pb-2">
                        <span class="editable-location-text text-break" id="editable-description-content" style="color:white;">
                        {% autoescape off %}<p id="nothing-inside">Pas de description, cliquez pour en ajouter une.</p>{% endautoescape %}
                    {% endif %}
                    </span>
                </span>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mb-1">
                        <div class="col-3 d-flex justify-content-center ">
                            <i class="far fa-edit fa-2x save-text-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Sauvegarder"></i>
                            <i class="far fa-window-close fa-2x cancel-text-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 mb-3">
                <div class="col-sm-11 col-xl-12 col-lg-12 d-flex justify-content-left bd-highlight ">
                    <button class="btn btn-primary scene-display-button" type="button" data-toggle="collapse" data-target=".not-empty-scene, .empty-scene" aria-expanded="false" aria-controls=".not-empty-scene, .empty-scene">Vos scènes  <i class="fas fa-sort-down"></i></button>
                </div>   
            </div>
            {% if not scene_content %}
            <div class="row collapse col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color empty-scene" id="empty">
                <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez assigné de scène à ce lieu</span>
            </div>
            {% else %}
            <div class="row d-flex justify-content-center col-12 mx-auto " id="">
            {% for scene in scene_content %}
                <div class="collapse not-empty-scene card col-xl-2 col-md-8 col-sm-8 col-12 create-new-object-card scene-card card-size " id="{{ scene.id }}" style="background-color: {{ scene.color }}">
                    <div class="card-body" id="color-scene-body-{{ scene.id }}">
                        <h5 class="card-title text-center" id="scene-name-{{ scene.id }}">{{ scene.name }}</h5>
                        {% if scene.image == None %}
                        <a href="{% url 'gesmjgenerator:display_selected_scene_view' game_name=game_name pk=scene.id %}"><img class="card-img-top new-card-object-image align-center " src="{% static '/fonts/new_location.svg' %}" alt="Card image cap"></a>
                        {% else %}
                        <a href="{% url 'gesmjgenerator:display_selected_scene_view' game_name=game_name pk=scene.id %}"><img class="card-img-top new-card-object-image align-center" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ scene.image }}" alt="Card image cap"></a>
                        {% endif %}
                        <input type="hidden" class="font-color" id="font-color-{{ scene.id }}" value="{{ scene.color }}"/>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
    {% endfor %}
        </div>
</div>
{% endblock %}

{% block javascript %}
<script>

$( document ).ready(function() {
    $('input[type=checkbox]').each(function(){
        $(this).prop('checked', false);
    })
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()

    let is_open = false;
    /* set background-color and foreground color on load */
$(".font-color").each(function() {
    let scene_id = $(this).attr('id').split('-')[2]
    let color = $('#font-color-'+scene_id).val()
    if(tinycolor(color).getBrightness() > 150){
        $('#color-scene-body-'+scene_id+' >*').css({ 'color': 'black'})
    }else{
        $('#color-scene-body-'+scene_id+' >*').css({ 'color': 'white'})
    }
});

function openFileOption(){
    $('#id_file').click();
    $('.save-image-edit, .cancel-image-edit').show()
}

function readURL(input) {
    var url = input.value;
    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0]&& (ext == "png" || ext == "jpg")) {
        var reader = new FileReader();
    
        reader.onload = function (e) {
            $('.location-image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
    else{
         $('.location-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ location.image }}');
    }
}


$('.cancel-image-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()
    $('.location-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ old_file_name }}')
})


$('.save-image-edit').on('click', function(){ 
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()

    let game_name = '{{ game_name }}';
    let document_id = '{{ document_id }}';
    let element_subtype_id = '{{ location_id }}';
    let new_short_name =  $('input[type=file]').val().split('\\').pop();
    
    let file_data = $('input[type=file]').prop('files')[0];   
    let form_data = new FormData();                  
    form_data.append('file', file_data);                  
    form_data.append('file_name', file_data);
    form_data.append('filename', file_data.name);
    form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    let url = "{% url 'gestion:update_element' game_name='game_name' old_file_name=old_file_name new_short_name='new_short_name' element_type='image' element_subtype='location' element_subtype_id='element_subtype_id' %}".replace(/game_name/, game_name.toString()).replace(/new_short_name/, new_short_name.toString()).replace(/document_id/, document_id.toString()).replace(/element_subtype_id/, element_subtype_id.toString());
    $.ajax({
        url: url ,
        type: 'post',
        csrfmiddlewaretoken: '{{ csrf_token }}',
        async: false,
        cache: true,
        processData: false, 
        contentType: false, 
        data:form_data,
        success: function(response_data){
        },
        fail: function(response_data){
        }
    })
})
let editor = ''

$('.editable-location-text').on('click', function(){
    if(is_open === false){
        let id = $(this).attr('id');
        editor = CKEDITOR.replace(id);
        let text_content = $(this).html();
        CKEDITOR.instances['editable-description-content'].setData(text_content);
        $('.cancel-text-edit, .save-text-edit').show();
        is_open = true;
    }
})

$('.cancel-text-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit').hide();
    let text = $('#editable-description-content').html();
    editor.destroy();
    $('#editable-description-content').html(text);
    is_open = false;
})

$('.save-text-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit').hide();
    $('#nothing-inside').hide() 
    let text = '';
    textbox_data = editor.getData();
    if(textbox_data.replace(/&nbsp;|<p>|<\/p>|\s/g, '').length === 0){
        editor.destroy();
        let text = '';
        $('#editable-description-content').text('Description vide.');
        text_value = "Description vide.";
    }else{
        $('#editable-description-content').text(editor.getData());
        editor.destroy();
        text_value = $('#editable-description-content').html();
    }
    is_open = false; 
    $('.save-text-button').hide()
    let url = '{% url "gestion:edit_location_text" game_name=game_name pk=location_id %}'
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'text',
        async: false,
        cache: true,
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'game_name' : '{{ game_name }}',
            'location_id': '{{  location_id  }}',
            'new_text': text_value
        },
        success: function (data){
        },
        fail: function(response_data){
        }
    })
})
}); 



</script>
{% endblock %}