{% extends "generalist_template.html"%}
{% load static %}
{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
        {# DISPLAY ERRORS / SUCCESS MSG #}
        {% if 'error' in request.path %}
        <div class="col alert alert-danger text-center w-100" role="alert">
            {% if '/scenario/creation/success' in request.path %}
                <i class='fas fa-exclamation-circle'></i>&nbsp;<p>Le nom que vous avez essayé d'utiliser est déjà prit.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="row no-gutters">
        <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
            <h5 class="p-2 mx-auto text-center outside-main-form-title outside-main-form-title">Choix d'un model de fiche pour un nouveau personnage non-joueur</h5>
        </div>
    <div>
    </div>
        {% if not npc_template_list %}
            <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color " id="empty">
                <span class="mx-auto text-font"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore créé de modèle de fiche de P.N.J</span>
            </div>
        {% else %}
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-5 mx-auto p-2 " action="{% url 'gestion:npc_template_selected' game_name=game_name%}" enctype="multipart/form-data" method="post" runat="server">
            {% csrf_token %}
            <div class="text-center mx-auto mt-2 p-2 user-main-form">
                <div class="col-12 fieldWrapper">  
                    <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
                    <h5 class="p-2 mx-auto"><i>Choisissez un modèle pour votre fiche de personnage</i></h5>
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div class="row">
                        <div class="col-xl-11 mx-auto">
                            <select class="form-control template-select" aria-label="Default select example" name="template-select">
                                {% for template in npc_template_list %}
                                    <option value="{{ template.id }}">
                                        <span class="mx-auto">
                                            {{ template.name }}
                                        </span>
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper mx-auto p-2">
                    <input type="hidden" class="last-url" name="next" value="{{ request.path }}">
                    <button type="submit" class="file-submit submit-button btn btn-success align-center"  id="create-game-button">Choisir <i class="fas fa-check"></i></button>
                    <button type="button" class="btn btn-danger align-center" id="delete-button">Supprimer <i class="fas fa-trash-alt"></i> </button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

$('#delete-button').on('click', function(){
    let template_id = $('.template-select').val();
    let last_url = $('.last-url').val();
    let game_name = '{{ game_name }}'
    let url = '{% url "gestion:delete_npctemplate" %}';
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'template_id': template_id,
            'next': last_url,
            'game_name': game_name,
        },
        success: function (response_data) {
            if(response_data.success){
                $('.template-select').find('[value="'+template_id+'"]').remove();
            }
        }
    })
})

</script>
{% endblock %}