{% extends "generalist_template.html"%}
{% load static %}

{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:display_npc_list_view" game_name=game_name %}' class="url-path"> vos personnages non-joueurs </a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">

    <div class="row no-gutters">
        <div class="col-12 container-whitespace"></div>
        {# DISPLAY ERRORS / SUCCESS MSG #}
            {% if 'error' in request.path %}
                <div class="col alert alert-danger text-center w-100" role="alert">
                    {% if '/scenario/creation/success' in request.path %}
                        <i class='fas fa-exclamation-circle'></i>&nbsp;<p>Le nom que vous avez essayé d'utiliser est déjà prit.</p>
                    {% endif %}
                </div>
            {% endif %}
            <div class="col alert alert-success save-msg text-center w-100" role="alert" style="visibility:hidden"> <p>Votre fiche de personnage a correctement été sauvegardée.</p></div>
        </div>
        <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
            <h5 class="p-2 mx-auto text-center outside-main-form-title">Votre personnage non-joueur</h5>
        </div>
        <form name="file_upload_form" class="game-create-form create-content-form col-xl-8 col-md-10 col-sm-10 mx-auto mb-2 pb-2" id="npc-update-form" action="" enctype="multipart/form-data" method="post" runat="server">
        {% csrf_token %}
            <input type="hidden" class="next-url" name="next" value="{{ request.path }}">
            <div class="row no-gutters">
                <div class="col-xl-2 col-lg-3 col-md-3 col-12 col-xs-6 font-weight-bold template-button border-top border-left template-view-button" id="template-background-view-button"><p class="text-center text-font">Description du pnj</p></div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-12 col-xs-6 font-weight-bold template-button border-top template-view-button" id="template-stats-view-button"><p class="text-center text-font">Compétences et Statistiques</p></div>
                <div class="col-xl-2 col-lg-3 col-md-2 col-12 col-xs-6 font-weight-bold template-button border-top border-right template-view-button" id="template-inventory-view-button"><p class="text-center text-font">Inventaire</p></div>
            </div>
            <div class="col-xl-12 col-xs-10 col-12 col-md-12 text-center mx-auto npc-main-form border-left border-right background-color">
                <div class="col-12 fieldWrapper template-window" id="template-background-view">
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12 mx-auto informations-border mt-2 foreground-color">
                                <div class="form-group">
                                    <label for="template-npc-name" class="col-12 label-style title-style">
                                        Nom
                                    </label>
                                    <div class="row">
                                        {% if npc.name != '' %}
                                            <span class="col-xl-5 col-md-10 col-sm-10 mx-auto npc-sheet-cursor text-style" id="template-name-text">{{ npc.name }}</span>
                                            <input type="text" value="{{ npc.name }}" class="input-control col-xl-5 col-md-10 col-sm-10 mx-auto template-name-input ">
                                        {% else %}
                                            <span class="col-xl-5 col-md-10 col-sm-10 mx-auto npc-sheet-cursor text-style" id="template-name-text">vide</span>
                                            <input type="text" value="vide" class="input-control col-xl-5 col-md-10 col-sm-10 mx-auto template-name-input">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group mx-auto name-check-response m-5 col-xl-12 col-sm-12 col-md-12 col-12">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto  ">
                                <div class="row">
                                    <div class="col-12 title-style avatar-title mx-auto text-center mb-1">Avatar</div>
                                </div>
                                <div class="fieldWrapper mx-auto col-12">
                                    <img id="avatar-image-preview" class="col-xl-8 col-lg-10 col-md-10 col-sm-12 mx-auto img-preview npc-sheet-cursor" {% if npc.image %} src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ npc.image }}" {% else %} src="{% static 'fonts/npc-no-img.svg'%}" {% endif %} alt="" />
                                </div>
                                <div class="fieldWrapper mx-auto">
                                    <input type="file" id="id_file" class="fieldWrapper" name="npc_avatar" style="display: none;" />
                                    {# permit to hide filename, which it is unconfortable. #}
                                    <div class="row">
                                        <input type="button" class="btn btn-primary btn-lg btn-block mt-3 id-file-button col-xl-6 col-md-6 col-sm-12 col-12 mx-auto" value="Parcourir..." onclick="document.getElementById('id_file').click();" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 separator"></div>
                            <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto informations-border foreground-color">
                                <div class="form-group text-center">
                                    <label for="template-informations " class="label-style title-style text-justify">
                                        Informations
                                    </label>
                                </div>
                            {% for information in npc.npc_informations%}
                                {% if forloop.last %}
                                    <div class="col col-xl-12 col-lg-12 col-md-6 col-sm-12 mb-3">
                                {% else %}
                                    <div class="col col-xl-12 col-lg-12 col-md-6 col-sm-12 mb-1">
                                {% endif %}
                                    <div class="row" id="information-{{ information.formated_name }}">
                                        <div class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-6 text-justify text-break "><span class="title-style" id="displayed-{{ information.name }}-label">{{ information.name }}</div>
                                        {% if information.value == "" %}
                                            <div class="character-informations-display npc-sheet-cursor col-xl-5 col-lg-6 col-md-6 col-sm-8 col-6 text-style text-left" id="displayed-{{ information.name }}">vide</div>
                                        {% else %}
                                            <div class="character-informations-display npc-sheet-cursor col-xl-5 col-lg-6 col-md-6 col-sm-8 col-6 text-style text-left" id="displayed-{{ information.name }}">{{ information.value }}</div>
                                        {% endif %}
                                        <input type="text" class="character-informations col-xl-5 col-lg-6 col-md-6 col-sm-8 col-6 " value="{{ information.value }}" name="{{ information.name }}" id="{{ information.name }}"/>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row template-fields d-flex justify-content-center mx-auto" id="template-informations">
                    </div>
                    <div class="row mt-3">
                    {% for description in npc.npc_descriptions %}
                        <div class="col-sm-12 col-xl-10 mx-auto mt-2 informations-border foreground-color" id="background-{{ description.formated_name }}">
                            <div class="col col-xl-6 col-md-6 col-sm-12 d-flex justify-content-center mx-auto ">
                                <div class="row-cols-xl-4 mx-auto">
                                    <div>
                                        <span class="title-style mb-3" id="title-{{ description.formated_name }}-display">{{ description.name }}</span>
                                    </div>
                                </div>
                            </div>
                                {% if description.value == ""%}
                                <div class="textfield-description-display npc-sheet-cursor text-style" id="textfield-{{ description.formated_name }}-display">
                                    Vide
                                {% else %}
                                <div class="textfield-description-display npc-sheet-cursor text-style text-break npc-scroller" id="textfield-{{ description.formated_name }}-display">
                                    {% autoescape off %}
                                    {{ description.value|safe }}
                                    {% endautoescape  %}
                                {% endif %}
                            </div>
                            <input type="text" name="{{ description.formated_name }}" class="textfield-description" id="textfield-{{ description.formated_name }}" hidden/>
                            <div class="mb-3 separator"></div>
                         </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-12 fieldWrapper template-window" id="template-stats-view">  
                    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">{#  style="border: thick double #000000;" #}
                        <div class="row mx-auto d-flex justify-content-center">
                            <label for="template-attributes" class=" label-style title-style mt-2">Caracteristiques</label>
                        </div>
                        <hr/>
                        <div class="row mx-auto mt-1 mb-1">
                            {% for attr in npc.attributes %}
                                <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-2">
                                    <div class="form-group col">
                                        {% if "fas" in npc.attributes_option or "far" in npc.attributes_option %}
                                        <span class="text-style">{{ attr.name }} (<span id="attribute-{{ attr.formated_name }}-value" class="attribute-value-now">{{ attr.value }}</span> / <span>{{ npc.attributes_max_values }}</span>)</span> 
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <i class="minus-attr fas fa-minus" id="minus-attr-{{ attr.formated_name }}"></i>
                                            <i class="ml-2 plus-attr fas fa-plus" id="plus-attr-{{ attr.formated_name }}"></i>
                                        </div>
                                        <div id="attr-{{attr.formated_name }}" class="mx-auto mb-2 attributes-view">
                                        {% for range in npc.attributes_values_range %}
                                            {% if range <= attr.value %}
                                                <i id="attribute-{{ attr.formated_name }}-{{ range }}" class="{{npc.attributes_option}} {{ attr.formated_name }} selected_skill_color fas npc-statistics-color"></i>
                                            {% else %}
                                                <i id="attribute-{{ attr.formated_name }}-{{ range }}" class="{{npc.attributes_option}} {{ attr.formated_name }} npc-statistics-colorfull"></i>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        <div class="col-12">
                                            <div class="text-style text-center">{{ attr.name }}</div> 
                                            <input type="number" name="attributes-{{ attr.formated_name }}" value="{{ attr.value }}"  class="attributes-number mx-auto col-12" pattern="[0-9]" value="0" default="0" max="{{ npc.attributes_max_values }}" id="attribute-{{ attr.formated_name }}"/>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group mx-auto">
                        <div class="row mx-auto d-flex justify-content-center mt-1 ">
                            <label for="template-attributes" class=" label-style title-style">compétences</label>
                        </div>
                        <hr/>
                        <div class="row mx-auto mt-1 mb-1">
                            {% for skill in npc.skills %}
                                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-2">
                                    <div class="form-group col">
                                        {% if "fas" in npc.skills_option or "far" in npc.skills_option %}
                                        <span class="text-style skill-value">{{ skill.name }} (<span id="skill-{{ skill.formated_name }}-value" class="skill-value-now">{{ skill.value }}</span> / <span id="skill-{{ skill.formated_name }}-max-value">{{ npc.skills_max_values }}</span>)</span> 
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <i class="minus-skill fas fa-minus" id="minus-skill-{{ skill.formated_name }}"></i>
                                            <i class="ml-2 plus-skill fas fa-plus" id="plus-skill-{{ skill.formated_name }}"></i>
                                        </div>
                                        <div id="skill-{{skill.formated_name }}" class="mx-auto mb-2 skills-view">
                                        {% for range in npc.skills_values_range %}
                                            {% if range <= skill.value %}
                                                <i id="skill-{{ skill.formated_name }}-{{ range }}" class="{{npc.skills_option}} {{ skill.formated_name }} selected_skill_color fas npc-statistics-color"></i>
                                            {% else %}
                                                <i id="skill-{{ skill.formated_name }}-{{ range }}" class="{{npc.skills_option}} {{ skill.formated_name }} npc-statistics-colorfull"></i>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        <div class="col-12">
                                            <div class="text-style text-center">{{ skill.name }}</div> 
                                            <input type="number" name="skills-{{ skill.formated_name }}" value="{{ skill.value }}"  class="skills-number mx-auto col-12" pattern="[0-9]" value="0" max="{{ npc.skills_max_values }}" id="skill-{{ skill.formated_name }}"/>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>              
                </div>
                <div class="col-12 fieldWrapper template-window" id="template-inventory-view">  
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="row mx-auto d-flex justify-content-center">
                            <label for="template-attributes" class="label-style mx-auto title-style mt-2 pb-3">Objets spéciaux</label>
                        </div>
                        <div class="row mx-auto pb-3 template-inventory">
                                {# INVENTORY ITEM PART #}
                                {% for inventory_slot in npc.inventory_range %}
                                    <div class="col col-xl-1 col-md-2 col-lg-2 col-sm-3 col-6 inventory-slot mx-auto inventory-slot-picture item-image-in-inventory" id="inventory-slot-{{ inventory_slot }}" data-toggle="modal" data-target=".menu-item-{{ inventory_slot }}">
                                    {% for inventory_item in npc.npc_inventory %}
                                        {% if inventory_slot == inventory_item.item_slot %} 
                                            <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ inventory_item.value }}" class="inventory-slot-picture item-image-in-inventory"  id="inventory-item-picture-{{ inventory_slot }}" style="" alt="{{ inventory_item.item_id }}" style="background-size : contain"/>
                                        {% endif %}
                                    {% endfor%}
                                    </div>
                                    {# END OF INVENTORY ITEM PART #}
                                    {# ITEM SELECT PART #}
                                    <div class="modal fade mx-auto menu-item menu-item-{{ inventory_slot }}" id="menu-item-empty-{{ inventory_slot }}" tabindex="-1" role="dialog" aria-labelledby="menu-item-label" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header mx-auto">
                                                    <h5 class="modal-title" id="menu-item-label">Selectionnez un objet</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <select name="special-item-list" class="form-control item-list-select" id="item-list-{{ inventory_slot }}">
                                                            <option id="empty-item-choice" class="">Vide</option>
                                                            {% for item in npc.items_list %}
                                                                <option value="{{ item.id }}" id="item_{{ item.id }}_{{ item.image }}" class="item-list-option-{{ inventory_slot }}">{{ item.formated_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group picture-wrapper">
                                                        <img src="" class="special-item-picture col-xl-6" id="special-item-picture-{{ inventory_slot }}"/>
                                                    </div>
                                                </div>
                                                <div class="modal-footer mx-auto">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    <button type="button" class="btn btn-primary picture-select-button" id="picture-select-button-{{ inventory_slot }}"data-dismiss="modal">Selectionner</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {# END ITEM SELECT PART #}
                                {% endfor %}
                                
                                {# ITEM DESCRIPTION PART #}
                                {% for inventory_slot in npc.inventory_range %}
                                    {% for inventory_item in npc.npc_inventory %}
                                        {% if inventory_slot == inventory_item.item_slot %}
                                            <div class="container item-informations mt-2 col-xl-6 col-md-6 col-xs-12 col-lg-10 col-10 mb-3" id="item-id-{{ inventory_item.item_id }}">
                                            {% for item in npc.items_list %}
                                                {% if item.id == inventory_item.item_id %}
                                                <section class="row rounded item-informations-style">
                                                    <div class="clearfix col-12" >
                                                        <div class="row no-gutters">
                                                            {% autoescape off %}
                                                            <b class="col-12 p-2 text-center">{{ item.formated_name }}</b>
                                                            {% endautoescape %}
                                                        </div>
                                                        <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ item.image }}" class="img-thumbnail rounded float-right ml-2 mt-4 pt-3 pl-3 col-6" style="max-width:10vw; max-height:20vh"/>
                                                        <b class=" col-6 p-2 text-right">Description</b>
                                                        <p class="text-break col-6">
                                                            {% autoescape off %}
                                                            {{ item.description|safe|escape}}
                                                            {% endautoescape %}
                                                        </p>
                                                        <div class="row no-gutters">
                                                            <b class="col-12 p-2 text-center">Effets de cet objet</b>
                                                            {% autoescape off %}
                                                            <b class="col-12 p-2 text-left">{{ item.effect|safe }}</b>
                                                            {% endautoescape %}
                                                        </div>
                                                    </div>
                                                </section>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {# END OF ITEM DESCRIPTION PART #}
                        </div>
                        <div class="row mx-auto d-flex justify-content-center mt-2">
                            <label for="template-common-item" class=" label-style title-style pb-3">Objets communs <i class="plus-inventory fas fa-plus-circle circle-color mb-2" id="plus-inventory-slot" ></i>  </label>
                        </div>
                        <div class="row template-fields d-flex justify-content-left pb-3" id="common-inventory-item">
                            {% for item in npc.common_items %}
                            <div class="col-lg-5 col-xl-6 col-md-6 col-sm-12 col-12 mx-auto mb-2" id="item-{{ item.id }}">
                                <div class="row mx-auto">
                                    <input type="text" name="commons-items[]" class="col-5 col-lg-8 col-md-7 col-xl-6 col-sm-8 mb-1 template-item-name form-control" id="template-item-name-{{ item.id }}" placeholder="objet" value="{{item.name}}">
                                    <input type="number" value="{{ item.quantity }}" class="col-5 col-lg-3 col-md-4  col-xl-4 col-sm-5 form-control" id="item-quantity-{{ item.id }}" min="0" name="common-item-value"/>
                                    <i class="fas fa-window-close remove-item-field col-2 col-xl-1 col-lg-1 col-md-1  col-sm-2 pl-1 mt-2" id="template-item-{{ item.id }}-close"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mb-3 mt-3">
                    <button type="submit" class="col-12 btn btn-success npc-save-button align-center" id=""><b>Enregistrer</b></button>
                </div>
            </div>
        </form>
    </div>        
    <div class="row col-12 mb-3 pb-3">
        <div class="col-sm-11 col-xl-12 col-lg-12 d-flex justify-content-left bd-highlight ">
            <button class="btn btn-primary chapter-display-button" type="button" data-toggle="collapse" data-target=".not-empty-scene, .empty-scene" aria-expanded="false" aria-controls=".not-empty-scene, .empty-scene">Ce personnage est présent dans ces scenes <i class="fas fa-sort-down"></i></button>
        </div>    
    </div>
    <div class="row d-flex justify-content-center col-12 mx-auto mb-5" id="">
        {% if not scene_content %}
        <div class="row collapse col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color empty-scene" id="empty">
            <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Ce personnage non joueur n'a pas encore été assigné à une scene.</span>
        </div>
        {% else %}
        {% for scene in scene_content %}
        <div class="collapse not-empty-scene card col-xl-2 col-md-8 col-sm-8 create-new-object-card scene-card card-size" id="scene-{{ scene.id }}" style="background-color: {{ scene.color }}">
            <input type="hidden" class="font-color" id="font-color-{{ scene.id }}" value="{{ scene.color }}"/>
            <div class="card-body scene-body" id="color-scene-body-{{ scene.id }}">
                <h5 class="card-title text-center"><p><b id="scene-name-{{ scene.id }}" class="title-break">{{ scene.name }}</b></p></h5>
                {% if scene.image == '' %}
                <a href="{% url 'gesmjgenerator:display_selected_scene_view' game_name=game_name pk=scene.id %}"><img class="card-img-top new-card-object-image align-center " id="scene-img-{{ scene.id }}" src="{% static '/fonts/new_lscene.svg' %}" alt="Card image cap"></a>
                {% else %}
                <a href="{% url 'gesmjgenerator:display_selected_scene_view' game_name=game_name pk=scene.id %}"><img class="card-img-top new-card-object-image align-center" id="scene-img-{{ scene.id }}" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ scene.image }}" alt="Card image cap"></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>        
    <div class="row col-12 mb-3 "> 
        <div class="col-sm-11 col-xl-12 col-lg-12 d-flex justify-content-left bd-highlight ">
            <button class="btn btn-primary chapter-display-button" type="button" data-toggle="collapse" data-target=".not-empty-location, .empty-location" aria-expanded="false" aria-controls=".not-empty-location, .empty-location">Ce personnage est présent dans ces lieux <i class="fas fa-sort-down"></i></button>
        </div>   
    </div>
    <div class="row d-flex justify-content-center col-12 mx-auto mb-5" id="">
        {% if not location_content %}
        <div class="row collapse col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color empty-location" id="empty">
            <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Ce personnage non joueur n'a pas encore été assigné à un lieu.</span>
            <p class="mx-auto col-12 text-center selector-mousestyle" data-toggle="modal" data-target="#modalLocationSelection"><b>Cliquez ici pour en ajouter un ou plusieurs.</b></p>
        </div>
        {% else %}
        <div class="collapse not-empty-location container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-5">
                    <div class="row col-12 collapse button-add-new-npc ">
                        <button type="button" data-toggle="modal" data-target="modalLocationSelection" class="mx-auto col-xl-6 col-md-6 col-lg-8 col-sm-10 mb-5 btn navbar-text-color"><b>Cliquez ici pour en ajouter un ou plusieurs personnage non joueur</b></button>
                    </div>
                    <div class="col-3 d-flex justify-content-center ">
                        <i class="fas fa-tasks fa-2x select-all-location-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout selectionner"></i>
                        <i class="fas fa-list-ul fa-2x unselect-all-location-button card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout déselectionner"></i>
                        <i class="fas fa-trash-alt fa-2x suppress-location-selection-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 ml-1 " title="Supprimer la selection"></i>
                    </div>
                </div>
            </div>
        </div>
        {% for location in location_content %}
        <div class="collapse not-empty-location location-selection-card card col-xl-2 col-md-8 col-sm-8 col-12 create-new-object-card location-card card-size" id="location-{{ location.id }}" style="background-color: {{ location.color }}">
            <input type="hidden" class="font-color" id="font-color-{{ location.id }}" value="{{ location.color }}"/>
            <div class="card-body location-body" id="color-location-body-{{ location.id }}">
                <h5 class="card-title text-center"><input type="checkbox" name="select-location-to-delete[]" class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 location-selection stylized-checkbox" id="multiple-delete-location-{{ location.id }}"><p><b id="location-name-{{ location.id }}" class="title-break">{{ location.name }}</b></p></h5>
                {% if location.image == '' %}
                <a href="{% url 'gesmjgenerator:display_selected_location_view' game_name=game_name pk=location.id %}"><img class="card-img-top new-card-object-image align-center " id="location-img-{{ location.id }}" src="{% static '/fonts/new_location.svg' %}" alt="Card image cap"></a>
                {% else %}
                <a href="{% url 'gesmjgenerator:display_selected_location_view' game_name=game_name pk=location.id %}"><img class="card-img-top new-card-object-image align-center" id="location-img-{{ location.id }}" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ location.image }}" alt="Card image cap"></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="modal fade" id="modalLocationSelection" tabindex="-1" role="dialog" aria-labelledby="modalLocationSelection" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title col-12 text-center" id="exampleModalLabel">Choisissez vos personnages à ajouter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% if location_add_list %}
                    <form action="{% url 'gestion:add_npc_in_location' game_name=game_name pk=npc_id %}" method="post" class="modal-body" name="add-location-in-npc[]">
                        {% csrf_token %}
                        <div class="modal-body d-flex justify-content-center row">
                            <select name="location" class="form-select" size="{{ location_count }}" id="location-selection" multiple >
                                {% for location in location_add_list %}
                                <option class="text-justify" value="{{ location.id }}">{{ location.name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer d-flex justify-content-center row">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="modal-body d-flex justify-content-center row">
                        <p class="text-center col-12"> Aucun lieu créé,</p>
                        <p class="text-center col-12 selector-mousestyle"><a href="{% url "gesmjgenerator:create_location_view" game_name=game_name %}"><b>cliquez ici pour en créé un.</b></a></p>
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block javascript %}
<script>

$(document).ready(function(){

    $('.template-button').on('click', function(){
        let id = $(this).attr('id').split('-button')[0]
        $('.template-window').each(function(index){
            if($(this).attr('id') !== id){
                $(this).hide()
            }else{
                $(this).show()
            }
        })
    })


    $(".template-button").on('click', function(){
        let this_button = $(this).attr('id')
        $(".template-button").each(function(){
            $(this).html()
            if($(this).attr('id') == this_button){
                if($(this).hasClass('template-button-activated') == false){
                    $(this).toggleClass('template-button-activated')
                }
            }else{
                if($(this).hasClass('template-button-activated') == true){
                    $(this).toggleClass('template-button-activated')
                }
            }
        })
    })

    $('.character-informations').hide()

    $('.character-informations-display').on('click', function(){
        if($(this).is(':visible')){
            $(this).hide();
            let id = $(this).attr('id').split('-')[1]
            $('#displayed-'+id+'-label').css('font-weight','bold');
            $('#'+id).toggle().focus();
        }
    })

    $('.character-informations').on('focusout', function(){
        let new_information_value = $(this).val()
        let id = $(this).attr('id')
        $('#displayed-'+id+'-label').css('font-weight','');
        $(this).toggle();
        if( new_information_value != $('#displayed-'+id).text()){
            if( new_information_value == ''){
                $('#displayed-'+id).html('vide').toggle();
            }else{
                $('#displayed-'+id).html(new_information_value+'  <i class="fas fa-pen-fancy information-change" id="information-change-'+id+'" style="color:green;"></i>').toggle();
            }
        }else{
            $('#displayed-'+id).toggle()
        }
    })

    $('.textfield-description-display').on('click', function(){
        if($(this).is(':visible')){
            $(this).hide()
            let splitted_id = $(this).attr('id').split('-')[1];
            let id = $(this).attr('id')
            let editor =''
            {% for description in npc.npc_descriptions %}
                if(splitted_id == `{{ description.formated_name }}`){
                    editor = CKEDITOR.replace(splitted_id);
                    {% autoescape on %}
                        editor.setData(`{{ description.value|safe }}`)
                    {% endautoescape %}
                    if(editor){
                        editor.focus()
                        CKEDITOR.instances[CKEDITOR.instances[editor.name]['name']].on("blur", function() {
                            let new_data = editor.getData()
                            if( new_data != ""){
                                $('#title-'+'{{ description.formated_name }}'+'-display').html(`{{ description.name }}`+` <i class="fas fa-pen-fancy description-change" id="description-change-`+id+`"  style="color:green;"></i>`)
                            }else{
                                $('#title-'+'{{ description.formated_name }}'+'-display').html(`{{ description.name }}`)
                                new_data = "Vide"
                            }
                            $('#'+id).html(new_data).show()
                            editor.destroy()
                        });
                    }
                }
            {% endfor %}
        }
    })

    $('.text-style').css({
        'color': '{{ npc.text_font_color }}', 
        'font-family': '{{ npc.text_font }}',
        'font-weight': '{{ npc.text_font_weight }}',
        'font-style': '{{ npc.text_font_style }}'
        })

    $('.title-style').css({
        'color': '{{ npc.title_font_color }}', 
        'font-family': '{{ npc.title_font }}',
        'font-weight': '{{ npc.title_font_weight }}',
        'font-style': '{{ npc.title_font_style }}'
    })
    
    let get_font_size_em = parseFloat($('.url-path').css('font-size').split('px'))/16;
    let text_size = '{{ npc.text_font_size }}';
    let title_size = '{{ npc.title_font_size }}';
    if(text_size === "small"){
        $('.text-style').css('font-size', get_font_size_em-(0.063*2) + 'em');
    }else if(text_size === "medium"){
        $('.text-style').css('font-size', get_font_size_em + 'em');
    }else if(text_size === "hight"){
        $('.text-style').css('font-size', get_font_size_em+(0.063*2) + 'em');
    }else if(text_size === "very-hight"){
        $('.text-style').css('font-size', get_font_size_em+(0.063*4) + 'em');
    }else{
        $('.text-style').css('font-size', get_font_size_em + 'em');
    }
    
    if(title_size === "small"){
        $('.title-style').css('font-size', get_font_size_em-(0.063*2) + 'em');
    }else if(title_size === "medium"){
        $('.title-style').css('font-size', get_font_size_em + 'em');
    }else if(title_size === "hight"){
        $('.title-style').css('font-size', get_font_size_em+(0.063*2) + 'em');
    }else if(title_size === "very-hight"){
        $('.title-style').css('font-size', get_font_size_em+(0.063*4) + 'em');
    }else{
        $('.title-style').css('font-size', get_font_size_em + 'em');
    }

    
    $('.plus-inventory').on('click', function(){
        let element_id = Math.floor((Math.random() * 100000) + 1);
        $('#common-inventory-item').append('\
            <div class="col-lg-5 col-xl-6 col-md-6 col-sm-12 col-12 mx-auto mb-2" id="item-'+element_id+'">\
                <div class="row mx-auto">\
                    <input type="text" name="commons-items[]" class="col-5 col-lg-8 col-md-7 col-xl-6 col-sm-8 mb-1 template-item-name form-control template-item-name " id="template-item-name-'+element_id+'" placeholder="objet"/>\
                    <input type="number" value="0" class="col-5 col-lg-3 col-xl-4 col-md-4 col-sm-5 form-control" id="item-quantity-'+element_id+'" min="0" name="common-item-value"/>\
                    <i class="fas fa-window-close remove-item-field col-2 col-xl-1 col-md-1 col-lg-1 col-sm-2 pl-1" id="template-item-'+element_id+'-close"></i>\
                </div>\
            </div>'
        )
        $('#item-quantity-'+element_id).keyup(function(event){
            let value = jQuery(this).val();
            value = value.replace(/[^0-9]+/g, '');
            jQuery(this).val(value);
        });

        $('.remove-item-field').on('click', function(){
            let target_id = $(this).attr('id').split('-')[2];
            $('#item-'+target_id).remove()
        })

    })

    function element_exists(elementName){
        if($(elementName).length > 0){
            return true;
        }
    }

    let attribute_itterator = 1;
    let skill_itterator = 1;
    let attribute_max_value = '{{ npc.attributes_max_values }}';
    let attributes_option = '{{ npc.attributes_option}}' 
    let skill_max_value = '{{ npc.skills_max_values }}'
    let skill_classname = "";
    let attribute_classname = "";

    $('i.plus-attr').on('click', function(){
        let attribute_name = $(this).attr('id').split('-')[2];
        let attribute_value = parseInt($('#attribute-'+attribute_name+'-value').text())
        if(attribute_classname != attribute_name){
            attribute_classname = attribute_name
            attribute_itterator = attribute_value
        }
        if(attribute_itterator >= 0 && attribute_itterator < attribute_max_value){        
            attribute_itterator++;
        }
        $('i#attribute-'+attribute_name+'-'+attribute_itterator).addClass('selected_attribute_color fas  npc-statistics-color').removeClass('far npc-statistics-colorfull');
        $('span#attribute-'+attribute_name+'-value').html(attribute_itterator)


    })

    $('i.minus-attr').on('click', function(){
        let attribute_name = $(this).attr('id').split('-')[2];
        let attribute_value = parseInt($('#attribute-'+attribute_name+'-value').text())
        
        if(attribute_classname != attribute_name){
            attribute_classname = attribute_name
            attribute_itterator = attribute_value
        }

        if(attribute_itterator >= 1){
            $('i#attribute-'+attribute_name+'-'+attribute_itterator).removeClass('selected_attribute_color fas  npc-statistics-color').addClass('far  npc-statistics-colorfull').css('color', '');
            attribute_itterator--;
        }else{
            attribute_itterator = 0;
        }

        $('span#attribute-'+attribute_name+'-value').html(attribute_itterator)

    })


    $('i.plus-skill').on('click', function(){
        let skill_name = $(this).attr('id').split('-')[2];
        let skill_value = parseInt($('#skill-'+skill_name+'-value').text())
        if(skill_classname != skill_name){
            skill_classname = skill_name
            skill_itterator = skill_value
        }
        if(skill_itterator >= 0 && skill_itterator < skill_max_value){        
            skill_itterator++;
        }
        
        $('i#skill-'+skill_name+'-'+skill_itterator).addClass('selected_skill_color fas  npc-statistics-color').removeClass('far npc-statistics-colorfull');
        $('span#skill-'+skill_name+'-value').html(skill_itterator)


    })

    $('i.minus-skill').on('click', function(){
        let skill_name = $(this).attr('id').split('-')[2];
        let skill_value = parseInt($('#skill-'+skill_name+'-value').text())
        
        if(skill_classname != skill_name){
            skill_classname = skill_name
            skill_itterator = skill_value
        }

        if(skill_itterator >= 1){
            $('i#skill-'+skill_name+'-'+skill_itterator).removeClass('selected_skill_color fas  npc-statistics-color').addClass('far  npc-statistics-colorfull').css('color', '');
            skill_itterator--;
        }else{
            skill_itterator = 0;
        }
        $('#skill-'+skill_name+'-value').html(skill_itterator)
    })

    
    $('.foreground-color').css('background-color',  "{{ foreground_color }}")
    $('.background-color').css('background-color', "{{ description_color }}")

    
    $('#npc-update-form').submit(function(event){
        event.preventDefault();
        let game_name = '{{ game_name }}';
        let url ="{% url 'gestion:update_npc' game_name=game_name %}";
        let background_informations_fields = new Map() 
        let background_fields = new Map();
        let inventory_fields = new Map();
        let skills_fields = new Map();
        let attributes_fields = new Map();
        let picture_field = new Map();
        let common_inventory_fields = new Map();
        let npc_id = parseInt('{{ npc.npc_id }}');

        $('.character-informations').each(function(){
            let information_class = $(this).attr('id')
            background_informations_fields.set(information_class, $(this).val())
        });
        $('.textfield-description-display').each(function(){
            let description_class = $(this).attr('id')
            background_fields.set(description_class , $(this).html())
        });
        $('.inventory-slot img').each(function(){
            let inventory_class = $(this).attr('id');
            if($(this).attr('src') != ""){
                let item_name = $(this).attr('src').split('/')[4];
                inventory_fields.set(inventory_class , item_name)
            }else{
                inventory_fields.set(inventory_class , '')
            }
        });

        if(element_exists(".skills-number")){
            $('input.skills-number').each(function(){
                let skills_name = $(this).attr('id').split('-')[1]
                skills_fields.set(skills_name, $(this).val())
            });
        }else if(element_exists('.skills-view > i.fas') || element_exists('.skills-view > i.far') ){
            let itterator = 0;
            let skills_name = '';
            $('.skills-view').each(function(){
                let id = $(this).attr('id')
                $('#'+id+' > i.fas').each(function(){
                    skills_name = $(this).attr('id').split('-')[1]
                    let full_id = $(this).attr('id')
                    if($("#"+full_id).hasClass('selected_attribute_color')){
                        itterator++;
                    }
                })
                skills_fields.set(skills_name, itterator)
                itterator = 0;
            })
        }
        

        $('#common-inventory-item > div').each(function(){
            let id = $(this).attr('id').split('-')[1]
            let item_name = $('#template-item-name-'+id).val() + '_' + id;
            let item_quantity = $('#item-quantity-'+id).val();
            common_inventory_fields.set(item_name, item_quantity);
        })
        
        if(element_exists(".attributes-number")){
            $('.attributes-number').each(function(){
                let attributes_name = $(this).attr('id').split('-')[1]
                attributes_fields.set(attributes_name, $(this).val())
            });
        }else if(element_exists('.attributes-view > i.fas') || element_exists('.attributes-view > i.far')){
            let attributes_name = '';
            let attribute_value = 0;
            $('.attribute-value-now').each(function(){
                let id = $(this).attr('id')
                attributes_name = $(this).attr('id').split('-')[1]
                attribute_value = parseInt($(this).text())
                attributes_fields.set(attributes_name, attribute_value)
            })
        }        
        if(element_exists(".skills-number")){
            $('.skills-number').each(function(){
                let skills_name = $(this).attr('id').split('-')[1]
                skills_fields.set(skills_name, $(this).val())
            });
        }else if(element_exists('.skills-view > i.fas') || element_exists('.skills-view > i.far')){
            let skill_name = '';
            let skill_value = 0;
            $('.skill-value-now').each(function(){
                let id = $(this).attr('id')
                skill_name = $(this).attr('id').split('-')[1]
                skill_value = parseInt($(this).text())
                attributes_fields.set(skill_name, skill_value)
            })
        }

        let const_background_informations = Object.fromEntries(background_informations_fields);
        let const_common_items = Object.fromEntries(common_inventory_fields);
        let const_background = Object.fromEntries(background_fields);
        let const_attributes = Object.fromEntries(attributes_fields);
        let const_inventory = Object.fromEntries(inventory_fields);
        let const_npc_image = null;
        console.log($('#avatar-image-preview').attr('src'))
        if( $('#avatar-image-preview').attr('src').split('/').pop() !== 'npc-no-img.svg'){
            const_npc_image = $('#avatar-image-preview').attr('src')
        }
        let const_skills = Object.fromEntries(skills_fields);
        let const_npc_name = $('#template-name-text').text();
        let const_template_id = '{{ template_id }}'
        let const_next_url = $('.next-url').val()
        let formData = new FormData(); 
        // if there is no picture (avatar) set 
        if($("#id_file").val() != ''){
            let file =  $('#id_file').prop('files')[0];
            formData.append('filename', file.name)
            formData.append('file', file)
        }
        formData.append('background_informations', JSON.stringify(const_background_informations))
        formData.append('background_text', JSON.stringify(const_background))
        formData.append('inventory_fields', JSON.stringify(const_inventory))
        formData.append('common_items', JSON.stringify(const_common_items))
        formData.append('attributes', JSON.stringify(const_attributes))
        formData.append('skills', JSON.stringify(const_skills))
        formData.append('template_id', const_template_id)
        formData.append('npc_name', const_npc_name)
        formData.append('npc_image', const_npc_image)
        formData.append('npc_id', npc_id)
        formData.append('next-url', const_next_url)
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            async: false,
            cache: true,
            processData: false, 
            contentType: false, 
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:formData,
            success: function (data){
                    $('.save-msg').css('visibility','visible').show().fadeOut(3000);
                 
            },
            fail: function(response_data){
            }
        })
    });
    
    

    $('.inventory-slot').each(function(){
        let id = $(this).attr('id').split('-')[2]
        let w = $(this).width()
        let h = $(this).height()
        $('#inventory-item-picture-'+id).width(w+'px').height(h+'px')
    })
    
    $('.template-window').each(function(index){
        if($(this).attr('id') !== "template-background-view"){
            $(this).hide()
            $(this).toggleClass("template-view-button")
        }else{
            $(this).show()
            $("#template-background-view-button").toggleClass('template-button-activated')
        }
    })

    $('input[type=number]').keyup(function(event) {
        let value = jQuery(this).val();
        value = value.replace(/[^0-9]+/g, '');
        let max_value = parseInt($(this).attr('max'))
        if (value > max_value) { value = max_value; }
        jQuery(this).val(value);
    });

    

    $('.template-name-input').hide();
    $('#template-name-text').on('click', function(){
        if($('.template-name-input').is(':visible')){
            $('.template-name-input').hide();
            $('#template-name-text').show();
        }else{
            $('.template-name-input').show().focus();
            $('#template-name-text').hide();
        }
    })

    $('.template-name-input').on('focusout', function(){
        $(this).hide()
        if($(this).val() != '{{ npc.name }}'){
            if($(this).val() != ''){
                $('#template-name-text').html($(this).val() +' '+ '<i class="fas fa-pen-fancy name-change" style="color:green;"></i>')
                $('.template-name-input').val($(this).val())
            }else{
                $('#template-name-text').html('vide')
                $('.template-name-input').val($(this).val())
            }
        }else{
            $('.name-change').remove()
        }
        $('#template-name-text').show();

    })

    $('#avatar-image-preview').on('click', function(){
        if($('.id-file-button').is(':visible')){
            $('.id-file-button').hide();
            $("#id_file").change(function(){
                $('.image-preview').attr('src','{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ npc.image }}')
            });
        }else{
            $('.id-file-button').show()
        }
    })
})
    /* FILE UPLOAD PREVIEW PART ; ONLY IMG */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
            reader.onload = function (e) {
                $('#avatar-image-preview').attr('src', e.target.result);
                $('#avatar-image-preview').addClass('img-thumbnail ')
                $(".img-preview").show()
                $('.img-preview').css({
                    'border': '1px black solid', 
                    'border-radius': '2%', 
                    'background-color': 'black'
                })

            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    /* IMG UPDATE  */
    $("#id_file").change(function(){
        let new_image = $("#id_file").val().split('.').pop().toUpperCase()
        if(new_image == 'JPG' || new_image == 'PNG'){
            $('.avatar-title').html('Avatar <i class="fas fa-pen-fancy avatar-change" style="color:green;"></i>')
            $('.id-file-button').hide()
            readURL(this);
        }else{
            $('.avatar-change').remove()
        }
    });


    $('select').on('change', function(){
        let picture_name = $(this).find(':selected').attr('id').split('_')[2];
        let select_id = $(this).find(':selected').attr('id')
        if(select_id == 'empty-item-choice'){
            $('.special-item-picture').attr('src', '')
        }else{ 
            $('.special-item-picture').attr('src', '{{ MEDIA_URL }}'+'{{ request.user.id }}/'+'{{ game_name }}/'+picture_name)
        }
    });

    
    if($('.item-informations').length == 0){
        $('<div class="item-informations"></div>').insertAfter('.menu-item:last')
    }

    $('.picture-select-button').on('click', function(){
        let slot_number = $(this).attr('id').split('-')[3];
        let full_id = $(this).attr('id')
        if(full_id != 'empty-item-choice'){
            
        }
        let item_id = ''
        $('#item-list-'+slot_number+' option').each(function(){
            if($(this).is(':selected')){
                if($(this).attr('id') == 'empty-item-choice'){
                    item_id = null
                    $('#inventory-slot-'+slot_number).html('\
                        <div class="row no-gutters mx-auto d-inline-block text-center" style="">\
                        </div>')
                }else{
                    let picture_name = $(this).attr('id').split('_')[2];
                    item_id = $(this).val()
                    let image_height = $('#inventory-slot-'+slot_number).height()
                    let image_width = $('#inventory-slot-'+slot_number).width()
                    $('#inventory-slot-'+slot_number).html('<img class="inventory-slot-picture item-image-in-inventory"  id="inventory-item-picture-'+slot_number+'" style="width:100%; height: 100%;" alt="'+item_id+'""/>')
                
                    $.ajax({
                        type: "POST",
                        headers: { "X-CSRFToken": "{{ csrf_token }}" },
                        url: "{% url 'gestion:get_new_item_informations' game_name=game_name %}",
                        data: { 
                            'id': item_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            if(response.success == true){
                                let item_description = response.data.description 
                                let item_effects = response.data.effect 
                                $('#inventory-item-picture-'+slot_number).attr('src', '{{ MEDIA_URL }}'+'{{ request.user.id }}/'+'{{ game_name }}/'+picture_name);
                                if($('#item-id-'+response.data.id).length == 0 || $('#item-id-'+response.data.id).length == null){
                                    $('.item-informations:last').after('\
                                        <div class="container item-informations mt-2 col-xl-6 col-md-8 col-sm-10 col-lg-8" id="item-id-'+response.data.id+'">\
                                        </div>').hide().css('text-align', 'justify')
                                    $('#item-id-'+response.data.id).hide().css('text-align', 'justify').html('\
                                        <section class="row rounded item-informations-style">\
                                            <div class="clearfix col-12">\
                                                <div class="row no-gutters">\
                                                {% autoescape off %}\
                                                <b class="col-12 p-2 text-center">'+response.data.formated_name+'</b>\
                                                {% endautoescape %}\
                                            </div>\
                                            <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/'+response.data.image+'" class="img-thumbnail rounded float-right ml-2 mt-4 pt-3 pl-3 col-5" style="max-width:120px; max-height:130px;"/>\
                                            <p class="">\
                                                '+item_description+'\
                                            </p>\
                                            <div class="row no-gutters mb-5">\
                                                <b class="col-12 p-2 text-center">Effets sur cet objet</b>\
                                                {% autoescape off %}\
                                                <b class="col-12 p-2 text-left">'+item_effects+'</b>\
                                                {% endautoescape %}\
                                            </div>\
                                            <div class="mb-3"/>\
                                            </section>');
                                }
                            }
                        }
                    })
                }
            }
        });

});
    
    
        
$('.item-informations').each(function(){
    $(this).hide().css('text-align', 'justify')
})

$('.inventory-slot').mouseover(function(e){
    
    let original_elem_id = $(this).attr('id').split('-')[2]
    let other_elem_id ;
    $(this).css('border-color', 'red')
    let item_id = $("#inventory-item-picture-"+original_elem_id).attr('alt')
    $('.inventory-slot').each(function(){
        other_elem_id = $(this).attr('id').split('-')[2]
        if(original_elem_id != other_elem_id){
            other_element = $('#item-id-'+other_elem_id).hide()
        }
    })
    $(this).css('border-color', 'red')
    if(item_id){
        
        let x = e.clientX;
        let y = e.clientY;
        let element = $('#item-id-'+item_id);
        element.css({'position':'fixed', "left":x, "top":y, 'z-index': 1024, 'max-width': '30vw', 'max-height': '30vh' }).addClass('npc-scroller').show()
    }
})

$('.inventory-slot').mouseout(function(){
    let original_elem_id = $(this).attr('id').split('-')[2]
    $(this).css('border-color', '')

})

$('.item-information').mouseout(function(){
    $(this).hide()
})

$('.unselect-all-location-button').hide()
$('.unselect-all-location-button').on('click', function(){
    let id_number = ''
    $('.location-selection').each(function(){
        $(this).prop("checked", false)
        id_number = $(this).attr('id').split('-')[3]
        $('#location-name-'+id_number).css('color', '')
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(1)');
        $('#location-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
    })
    $('.unselect-all-location-button').hide()
    $('.select-all-location-button').show()
})

$('.select-all-location-button').on('click', function(){
    let id_number = ''
    $('.location-selection').each(function(){
        $(this).prop("checked", true)
        id_number = $(this).attr('id').split('-')[3]
        $('#location-name-'+id_number).css({'color':'#E0A800'});
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(0.5)');
        $('#location-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
    })
    $('.select-all-location-button').hide()
    $('.unselect-all-location-button').show()
})

$('.location-selection').on('click', function(){
    let checkbox_id = $(this).attr('id')
    let id_number = $(this).attr('id').split('-')[3]
    if($('#'+checkbox_id).is(':checked')){
        $('b#location-name-'+id_number).css('color','#E0A800')
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(0.5)');
        $('#location-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
        $('#location-date-creation-'+id_number+", #location-date-edition-"+id_number).removeClass('card-list-color').addClass('selected-for-delete-font')
    }else{
        $('b#location-name-'+id_number).css('color', '')
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(1)');
        $('#location-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
        $('#location-date-creation-'+id_number+", #location-date-edition-"+id_number).removeClass('selected-for-delete-font').addClass('card-list-color')
    }
})

$('.suppress-location-selection-button').on('click', function(){
    console.log("ok")
    let selected_npc_array = new Map();
    let selected_array = new Map();
    let location_name = '';
    let id;
    $('input.location-selection').each(function(){
        if($(this).prop("checked") === true){
            id = $(this).attr('id').split('-')[3]
            location_name = $('#location-name-'+id).text()
            selected_array.set(location_name, parseInt(id))
        }
    })
    selected_npc_array.set('id', parseInt('{{ npc_id }}'))
    let const_npc_id = Object.fromEntries(selected_npc_array)
    let const_location = Object.fromEntries(selected_array)
    let url = "{% url 'gestion:delete_npc_from_location' game_name=game_name %}"
    
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'location_informations': JSON.stringify(const_location),
            'npc_id' : JSON.stringify(const_npc_id),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response_data) {
            if(response_data.success){
                $.each(const_location, function(key, value){
                    $("#location-"+value).remove()
                    
                })
            }
        },
        fail: function(response_data){
        }
    })
})
</script>

{% endblock %}