{% extends "generalist_template.html"%}
{% load static %}
{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace"></div>
        {# DISPLAY ERRORS / SUCCESS MSG #}
            {% if 'error' in request.path %}
                <div class="col alert alert-danger text-center w-100" role="alert">
                    {% if '/scenario/creation/success' in request.path %}
                        <i class='fas fa-exclamation-circle'></i>&nbsp;<p>Le nom que vous avez essayé d'utiliser est déjà prit.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="mb-5 col-sm-12 col-xl-12 mx-auto user-main-form-title">
            <h5 class="p-2 mx-auto text-center outside-main-form-title">Vos personnages non-joueur crées pour <b>{{ game_name }}</b></h5>
        </div>
        {% if not npcs %}
            <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color " id="empty">
                <span class="mx-auto text-font"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore créé de P.N.J</span>
            </div>
        {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-5">
                    <div class="col-3 d-flex justify-content-center ">
                        <i class="fas fa-tasks fa-2x select-all-npc-button select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout selectionner"></i>
                        <i class="fas fa-list-ul fa-2x unselect-all-npc-button switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout déselectionner"></i>
                        <i class="fas fa-trash-alt fa-2x select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 ml-1 " id="delete-button" title="Supprimer la selection"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete-element" tabindex="-1" role="dialog" aria-labelledby="delete-element" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header mx-auto col-12 suppress-confirmation-choice-msg-header">
                        <i class="fas fa-exclamation-triangle suppress-confirmation-choice-msg-text text-white-color mx-auto"> Attention, vous allez supprimer un scénario</i> 
                    </div>
                    <div class="modal-body mx-auto col-12">
                        <p class="suppress-confirmation-choice-msg-text col-12">En choisissant de supprimer: </p>
                        <p class="modal-body-name col-12"></p>
                        <p class="suppress-confirmation-choice-msg-text col-12">Vous supprimerez aussi les liens qu'avait ce personnage non-joueur avec d'autres elements.</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-right">
                        <i class="fas fa-times fa-2x delete-button-style-cancel card-size" data-dismiss="modal"></i>
                        <i class="fas fa-trash fa-2x delete-button-style suppress-npc-selection-button card-size" alt='confirmer suppression'></i>
                    </div>
              </div>
            </div>
        </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    {% for value in npcs %}
                    <div class="card card-color card-size col-xl-2 col-md-4 col-lg-4 col-sm-10 col-10" id="npc-{{ value.id }}">
                        <h5 class="card-title text-center"><input type="checkbox" name="select-npc-to-delete[]" class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 npc-selection stylized-checkbox" id="multiple-delete-npc-{{ value.id }}"><p><b id="npc-name-{{ value.id }}" class="title-break">{{ value.name }}</b></p></h5>
                        <div class="row no-gutters">
                            <div class="col-10 mx-auto">
                                <a href="{% url 'gesmjgenerator:display_selected_npc_view' game_name=game_name pk=value.id %}" class="link-brightness"><img class="npc-img-top align-center " id="npc-img-{{ value.id }}" {% if value.image %} src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ value.image }}" {% else %}  src="{% static 'fonts/npc-no-img.svg'%}"  {% endif %} alt="{{ value.name }}"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item card-list-color mx-auto npc-date" id="npc-date-creation-{{ value.id }}"><b class="card-title">Créer le:</b> <p class="text-center">{{ value.created_at|date:"d/m/y" }}</p></li>
                                <li class="list-group-item card-list-color mx-auto npc-date" id="npc-date-edition-{{ value.id }}"><b class="card-title">Dernière modification le:</b> <p class="text-center">{{ value.created_at|date:"d/m/y à H:m:s" }}</p></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
</div>                    

{% endblock %}

{% block javascript %}
<script>

    $( document ).ready(function() {
        $('input[type=checkbox]').each(function(){
            $(this).prop('checked', false);
        })
    }); 

    $('.unselect-all-npc-button').hide()
    $('.unselect-all-npc-button').on('click', function(){
        let id_number = ''
        $('.npc-selection').each(function(){
            $(this).prop("checked", false)
            id_number = $(this).attr('id').split('-')[3]
            $('b#npc-name-'+id_number).css('color', '')
            $('#npc-img-'+id_number).css('filter', 'brightness(1)');
            $('#npc-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
            $('#npc-date-creation-'+id_number+", #npc-date-edition-"+id_number).removeClass('selected-for-delete-font').addClass('card-list-color card-size')
            $('#delete-button').removeAttr('data-toggle','data-target')

        })
        $('.unselect-all-npc-button').hide()
        $('.select-all-npc-button').show()
    })

    $('.select-all-npc-button').on('click', function(){
        let id_number = ''
        $('.npc-selection').each(function(){
            $(this).prop("checked", true)
            id_number = $(this).attr('id').split('-')[3]
            $('b#npc-name-'+id_number).css({'color':'#E0A800'});
            $('#npc-img-'+id_number).css('filter', 'brightness(0.5)');
            $('#npc-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
            $('#npc-date-creation-'+id_number+", #npc-date-edition-"+id_number).removeClass('card-list-color').addClass('selected-for-delete-font')
            $('#delete-button').attr({'data-toggle':'modal','data-target':'#delete-element'})
        })
        $('.select-all-npc-button').hide()
        $('.unselect-all-npc-button').show()
    })

    $('.npc-selection').on('click', function(){
        let checkbox_id = $(this).attr('id')
        let id_number = $(this).attr('id').split('-')[3]
        if(jQuery('#delete-button')[0].hasAttribute('data-toggle') !== true){
            $('#delete-button').attr({'data-toggle':'modal','data-target':'#delete-element'})
        }
        if($('#'+checkbox_id).is(':checked')){
            $('b#npc-name-'+id_number).css('color','#E0A800')
            $('#npc-img-'+id_number).css('filter', 'brightness(0.5)');
            $('#npc-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
            $('#npc-date-creation-'+id_number+", #npc-date-edition-"+id_number).removeClass('card-list-color').addClass('selected-for-delete-font')
        }else{
            $('b#npc-name-'+id_number).css('color', '')
            $('#npc-img-'+id_number).css('filter', 'brightness(1)');
            $('#npc-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
            $('#npc-date-creation-'+id_number+", #npc-date-edition-"+id_number).removeClass('selected-for-delete-font').addClass('card-list-color')
        }
    })

    $('#delete-button').on('click', function(){
        $('.modal-body-name').html('')
        let i = 1;
        let checked_len = $('.npc-selection:checkbox:checked').length
        $($('.npc-selection:checkbox:checked')).each(function(){
            id = $(this).attr('id').split('-')[3];
            if(i == checked_len){
                $('.modal-body-name').append('<p><b>- '+ $('#npc-name-'+id).text()+'</b></p>');
            }else{
                $('.modal-body-name').append('<p><b>- '+ $('#npc-name-'+id).text()+'</b>,</p>');
            }
            i++;
        })
    })


    $('.suppress-npc-selection-button').on('click', function(){
        let selected_array = new Map();
        let npc_name = '';
        let id;
        $($('.npc-selection:checkbox:checked')).each(function(){
            id = $(this).attr('id').split('-')[3];
            npc_name = $('#npc-name-'+id).text();
            selected_array.set(npc_name, parseInt(id));
        })
        let const_npc = Object.fromEntries(selected_array);
        let url = "{% url 'gestion:delete_npc' game_name=game_name %}";
        
        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
                'npc_informations': JSON.stringify(const_npc),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response_data) {
                if(response_data.success){
                    $.each(const_npc, function(key, value){
                        $("#npc-"+value).remove()
                    })
                }
            },
            fail: function(response_data){
            }
        })
    })
</script>
{% endblock %}