{% extends "generalist_template.html"%}
{% load static %}

{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:display_document_list_view" game_name=game_name %}' class="url-path">mes documents</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mx-auto">
                <iframe class="mx-auto" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ document_name}}" id="info" name="info" seamless="" width="100%" height="100%"  frameborder="1" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

{% endblock %}