{% extends "generalist_template.html"%}
{% load static %}
{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:display_gallery_pictures_view" game_name=game_name %}' class="url-path">images</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
    <div class="row mb-5 col-12 mx-auto">
    {% for picture in picture_content %}
        <div class="row col-12">
            <h5 class="mx-auto col-10 p-2 mx-auto text-center text-justify outside-main-form-title"><i><b>{{ picture.short_name }}</b></i></h5>
        </div>
        <div class="row rounded mx-auto edit-cursor" id="location-image">
            <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ picture.name }}" class="col-10 mb-1 pt-2 pb-3 mx-auto"/>
        </div>
        <div class="row col-12" id="location-description">
            <span class="mx-auto text-center edit-cursor col-12 mb-1 pt-2 pb-2">
                <p class="text-center text-justify"><b>Nom du fichier:</b> {{ picture.name }} </p>
                <p class="text-center text-justify"><b>Mise en ligne le:</b> {{ picture.created_at }} </p>
            </span>
        </div>
    {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
</script>
{% endblock %}