{% extends "generalist_template.html"%}
{% load static %}

{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:display_scene_list_view" game_name=game_name %}' class="url-path">scènes</a>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
    <div class="row mb-5 col-12 mx-auto">
    {% for scene in scene_content %}
        <div class="row rounded mx-auto edit-cursor">
            {% if scene.image %}
            <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ scene.image }}" class="col-8 mb-1 pt-2 pb-3 mx-auto scene-image" onclick="openFileOption();return;"/>
            {% else %}
            <img src="{% static '/fonts/new_scene.svg' %}" class="col-8 mb-1 pt-2 pb-3 mx-auto scene-image" onclick="openFileOption();return;"/>
            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-1">
                    <div class="col-3 d-flex justify-content-center ">
                        <input type="file" id="id_file" onchange="readURL(this)" style="display:none">
                        <i class="far fa-edit fa-2x save-image-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="sauvegarder l'image"></i>
                        <i class="far fa-window-close fa-2x cancel-image-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12" id="scene-description">
            <div class="col-12 text-center outside-main-form-title mt-1 mx-auto "><b>Description</b></div>
            {% if scene.description %}
            <span class="mx-auto text-center col-12 mb-1 pt-2 pb-2 scroller edit-cursor " id="editable-description-content" >
                <span class="editable-scene-text text-break" id="scene-text" style="color:white;">
                        {% autoescape off %} {{ scene.description }} {% endautoescape %}
            {% else %}
            <span class="mx-auto text-center col-12 mb-1 pt-2 pb-2  edit-cursor" id="editable-description-content" >
                <span class="editable-scene-text text-break" id="scene-text" style="color:white;">
                    Aucune description définie
            {% endif %}
            </span>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-1">
                    <div class="col-3 d-flex justify-content-center ">
                        <i class="far fa-edit fa-2x save-text-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Sauvegarder"></i>
                        <i class="far fa-window-close fa-2x cancel-text-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
        <div class="row col-12">
            <div class="col-12 d-flex justify-content-left bd-highlight user-main-form-title ">
                <button class="btn navbar-text-color npc-display-button" type="button" data-toggle="collapse" data-target=".not-empty-npc, .empty-npc, .button-add-new-npc" aria-expanded="false" aria-controls=".not-empty-npc, .empty-npc">Vos personnages non-joueurs  <i class="fas fa-sort-down"></i></button>
            </div>   
        </div>
        {# NPC PART #}
        {% if not npc_content %}
        <div class="collapse col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 mb-5 mx-auto user-main-form scene-main-form border background-color empty-npc" id="empty">
            <p class="mx-auto col-12 text-center"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore ajouté de pnj à cette scene,</p>
            <p class="mx-auto col-12 text-center selector-mousestyle" data-toggle="modal" data-target="#modalNpcSelection"><b>Cliquez ici pour en ajouter un ou plusieurs.</b></p>
        </div>
        {% else %}
        <div class="row d-flex justify-content-center col-12 mx-auto mb-5" id="">
            <div class="row col-12 collapse button-add-new-npc ">
                <button type="button" data-toggle="modal" data-target="#modalNpcSelection" class="mx-auto col-xl-6 col-md-6 col-lg-8 col-sm-10 mb-5 btn navbar-text-color"><b>Cliquez ici pour en ajouter un ou plusieurs personnage non joueur</b></button>
            </div>
            <div class="collapse not-empty-npc container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mb-5">
                        <div class="col-3 d-flex justify-content-center ">
                            <i class="fas fa-tasks fa-2x select-all-npc-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout selectionner"></i>
                            <i class="fas fa-list-ul fa-2x unselect-all-npc-button card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout déselectionner"></i>
                            <i class="fas fa-trash-alt fa-2x suppress-npc-selection-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 ml-1 " title="Supprimer la selection"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% for npc in npc_content %}
            <div class="collapse not-empty-npc card col-xl-2 col-md-8 col-sm-8 col-12 create-new-object-card npc-card card-size card-list-color" id="npc-{{ npc.id }}">
                <div class="card-body">
                    <h5 class="card-title text-center"><input type="checkbox" name="select-npc-to-delete[]" class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 npc-selection stylized-checkbox" id="multiple-delete-npc-{{ npc.id }}"><p><b id="npc-name-{{ npc.id }}" class="title-break">{{ npc.name }}</b></p></h5>
                    {% if npc.image == '' %}
                    <a href="{% url 'gesmjgenerator:display_selected_npc_view' game_name=game_name pk=npc.id %}"><img class="card-img-top new-card-object-image align-center" id="npc-img-{{ npc.id }}" src="{% static '/fonts/new_scene.svg' %}" alt="Card image cap"></a>
                    {% else %}
                    <a href="{% url 'gesmjgenerator:display_selected_npc_view' game_name=game_name pk=npc.id %}"><img class="card-img-top new-card-object-image align-center" id="npc-img-{{ npc.id }}" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ npc.image }}" alt="Card image cap"></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="modal fade" id="modalNpcSelection" tabindex="-1" role="dialog" aria-labelledby="modalNpcSelection" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title col-12 text-center" id="exampleModalLabel">Choisissez vos personnages à ajouter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% if npc_selection %}
                    <form action="{% url 'gestion:add_npc_in_scene' game_name=game_name pk=scene_id %}" method="post" class="modal-body" name="add-npc-in-scene[]">
                        {% csrf_token %}
                        <div class="modal-body d-flex justify-content-center row">
                            <select name="npc" class="form-select" size="{{ npc_count }}" id="npc-selection" multiple >
                                {% for npc in npc_selection %}
                                <option class="text-justify" value="{{ npc.id }}">{{ npc.name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer d-flex justify-content-center row">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="modal-body d-flex justify-content-center row">
                        <p class="text-center col-12"> Aucuns personnages non-joueurs créés,</p>
                        <p class="text-center col-12 selector-mousestyle"><a class=""><b>cliquez ici pour en créer un.</b></a></p>
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row col-12 mb-5">
            <div class="col-12 d-flex justify-content-left bd-highlight  user-main-form-title ">
                <button class="btn navbar-text-color location-display-button" type="button" data-toggle="collapse" data-target=".not-empty-location, .empty-location, .button-add-new-location" aria-expanded="false" aria-controls=".not-empty-location, .empty-location">Vos lieux  <i class="fas fa-sort-down"></i></button>
            </div>   
        </div>
        {# location part #}
        {% if not location_content %}
        <div class="collapse col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 mb-5 mx-auto user-main-form scene-main-form border background-color empty-location" id="empty">
            <p class="mx-auto col-12 text-center"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore ajouté de pnj à cette scene,</p>
            <p class="mx-auto col-12 text-center selector-mousestyle" data-toggle="modal" data-target="#modalLocationSelection"><b>Cliquez ici pour en ajouter un ou plusieurs.</b></p>
        </div>
        {% else %}
        <div class="row d-flex justify-content-center col-12 mx-auto mb-5" id="">
            <div class="row col-12 collapse button-add-new-location ">
                <button type="button" data-toggle="modal" data-target="#modalLocationSelection" class="mx-auto col-xl-6 col-md-6 col-lg-8 col-sm-10 mb-5 btn navbar-text-color"><b>Cliquez ici pour en ajouter un ou plusieurs lieux</b></button>
            </div>
            <div class="collapse not-empty-location container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mb-5">
                        <div class="col-3 d-flex justify-content-center ">
                            <i class="fas fa-tasks fa-2x select-all-location-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout selectionner"></i>
                            <i class="fas fa-list-ul fa-2x unselect-all-location-button card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout déselectionner"></i>
                            <i class="fas fa-trash-alt fa-2x suppress-location-selection-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 ml-1 " title="Supprimer la selection"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% for location in location_content %}
            <div class="collapse not-empty-location location-selection-card card col-xl-2 col-md-8 col-sm-8 col-12 create-new-object-card location-card card-size" id="location-{{ location.id }}" style="background-color: {{ location.color }}">
                <input type="hidden" class="font-color" id="font-color-{{ location.id }}" value="{{ location.color }}"/>
                <div class="card-body location-body" id="color-location-body-{{ location.id }}">
                    <h5 class="card-title text-center"><input type="checkbox" name="select-location-to-delete[]" class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 location-selection stylized-checkbox" id="multiple-delete-location-{{ location.id }}"><p><b id="location-name-{{ location.id }}" class="title-break">{{ location.name }}</b></p></h5>
                    {% if location.image == '' %}
                    <a href="{% url 'gesmjgenerator:display_selected_location_view' game_name=game_name pk=location.id %}"><img class="card-img-top new-card-object-image align-center " id="location-img-{{ location.id }}" src="{% static '/fonts/new_location.svg' %}" alt="Card image cap"></a>
                    {% else %}
                    <a href="{% url 'gesmjgenerator:display_selected_location_view' game_name=game_name pk=location.id %}"><img class="card-img-top new-card-object-image align-center" id="location-img-{{ location.id }}" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ location.image }}" alt="Card image cap"></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="modal fade" id="modalLocationSelection" tabindex="-1" role="dialog" aria-labelledby="modalLocationSelection" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title col-12 text-center" id="exampleModalLabel">Choisissez vos lieux à ajouter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% if location_selection  %}
                    <form action="{% url 'gestion:add_location_in_scene' game_name=game_name pk=scene_id %}" method="post" class="modal-body" name="add-location-in-scene[]">
                        {% csrf_token %}
                        <div class="modal-body d-flex justify-content-center row">
                            <select name="location" class="form-select" size="{{ location_count }}" id="location-selection" multiple >
                                {% for location in location_selection %}
                                <option class="text-justify location-element" id="location-name-{{ location.id }}" value="{{ location.id }}">{{ location.name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer d-flex justify-content-center row">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success add-location-selection-button">Ajouter</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="modal-body d-flex justify-content-center row">
                        <p class="text-center col-12"> Aucuns lieux créés</p>
                        <p class="text-center col-12 selector-mousestyle"><a class=""><b>cliquez ici pour en créer un.</b></a></p>
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

$( document ).ready(function() {
    $('input[type=checkbox]').each(function(){
        $(this).prop('checked', false);
    })
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()
}); 

/* set background-color and foreground color on load */
$(".font-color").each(function() {
    let location_id = $(this).attr('id').split('-')[2]
    let color = $('#font-color-'+location_id).val()
    if(tinycolor(color).getBrightness() > 150){
        $('#color-location-body-'+location_id+' >*').css({ 'color': 'black'})
    }else{
        $('#color-location-body-'+location_id+' >*').css({ 'color': 'white'})
    }
});

// npc deletion part 

$('.unselect-all-npc-button').hide()
$('.unselect-all-npc-button').on('click', function(){
    let id_number = ''
    $('.npc-selection').each(function(){
        $(this).prop("checked", false)
        id_number = $(this).attr('id').split('-')[3]
        $('#npc-name-'+id_number).css('color', '')
        $('#npc-img-'+id_number+', #npc-'+id_number).css('filter', 'brightness(1)');
        $('#npc-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
    })
    $('.unselect-all-npc-button').hide()
    $('.select-all-npc-button').show()
})

$('.select-all-npc-button').on('click', function(){
    let id_number = ''
    $('.npc-selection').each(function(){
        $(this).prop("checked", true)
        id_number = $(this).attr('id').split('-')[3]
        $('#npc-name-'+id_number).css({'color':'#E0A800'});
        $('#npc-img-'+id_number+', #npc-'+id_number).css('filter', 'brightness(0.5)');
        $('#npc-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
    })
    $('.select-all-npc-button').hide()
    $('.unselect-all-npc-button').show()
})

$('.npc-selection').on('click', function(){
    let checkbox_id = $(this).attr('id')
    let id_number = $(this).attr('id').split('-')[3]
    if($('#'+checkbox_id).is(':checked')){
        $('b#npc-name-'+id_number).css('color','#E0A800')
        $('#npc-img-'+id_number+', #npc-'+id_number).css('filter', 'brightness(0.5)');
        $('#npc-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
        $('#npc-date-creation-'+id_number+", #npc-date-edition-"+id_number).removeClass('card-list-color').addClass('selected-for-delete-font')
    }else{
        $('b#npc-name-'+id_number).css('color', '')
        $('#npc-img-'+id_number+', #npc-'+id_number).css('filter', 'brightness(1)');
        $('#npc-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
        $('#npc-date-creation-'+id_number+", #npc-date-edition-"+id_number).removeClass('selected-for-delete-font').addClass('card-list-color')
    }
})


$('.suppress-npc-selection-button').on('click', function(){
    let selected_scene_array = new Map();
    let selected_array = new Map();
    let npc_name = '';
    let id;
    $('.npc-selection').each(function(){
        if($(this).prop("checked") === true){
            id = $(this).attr('id').split('-')[3]
            npc_name = $('#npc-name-'+id).text()
            selected_array.set(npc_name, parseInt(id))
            
        }
    })
    selected_scene_array.set('id', parseInt('{{ scene_id }}'))
    let const_scene_id = Object.fromEntries(selected_scene_array)
    let const_npc = Object.fromEntries(selected_array)
    let url = "{% url 'gestion:delete_npc_from_scene' game_name=game_name %}"
    
    $.ajax({
        url: null,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'npc_informations': JSON.stringify(const_npc),
            'scene_id' : JSON.stringify(const_scene_id),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response_data) {
            if(response_data.success){
                $.each(const_npc, function(key, value){
                    $("#npc-"+value).remove()
                })
            }
        },
        fail: function(response_data){
        }
    })
})


// location deletion part 
$('.unselect-all-location-button').hide()
$('.unselect-all-location-button').on('click', function(){
    let id_number = ''
    $('.location-selection').each(function(){
        $(this).prop("checked", false)
        id_number = $(this).attr('id').split('-')[3]
        $('#location-name-'+id_number).css('color', '')
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(1)');
        $('#location-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
    })
    $('.unselect-all-location-button').hide()
    $('.select-all-location-button').show()
})

$('.select-all-location-button').on('click', function(){
    let id_number = ''
    $('.location-selection').each(function(){
        $(this).prop("checked", true)
        id_number = $(this).attr('id').split('-')[3]
        $('#location-name-'+id_number).css({'color':'#E0A800'});
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(0.5)');
        $('#location-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
    })
    $('.select-all-location-button').hide()
    $('.unselect-all-location-button').show()
})

$('.location-selection').on('click', function(){
    let checkbox_id = $(this).attr('id')
    let id_number = $(this).attr('id').split('-')[3]
    if($('#'+checkbox_id).is(':checked')){
        $('b#location-name-'+id_number).css('color','#E0A800')
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(0.5)');
        $('#location-'+id_number).removeClass('card-color card-size').addClass('selected-for-delete-font')
        $('#location-date-creation-'+id_number+", #location-date-edition-"+id_number).removeClass('card-list-color').addClass('selected-for-delete-font')
    }else{
        $('b#location-name-'+id_number).css('color', '')
        $('#location-img-'+id_number+', #location-'+id_number).css('filter', 'brightness(1)');
        $('#location-'+id_number).removeClass('selected-for-delete-font').addClass('card-color card-size')
        $('#location-date-creation-'+id_number+", #location-date-edition-"+id_number).removeClass('selected-for-delete-font').addClass('card-list-color')
    }
})

let editor = ''

$('#scene-description').on('click', function(){
    $('.cancel-text-edit, .save-text-edit').show()
    text_content = $('#scene-text').html()
    editor = CKEDITOR.replace('scene-text');
    $('.cke_editor1').css('margin','auto')
    CKEDITOR.instances['scene-text'].setData(text_content)
})


$('.cancel-text-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit').hide()
    let text = $('#scene-text').html()
    editor.destroy();
    $('#scene-text').html(text)
})


$('.save-text-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit').hide();
    
    let text_value = '';
    textbox_data = CKEDITOR.instances['scene-text'].getData();
    if(textbox_data.replace(/&nbsp;|<p>|<\/p>|\s/g, '').length === 0){
        CKEDITOR.instances['scene-text'].destroy();
        $('#scene-text').text('Description vide.');
        text_value = "Description vide.";
    }else{
        $('#scene-text').text(CKEDITOR.instances['scene-text'].getData());
        CKEDITOR.instances['scene-text'].destroy();
        text_value = $('#scene-text').html();
    }
    
    $('.cancel-text-edit, .save-text-edit').hide()
    $.ajax({
        url: '{% url "gestion:edit_scene_text" game_name=game_name pk=scene_id %}',
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'description': text_value,
            'scene_id' : '{{ scene_id }}',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response_data) {
        },
        fail: function(response_data){
        }
    })
})
$('.cancel-image-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()
    $('.scene-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ old_file_name }}')
})


function openFileOption(){
    $('#id_file').click();
    $('.save-image-edit, .cancel-image-edit').show()
}

function readURL(input) {
    var url = input.value;
    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0]&& (ext == "png" || ext == "jpg")) {
        var reader = new FileReader();
    
        reader.onload = function (e) {
            $('.scene-image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
    else{
         $('.scene-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ scene.image }}');
    }
}

$('.cancel-image-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()
})

$('.save-image-edit').on('click', function(){ 
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()
    let game_name = '{{ game_name }}';
    let document_id = '{{ document_id }}';
    let element_subtype_id = '{{ scene_id }}';
    let new_short_name =  $('input[type=file]').val().split('\\').pop();
    let old_file_name = '{{ old_file_name }}';
    
    let file_data = $('input[type=file]').prop('files')[0];   
    let form_data = new FormData();                  
    form_data.append('file', file_data);                  
    form_data.append('file_name', file_data);
    form_data.append('filename', file_data.name);
    form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    let url = "{% url 'gestion:update_element' game_name='game_name' old_file_name='old_file_name' new_short_name='new_short_name' element_type='image' element_subtype='scene' element_subtype_id='element_subtype_id' %}".replace(/game_name/, game_name.toString()).replace(/old_file_name/, old_file_name.toString()).replace(/new_short_name/, new_short_name.toString()).replace(/document_id/, document_id.toString()).replace(/element_subtype_id/, element_subtype_id.toString());
    $.ajax({
        url: url ,
        type: 'post',
        csrfmiddlewaretoken: '{{ csrf_token }}',
        async: false,
        cache: true,
        processData: false, 
        contentType: false, 
        data:form_data,
        success: function(response_data){
        },
        fail: function(response_data){
        }
    })
})

$('.add-location-selection-button').on('submit', function(){
    let selected_scene_array = new Map();
    let location_name = '';
    let id;
    let id_list = [];
    $('#location-selection > option').each(function(){
        if($(this).prop("selected") === true){
            id = $(this).val()
            location_name = $('#location-name-'+id).text()
            id_list.push(id)
        }
    })
    selected_scene_array.set('id', parseInt('{{ scene_id }}'))
    let const_scene_id = Object.fromEntries(selected_scene_array);
    let url = "{% url 'gestion:add_location_in_scene' game_name=game_name pk=scene_id %}"
    
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'location': id_list,
            'scene_id' : JSON.stringify(const_scene_id),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response_data) {
            if(response_data.success){}
        },
        fail: function(response_data){
        }
    })
})


$('.suppress-location-selection-button').on('click', function(){
    let selected_scene_array = new Map();
    let selected_array = new Map();
    let location_name = '';
    let id;
    $('input.location-selection').each(function(){
        if($(this).prop("checked") === true){
            id = $(this).attr('id').split('-')[3]
            console.log(id)
            location_name = $('#location-name-'+id).text()
            selected_array.set(location_name, parseInt(id))
        }
    })
    selected_scene_array.set('id', parseInt('{{ scene_id }}'))
    let const_scene_id = Object.fromEntries(selected_scene_array)
    let const_location = Object.fromEntries(selected_array)
    let url = "{% url 'gestion:delete_location_from_scene' game_name=game_name %}"
    
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'location_informations': JSON.stringify(const_location),
            'scene_id' : JSON.stringify(const_scene_id),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response_data) {
            if(response_data.success){
                $.each(const_location, function(key, value){
                    $("#location-"+value).remove()
                    
                })
            }
        },
        fail: function(response_data){
        }
    })
})
</script>
{% endblock %}