{% extends "generalist_template.html"%}
{% load static %}

{% block content %}


<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
    <div class="row mb-5 col-sm-12 col-xl-12 col-lg-12 mx-auto">
        <div class="col user-main-form-title">
            <h5 class="p-2 mx-auto text-center outside-main-form-title"><i>Vos scenes mises en ligne pour le jeu <b>'{{ game_name }}'</b></i></h5>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
    {% if not scene_list and not chapter_id_list %}
        <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color" id="empty">
            <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore créé ni de scène ni de chapitre</span>
        </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-5">
                <div class="col-3 d-flex justify-content-center ">
                    <i class="fas fa-tasks fa-2x select-all-scene-button card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout selectionner"></i>
                    <i class="fas fa-list-ul fa-2x unselect-all-scene-button card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Tout déselectionner"></i>
                    <i class="fas fa-trash-alt fa-2x card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 ml-1 " id="delete-button" title="Supprimer la selection"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-element" tabindex="-1" role="dialog" aria-labelledby="delete-element" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header mx-auto col-12 suppress-confirmation-choice-msg-header">
                    <i class="fas fa-exclamation-triangle error-msg-csuppress-confirmation-choice-msg-text text-white-color mx-auto"> Attention, vous allez supprimer une scène</i> 
                </div>
                <div class="modal-body mx-auto col-12">
                    <p class="suppress-confirmation-choice-msg-text col-12">En choisissant de supprimer: </p>
                    <p class="modal-body-name col-12"></p>
                    <p class="suppress-confirmation-choice-msg-text col-12">Vous supprimerez aussi les liaisons des elements suivants:</p>
                    <p class="suppress-confirmation-choice-msg-text col-12"><b>lieux, personnages non-joueurs...</b></p>
                </div>
                <div class="modal-footer d-flex justify-content-right">
                    <i class="fas fa-times fa-2x delete-button-style-cancel card-size" data-dismiss="modal"></i>
                    <i class="fas fa-trash fa-2x delete-button-style suppress-scene-selection-button card-size" alt='confirmer suppression'></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center col-12" id="">
        {% for chapter in chapter_id_list %}
            <div class="row col-12 mb-3 chapter-{{ chapter.id }}">
                <div class="col-sm-11 col-xl-12 col-lg-12 d-flex justify-content-left bd-highlight ">
                    {% if foorloop.first %}
                        <button class="btn btn-primary picture-display-button mb-5" type="button" data-toggle="collapse" data-target=".not-empty-chapter-{{ chapter.id }}, .empty-chapter-{{ chapter.id }}" aria-expanded="false" aria-controls=".not-empty-chapter-{{ chapter.id }}, .empty-chapter-{{ chapter.id }}">Scènes liées à {{ chapter.name }}  <i class="fas fa-sort-down"></i></button>
                    {% else %}
                        <button class="btn btn-primary picture-display-button mt-5" type="button" data-toggle="collapse" data-target=".not-empty-chapter-{{ chapter.id }}, .empty-chapter-{{ chapter.id }}" aria-expanded="false" aria-controls=".not-empty-chapter-{{ chapter.id }}, .empty-chapter-{{ chapter.id }}">Scènes liées à {{ chapter.name }}  <i class="fas fa-sort-down"></i></button>
                    {% endif %}
                </div>   
            </div>
            {% if chapter.scene_count > 0 %}
                {% for scene in scene_list %}
                    {% if chapter.id == scene.id_chapter_id_id %}
                    <div class="row-3 justify-content-left" id="scene-{{ scene.id }}">
                        <input type="hidden" id="target-scene-{{ scene.id }}" value="{{ chapter.id}}"/>
                        <div class="collapse card create-new-object-card scene-card card-size item-color-{{ scene.id }} not-empty-chapter-{{ chapter.id}}" id="{{ scene.id }}" style="background-color: {{ scene.color }}">
                            <div class="card-body font-color-{{ scene.id }}">
                                <h5 class="card-title text-center" id="scene-name-{{ scene.id }}"> <input type="checkbox" name="select-scene-to-delete[]" class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 scene-selection stylized-checkbox" id="multiple-delete-scene-{{ scene.id }}"><p class="title-break" id="title-{{ scene.id }}"><b>{{ scene.name }}</b></p></h5>
                                {% if scene.image == None %}
                                <a href="{% url 'gesmjgenerator:display_selected_scene_view' game_name=game_name pk=scene.id %}"><img class="card-img-top new-card-object-image align-center mw-75 mh-75" src="{% static '/fonts/new_scene.svg' %}" alt="Card image cap"></a>
                                {% else %}
                                <a href="{% url 'gesmjgenerator:display_selected_scene_view' game_name=game_name pk=scene.id %}"><img class="card-img-top new-card-object-image align-center mw-75 mh-75" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ scene.image }}" alt="Card image cap"></a>
                                {% endif %}
                                <li class="list-group-item card-list-color color-change-{{ scene.id }}" style="background-color: {{ scene.color }}">Définir une couleur pour cette scene <input type="color" value="{{ scene.color }}" class="color-change form-control" id="color-change-{{ scene.id }}" name="color_hexa"/></li>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="collapse row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color empty-chapter-{{ chapter.id }} empty" id="">
                    <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore créé de scène pour <b>'{{ chapter.name }}'</b></span>
                    <div class="mb-3"></div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

/* set background-color and foreground color on load */
$('.color-change').ready(function(){
    $(".scene-card").each(function() {
        let scene_id = $(this).attr('id')
        let color = $('#color-change-'+scene_id).val()
        if(tinycolor(color).getBrightness() > 150){
            $('.font-color-'+scene_id+' >*').css({ 'color': 'black'})
            $('.color-change-'+scene_id+', #title-'+scene_id).css({'color': 'black'})
        }else{
            $('.font-color-'+scene_id+' >*').css({ 'color': 'white'})
            $('.color-change-'+scene_id+', #title-'+scene_id).css({'color': 'white'})
        }
    });
})

/* set background-color and foreground color on change */
$('.color-change').on('change', function(){
    let new_color = $(this).val()
    let scene_id = $(this).attr('id').split('-')[2]
    let color = 'white'
    if(tinycolor(new_color).getBrightness() > 150){
        color = 'black'
    }
    $('.item-color-'+scene_id+', .color-change-'+scene_id+', #title-'+scene_id).css({'background-color': new_color, 'color': color})
    
    let send_formatted_hex = new_color.split('#')[1];
    let url = "{% url 'gestion:file_color_change' game_name=game_name file_type='scene' id='id' color='new_color' %}".replace(/id/, scene_id.toString()).replace(/new_color/, send_formatted_hex.toString());
    $.ajax({
        url: url,
        type: 'GET',
        processData: false, 
        contentType: false, 
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:'',
        success: function (response_data){
        },
        fail: function(response_data){
        }
    })
})


   $( document ).ready(function() {
        $('input[type=checkbox]').each(function(){
            $(this).prop('checked', false);
        })
    }); 

    $('.unselect-all-scene-button').hide()
    $('.unselect-all-scene-button').on('click', function(){
        let id_number = ''
        let background_color = ''
        $('.scene-selection').each(function(){
            $(this).prop("checked", false)
            id_number = $(this).attr('id').split('-')[3]
            background_color = $('#color-change-'+id_number).val()
            $('.item-color-'+id_number).css({'background-color': background_color,'filter' : 'brightness(1)'}).addClass('card-size').removeClass('selected-for-delete-font');
            $('#delete-button').removeAttr('data-toggle','data-target')
        })
        $('.unselect-all-scene-button').hide()
        $('.select-all-scene-button').show()
    })

    $('.select-all-scene-button').on('click', function(){
        let id_number = ''
        let background_color = ''
        $('.scene-selection').each(function(){
            $(this).prop("checked", true)
            id_number = $(this).attr('id').split('-')[3]
            if($('#color-change-'+id_number).val() != "#ffffff"){
                background_color = $('#color-change-'+id_number).val()
            }else{
                background_color = "#ffffff"
            }
            $('.item-color-'+id_number).css({'background-color': background_color, 'filter' : 'brightness(0.2)'}).addClass('selected-for-delete-font').removeClass('card-size')
            $('#delete-button').attr({'data-toggle':'modal','data-target':'#delete-element'})
        })
        $('.select-all-scene-button').hide()
        $('.unselect-all-scene-button').show()
    })

    $('.scene-selection').on('click', function(){
        let checkbox_id = $(this).attr('id')
        let id_number = $(this).attr('id').split('-')[3]
        if(jQuery('#delete-button')[0].hasAttribute('data-toggle') !== true){
            $('#delete-button').attr({'data-toggle':'modal','data-target':'#delete-element'})
        }
        if($('#'+checkbox_id).is(':checked')){
            $('.item-color-'+id_number).css('filter', 'brightness(0.5)').addClass('selected-for-delete-font').removeClass('card-size')
        }else{
            $('.item-color-'+id_number).css('filter', 'brightness(1)').removeClass('selected-for-delete-font').addClass('card-size')
        }
    })

    $('#delete-button').on('click', function(){
        $('.modal-body-name').html('')
        let i = 1;
        let checked_len = $('.scene-selection:checkbox:checked').length
        $($('.scene-selection:checkbox:checked')).each(function(){
            id = $(this).attr('id').split('-')[3];
            if(i == checked_len){
                $('.modal-body-name').append('<p><b>- '+ $('#scene-name-'+id).text()+'</b></p>');
            }else{
                $('.modal-body-name').append('<p><b>- '+ $('#scene-name-'+id).text()+'</b>,</p>');
            }
            i++;
        })
    })

    $('.suppress-scene-selection-button').on('click', function(){
        $('#delete-element').modal('hide');
        let selected_array = new Map();
        let selected_chapter = new Map();
        let scene_name = '';
        let id;
        $($('.scene-selection:checkbox:checked')).each(function(){
            id = $(this).attr('id').split('-')[3]
            scene_name = $('#scene-name-'+id).text()
            chapter_id = $('#target-scene-'+id).val()
            selected_array.set(scene_name, parseInt(id))
            selected_chapter.set('scene-id-'+id, parseInt(chapter_id))
        })
        let const_scene = Object.fromEntries(selected_array)
        let const_selected_chapter = Object.fromEntries(selected_chapter)
        let url = "{% url 'gestion:delete_scene' game_name=game_name %}"
        
        $.ajax({
            url: url,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
                'scene_informations': JSON.stringify(const_scene),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response_data) {
                if(response_data.success){
                    $.each(const_scene, function(scene_key, scene_value){
                        $("#scene-"+scene_value).remove()
                    })
                    $.each(const_selected_chapter, function(chapter_key, chapter_value){
                        if($('.not-empty-chapter-'+chapter_value).length == 0 && $('.empty-chapter-'+chapter_value).length == 0){
                            $('.chapter-'+chapter_value).after('<div class="collapse row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form npc-main-form border background-color empty-chapter-'+chapter_value+' empty" id="">\
                                <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n\'avez pas encore créé de scène</span>\
                                <div class="mb-3"></div>\
                                </div>')
                        } 
                    })
                }
            },
            fail: function(response_data){
            }
        })
    })
</script>
{% endblock %}