    {% extends "generalist_template.html"%}
    {% load static %}

    {% block content %}


    <div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:game_content_view" game_name=game_name %}' class="url-path">{{ game_name }}</a>
            <span class="url-separator"><b> / </b> </span> 
            <a href='{% url "gesmjgenerator:display_scenario_list_view" game_name=game_name %}' class="url-path">scenarios</a>
        </div>
    </div>
    </div>
    <div class="container-fluid container-content">
    <div class="row no-gutters">
        <div class="col-12 container-whitespace">
        </div>
    </div>
    <div class="row mb-5 col-12 mx-auto">
    {% for scenario in scenario_content %}
        <div class="row col-12">
            <h5 class="mx-auto col-10 p-2 mx-auto text-center outside-main-form-title"><i><b>{{ scenario.name }}</b></i></h5>
        </div>
        <div class="row rounded mx-auto " id="scenario-image">
            {% if scenario.image %}
            <img src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ scenario.image }}" class="col-8 mb-1 pt-2 pb-3 mx-auto scenario-image" onclick="openFileOption();return;"/>
            {% else %}
            <img src="{% static '/fonts/new_scenario.svg' %}" class="col-8 mb-1 pt-2 pb-3 mx-auto scenario-image" onclick="openFileOption();return;"/>
            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-1">
                    <div class="col-3 d-flex justify-content-center ">
                        <input type="file" id="id_file" onchange="readURL(this)" style="display:none">
                        <i class="far fa-edit fa-2x save-image-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="sauvegarder l'image"></i>
                        <i class="far fa-window-close fa-2x cancel-image-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12" id="scenario-description">
            <div class="col-12 text-center outside-main-form-title mt-1 mx-auto"><b>Description</b></div>
            {% if scenario.description %}
            <span class="mx-auto text-center col-12 mb-1 pt-2 pb-2  edit-cursor scroller" id="editable-description-content" >
                    <span class="editable-scenario-text scroller" id="scenario-text" style="color:white;">
                        {% autoescape off %} {{ scenario.description }} {% endautoescape %}
                    {% else %}
                    <span class="mx-auto text-center col-12 mb-1 pt-2 pb-2  edit-cursor " id="editable-description-content" >
                        <span class="editable-scenario-text" id="scenario-text" style="color:white;">
                        Aucune description définie
                    {% endif %}
                </span>
            </span>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-1">
                    <div class="col-3 d-flex justify-content-center ">
                        <i class="far fa-edit fa-2x save-text-edit card-size select-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Sauvegarder"></i>
                        <i class="far fa-window-close fa-2x cancel-text-edit card-size switched-button-style col-xl-1 col-md-2 col-lg-2 col-sm-5 mr-1" title="Annuler les modifications"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="row col-12 mb-3">
            <div class="col-sm-11 col-xl-12 col-lg-12 d-flex justify-content-left bd-highlight ">
                <button class="btn btn-primary chapter-display-button" type="button" data-toggle="collapse" data-target=".not-empty-chapter, .empty-chapter" aria-expanded="false" aria-controls=".not-empty-chapter, .empty-chapter">Vos chapitres  <i class="fas fa-sort-down"></i></button>
            </div>   
        </div>
    </div>
    {% if not chapter_content %}
    <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-1 pt-2 pb-2 mx-auto user-main-form chapter-main-form border background-color empty-chapter" id="empty">
        <span class="mx-auto error-msg-color"><i class="fas fa-exclamation-triangle"></i> Vous n'avez pas encore créé de chapitres pour ce scénario</span>
    </div>
    {% else %}
    <div class="row d-flex justify-content-center col-12 mx-auto" id="">
    {% for chapter in chapter_content %}
        <div class="collapse not-empty-chapter card col-xl-2 col-md-8 col-sm-8 col-12 create-new-object-card chapter-card card-size" id="{{ chapter.id }}" style="background-color: {{ chapter.color }}">
            <div class="card-body">
                <h5 class="card-title text-center" id="chapter-name-{{ chapter.id }}">{{ chapter.name }}</h5>
                {% if chapter.image == None %}
                <a href="{% url 'gesmjgenerator:display_selected_chapter_view' game_name=game_name pk=chapter.id %}"><img class="card-img-top new-card-object-image align-center " src="{% static '/fonts/new_chapter.svg' %}" alt="Card image cap"></a>
                {% else %}
                <a href="{% url 'gesmjgenerator:display_selected_chapter_view' game_name=game_name pk=chapter.id %}"><img class="card-img-top new-card-object-image align-center" src="{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ chapter.image }}" alt="Card image cap"></a>
                {% endif %}
                <input type="hidden" id="font-color" value="{{ scenario.color }}"/>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    </div>
    {% endblock %}

    {% block javascript %}
    <script>

    /* set background-color and foreground color on load */
    $('.not-empty-chapter').ready(function(){
    let rgb_color = '';
    $('.not-empty-chapter').each(function(){
        rgb_color = $(this).css('background-color')
        if(tinycolor(rgb_color).getBrightness() > 150){
            $(this).css({ 'color': 'black'})
        }else{
            $(this).css({ 'color': 'white'})
        }
    })
    })

    $( document ).ready(function() {
        $('input[type=checkbox]').each(function(){
            $(this).prop('checked', false);
        })
        $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()
    }); 


    let editor = ''
    let is_open = false;

    $('.cancel-text-edit').on('click', function(){
        $('.cancel-text-edit, .save-text-edit').hide()
        let text = $('.editable-scenario-text').html()
        editor.destroy();
        $('.editable-scenario-text').html(text)
        is_open = false;
    })
    

$('div#scenario-description').on('click', function(){
    if(is_open === false){
        $('.cancel-text-edit, .save-text-edit').show()
        text_content = $('#scenario-text').html()
        editor = CKEDITOR.replace('scenario-text');
        $('.cke_editor1').css('margin','auto')
        CKEDITOR.instances['scenario-text'].setData(text_content)
        is_open = true;
    }
})

$('.save-text-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit').hide();
    
    let text_value = '';
    is_open = false;
    textbox_data = CKEDITOR.instances['scenario-text'].getData();
    if(textbox_data.replace(/&nbsp;|<p>|<\/p>|\s/g, '').length === 0){
        CKEDITOR.instances['scenario-text'].destroy();
        $('#scenario-text').text('Description vide.');
        text_value = "Description vide.";
    }else{
        $('#scenario-text').text(CKEDITOR.instances['scenario-text'].getData());
        CKEDITOR.instances['scenario-text'].destroy();
        text_value = $('#scenario-text').html();
    }
    let url = "{% url 'gestion:edit_scenario_text' game_name=game_name %}"
    $.ajax({
        url: url,
        type: 'POST',
        dataType : 'json',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data:{
            'description': text_value,
            'scenario_id' : '{{ scenario_id }}',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response_data) {
        },
        fail: function(response_data){
        }
    })
})

function openFileOption(){
    $('#id_file').click();
    $('.save-image-edit, .cancel-image-edit').show()
}

function readURL(input) {
    var url = input.value;
    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0]&& (ext == "png" || ext == "jpg")) {
        var reader = new FileReader();
    
        reader.onload = function (e) {
            $('.scenario-image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
    else{
         $('.scenario-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ scenario.image }}');
    }
}


$('.cancel-image-edit').on('click', function(){
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()
    $('.scenario-image').attr('src', '{{ MEDIA_URL }}{{ request.user.id }}/{{ game_name }}/{{ old_file_name }}')
})

$('.save-image-edit').on('click', function(){ 
    $('.cancel-text-edit, .save-text-edit, .save-image-edit, .cancel-image-edit').hide()

    let game_name = '{{ game_name }}';
    let document_id = '{{ document_id }}';
    let element_subtype_id = '{{ scenario_id }}';
    let new_short_name =  $('input[type=file]').val().split('\\').pop();
    
    let file_data = $('input[type=file]').prop('files')[0];   
    let form_data = new FormData();                  
    form_data.append('file', file_data);                  
    form_data.append('file_name', file_data);
    form_data.append('filename', file_data.name);
    form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    let url = "{% url 'gestion:update_element' game_name='game_name' old_file_name=old_file_name new_short_name='new_short_name' element_type='image' element_subtype='scenario' element_subtype_id='element_subtype_id' %}".replace(/game_name/, game_name.toString()).replace(/new_short_name/, new_short_name.toString()).replace(/document_id/, document_id.toString()).replace(/element_subtype_id/, element_subtype_id.toString());
    $.ajax({
        url: url ,
        type: 'post',
        csrfmiddlewaretoken: '{{ csrf_token }}',
        async: false,
        cache: true,
        processData: false, 
        contentType: false, 
        data:form_data,
        success: function(response_data){
        },
        fail: function(response_data){
        }
    })
})


    </script>
    {% endblock %}