{% extends "generalist_template.html"%}
{% load static %}

{% block content %}
<div class="container-fluid url-container-background-image">
    <div class="row no-gutters">
        <div class="col col-12 text-center url-path-div mb-2 pb-2 url-container-background-image">
            <a href='{% url "gesmjgenerator:index_view"%}' class="url-path">accueil</a> 
            <span class="url-separator"><b> /</b> </span> 
            <a href='{% url "gesmjgenerator:dashboard_view"%}' class="url-path">dashboard</a>
        </div>
    </div>
</div>
<div class="container-fluid container-content">
    <div class="container-fluid">
        <div class="row mb-5 col-12 mx-auto">
            <div class="col user-main-form-title">
                <h5 class="p-2 mx-auto text-center outside-main-form-title"><i>Résultat de vos recherches </i></h5>
            </div>
        </div>
        <div class="row mb-5 col-10 mx-auto">
            <div class="col user-main-form-title">
                <ul class="list-group">
                {% for result in search_result%}
                    {% if search_keyword == 'scenario'%}
                        <a class="list-group-item text-center search-result-color-switch" href='{% url "gesmjgenerator:display_selected_scenario_view" game_name=game_name pk=result.pk %}' aria-current="true">{{ result.fields.name }}</a>
                    {% elif search_keyword == 'chapter' %}
                        <a class="list-group-item text-center search-result-color-switch" href='{% url "gesmjgenerator:display_selected_chapter_view" game_name=game_name pk=result.pk %}' aria-current="true">{{ result.fields.name }}</a>
                    {% elif search_keyword == 'scene' %}
                        <a class="list-group-item text-center search-result-color-switch" href='{% url "gesmjgenerator:display_selected_scene_view" game_name=game_name pk=result.pk %}' aria-current="true">{{ result.fields.name }}</a>
                    {% elif search_keyword == 'item' %}
                        <a class="list-group-item text-center search-result-color-switch" href='{% url "gesmjgenerator:display_selected_item_view" game_name=game_name pk=result.pk %}' aria-current="true">{{ result.fields.name }}</a>
                    {% elif search_keyword == 'npc' %}
                        <a class="list-group-item text-center search-result-color-switch" href='{% url "gesmjgenerator:display_selected_npc_view" game_name=game_name pk=result.pk %}' aria-current="true">{{ result.fields.name }}</a>
                    {% elif search_keyword == 'location' %}
                        <a class="list-group-item text-center search-result-color-switch" href='{% url "gesmjgenerator:display_selected_location_view" game_name=game_name pk=result.pk %}' aria-current="true">{{ result.fields.name }}</a>
                    {% elif search_keyword == 'document' %}
                        <a class="list-group-item text-center search-result-color-switch" href='{% url "gesmjgenerator:display_selected_document_view" game_name=game_name pk=result.pk %}' aria-current="true">{{ result.fields.name }}</a>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

'{% url "gesmjgenerator:display_selected_document_view" game_name=game_name pk=1234 %}'.replace(1234,dynamic_id.toString());